/node_modules
/public/hot
/public/asset.zip
/public/find.zip
/public/storage
/storage
/storage/framework/views/
/storage/*.key
/vendor
.idea
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/config/database.php
/config/app.php
.idea/inspectionProfiles/
config/app.php
config/constants.php
storage/*
ssspass.txt
/ssspass.txt
