.sidebar-menu .nav-item .nav-link,
.sidebar-menu-2 .nav-item .nav-link {
    font-size: 12px;
}

.sidebar-menu .icon-next .relative-svg {
    position: relative;
    rotate: 0deg;
    margin: 0;
}

.timeline-status .modal-dialog {
    max-width: none;
}

.input-group.search-topbar input {
    border-right: none;
    height: 40px;
}

.search-topbar .input-group-text {
    background-color: #fff;
    border-left: none;
    border-radius: 8px;
    height: 40px;
}

.timeline-card {
    background: linear-gradient(180deg, rgba(253, 253, 254, 1) 50%, rgba(238, 238, 239, 1) 100%);
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 12px;
    padding: 0;
}

/* Timeline Styles */

.bg-timeline-header {
    background: linear-gradient(180deg, rgba(0, 109, 175, 1) 50%, rgba(0, 55, 88, 1) 100%);
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 14px 14px 0px 0px;
    padding: .5rem 1rem;
    color: #fff;
}

.bg-timeline-header h6 {
    margin-bottom: 0;
}

.btn-timeline {
    background: linear-gradient(180deg, rgba(253, 253, 254, 1) 50%, rgba(236, 236, 237, 1) 100%);
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    font-size: 12px;
}

.timeline-body {
    padding: .5rem 0;
}

.table-timeline {
    font-size: 12px;
    border-radius: 14px 14px 0 0;
    box-shadow: 0px 3px 6px #00000038;
}

.timeline-contents {
    background: linear-gradient(180deg, rgba(253, 253, 254, 1) 50%, rgba(236, 236, 237, 1) 100%);
    box-shadow: 0px 20px 60px #00000014;
    border-radius: 14px;

}

.table-timeline tr.header {
    background: linear-gradient(180deg, rgba(21, 131, 225, 1) 50%, rgba(3, 128, 207, 1) 100%);
    box-shadow: 0px 3px 6px #00000038;
    color: #fff;
    border-radius: 14px;

}

.table-timeline tr.header th {
    font-weight: 400;
}

.table-timeline tr th,
.table-timeline tr td {
    padding: 8px;
    text-align: center;
    border-right: 1px solid #A7A7A7;
}

.table-timeline tr td {
    font-weight: 500;
}

.table-timeline tr.header th:nth-child(6),
.table-timeline tr.header th:last-child,
.table-timeline tbody tr td:last-child {
    border-right: none;
}

.table-timeline tr.header th:first-child {
    border-radius: 14px 0 0 0;
}

.table-timeline tr.header th:last-child {
    border-radius: 0 14px 0 0;
}


th.cell-span {
    background: linear-gradient(180deg, rgba(253, 253, 254, 1) 50%, rgba(236, 236, 237, 1) 100%);
}

.dp-comments-section {
    padding: 1rem;
}

.cd-horizontal-timeline .dp-comments-section .comment-list span {
    display: block;
    font-size: 14px;
    margin-bottom: 1rem;
}

.timeline-footer {
    padding: .25rem 1rem 1rem 1rem;
}

hr.line {
    height: 2px;
    background-color: #707070;
    margin: .5rem 0;
}

.btn-green {
    background: linear-gradient(180deg, rgba(0, 203, 68, 1) 50%, rgba(3, 97, 0, 1) 100%);
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 6px;
    color: #fff;
    padding: .25rem 1rem;
    font-size: 12px;
}





.cd-horizontal-timeline ol,
.cd-horizontal-timeline ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: .5rem;
}

.cd-timeline-navigation a:hover,
.cd-timeline-navigation a:focus {
    border-color: #313740;

}

.cd-horizontal-timeline a,
.cd-horizontal-timeline a:hover,
.cd-horizontal-timeline a:focus {
    color: #313740;
}

.cd-horizontal-timeline blockquote,
.cd-horizontal-timeline q {
    quotes: none;
}

.cd-horizontal-timeline blockquote:before,
.cd-horizontal-timeline blockquote:after,
.cd-horizontal-timeline q:before,
.cd-horizontal-timeline q:after {
    content: '';
    content: none;
}

.cd-horizontal-timeline table {
    border-collapse: collapse;
    border-spacing: 0;
}

.cd-horizontal-timeline {
    opacity: 0;
    margin: 2em auto 0 auto;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.cd-horizontal-timeline::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'mobile';
    display: none;
}

.cd-horizontal-timeline.loaded {
    /* show the timeline after events position has been set (using JavaScript) */
    opacity: 1;
}

.cd-horizontal-timeline .timeline {
    position: relative;
    height: 100px;
    margin: 0 auto;
}

.cd-horizontal-timeline .events-wrapper {
    position: relative;
    height: 100%;
    margin: 0 40px;
    overflow: hidden;
}

.cd-horizontal-timeline .events-wrapper::after,
.cd-horizontal-timeline .events-wrapper::before {
    /* these are used to create a shadow effect at the sides of the timeline */
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    height: 100%;
    width: 100px;
}

.cd-horizontal-timeline .events-wrapper::before {
    left: 0;

}

.cd-horizontal-timeline .events-wrapper::after {
    right: 0;

}

.cd-horizontal-timeline .events {
    /* this is the grey line/timeline */
    position: absolute;
    z-index: 1;
    left: 0;
    top: 50px;
    height: 2px;
    /* width will be set using JavaScript */
    background: #dfdfdf;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
}

.cd-horizontal-timeline .filling-line {
    /* this is used to create the green line filling the timeline */
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #0E82DA;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}

.cd-horizontal-timeline .events a {
    position: absolute;
    bottom: 0;
    z-index: 2;
    text-align: center;
    font-size: 10px;
    padding-bottom: 30px;

    /* fix bug on Safari - text flickering while timeline translates */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

.cd-horizontal-timeline .events a::after {
    /* this is used to create the event spot */
    content: '';
    position: absolute;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    background-image: url(../icons/timeline-hexgon.svg);
    background-position: center center;
    background-repeat: no-repeat;
    bottom: -25px;
    height: 50px;
    width: 50px;
    /* border-radius: 50%;
    border: 2px solid #dfdfdf;
    background-color: #f8f8f8; */
    -webkit-transition: background-color 0.3s, border-color 0.3s;
    -moz-transition: background-color 0.3s, border-color 0.3s;
    transition: background-color 0.3s, border-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
}

.cd-horizontal-timeline .events li:nth-child(1) a::after {
    content: '1';
}

.cd-horizontal-timeline .events li:nth-child(2) a::after {
    content: '2';
}

.cd-horizontal-timeline .events li:nth-child(3) a::after {
    content: '3';
}

.cd-horizontal-timeline .events li:nth-child(4) a::after {
    content: '4';
}

.cd-horizontal-timeline .events li:nth-child(5) a::after {
    content: '5';
}

.cd-horizontal-timeline .events li:nth-child(6) a::after {
    content: '6';
}

.cd-horizontal-timeline .events li:nth-child(7) a::after {
    content: '7';
}

.cd-horizontal-timeline .events li:nth-child(8) a::after {
    content: '8';
}

.cd-horizontal-timeline .events li:nth-child(9) a::after {
    content: '9';
}

.cd-horizontal-timeline .events li:nth-child(10) a::after {
    content: '10';
}

.cd-horizontal-timeline .events li:nth-child(11) a::after {
    content: '11';
}

.cd-horizontal-timeline .events a.selected::after {
    color: #fff;
}

.no-touch .cd-horizontal-timeline .events a:hover::after {
    background-color: #313740;
    border-color: #313740;
}

.cd-horizontal-timeline .events a.selected {
    pointer-events: none;
    color: #0A81D6;
}

.cd-horizontal-timeline .events a.selected::after {
    background-image: url(../icons/timeline-active.svg);
    background-position: center center;
    background-repeat: no-repeat;
    /* background-color: #313740;
    border-color: #313740; */
}

.cd-horizontal-timeline .events a.older-event::after {
    border-color: #313740;
}

@media only screen and (min-width: 1100px) {
    .cd-horizontal-timeline::before {
        /* never visible - this is used in jQuery to check the current MQ */
        content: 'desktop';
    }
}

.cd-timeline-navigation a {
    /* these are the left/right arrows to navigate the timeline */
    position: absolute;
    z-index: 1;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    background: linear-gradient(180deg, rgba(253, 253, 254, 1) 50%, rgba(236, 236, 237, 1) 100%);
    height: 40px;
    width: 40px;
    border-radius: 14px;
    box-shadow: 0px 3px 6px #00000038;
    /* replace text with an icon */
    overflow: hidden;
    color: transparent;
    text-indent: 100%;
    white-space: nowrap;
    -webkit-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    transition: border-color 0.3s;
}

.cd-timeline-navigation a::after {
    /* arrow icon */
    content: '';
    position: absolute;
    height: 16px;
    width: 16px;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.cd-timeline-navigation a.prev {
    left: 0;
}

.cd-timeline-navigation a.prev::after {
    background-image: url(../icons/timeline-previous.svg);
    background-position: center center;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
}

.cd-timeline-navigation a.next {
    right: 0;
}

.cd-timeline-navigation a.next::after {
    background-image: url(../icons/timeline-next.svg);
    background-position: center center;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
}

.no-touch .cd-timeline-navigation a:hover {
    border-color: #7b9d6f;
}

.cd-timeline-navigation a.inactive {
    cursor: not-allowed;
}

/* .cd-timeline-navigation a.inactive::after {
    background-position: 0 -16px;
} */

.no-touch .cd-timeline-navigation a.inactive:hover {
    border-color: #dfdfdf;
}

.cd-horizontal-timeline .events-content {
    position: relative;
    width: 100%;
    margin: 1rem 0 0 0;
    /* overflow: hidden; */
    -webkit-transition: height 0.4s;
    -moz-transition: height 0.4s;
    transition: height 0.4s;
}

.cd-horizontal-timeline .events-content li {
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 0;
    top: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    padding: 0;
    opacity: 0;
    -webkit-animation-duration: 0.4s;
    -moz-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

.cd-horizontal-timeline .events-content li.selected {
    /* visible event content */
    position: relative;
    z-index: 2;
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

.cd-horizontal-timeline .events-content li.enter-right,
.cd-horizontal-timeline .events-content li.leave-right {
    -webkit-animation-name: cd-enter-right;
    -moz-animation-name: cd-enter-right;
    animation-name: cd-enter-right;
}

.cd-horizontal-timeline .events-content li.enter-left,
.cd-horizontal-timeline .events-content li.leave-left {
    -webkit-animation-name: cd-enter-left;
    -moz-animation-name: cd-enter-left;
    animation-name: cd-enter-left;
}

.cd-horizontal-timeline .events-content li.leave-right,
.cd-horizontal-timeline .events-content li.leave-left {
    -webkit-animation-direction: reverse;
    -moz-animation-direction: reverse;
    animation-direction: reverse;
}

.cd-horizontal-timeline .events-content li>* {
    margin: 0 auto;
}

.cd-horizontal-timeline .events-content h4 {
    font-weight: 700;
    margin-bottom: 0px;
    line-height: 20px;
    margin-bottom: 15px;
}

.cd-horizontal-timeline .events-content h4 small {
    font-weight: 400;
    line-height: normal;
    font-size: 15px;
}

.cd-horizontal-timeline .events-content em {
    display: block;
    font-style: italic;
    margin: 10px auto;
}

.cd-horizontal-timeline .events-content em::before {
    content: '- ';
}

.cd-horizontal-timeline .events-content p {
    font-size: 16px;
    margin-top: 15px;

}

@media only screen and (min-width: 768px) {

    .cd-horizontal-timeline .events-content em {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 767px) {

    .cd-horizontal-timeline.loaded {
        margin: 0;
    }

    .cd-horizontal-timeline .timeline {
        width: 100%;
    }

    .cd-horizontal-timeline ol,
    .cd-horizontal-timeline ul {
        padding: 0;
        margin: 0;
    }

    .cd-horizontal-timeline .events-content h4 {
        font-size: 16px;
    }

    .cd-horizontal-timeline .events-content {
        margin: 0;
    }

    .cd-timeline-navigation a {
        height: 35px;
        width: 35px;
    }
}

@-webkit-keyframes cd-enter-right {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
    }
}

@-moz-keyframes cd-enter-right {
    0% {
        opacity: 0;
        -moz-transform: translateX(100%);
    }

    100% {
        opacity: 1;
        -moz-transform: translateX(0%);
    }
}

@keyframes cd-enter-right {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@-webkit-keyframes cd-enter-left {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
    }
}

@-moz-keyframes cd-enter-left {
    0% {
        opacity: 0;
        -moz-transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        -moz-transform: translateX(0%);
    }
}

@keyframes cd-enter-left {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }
}

.timeline:before {
    content: " ";
    display: none;
    bottom: 0;
    left: 0%;
    width: 0px;
    margin-left: -1.5px;
    background-color: #eeeeee;
}

/* Media Query */

@media (max-width:1025px) {
    .responsiveTable thead {
        display: none;
    }

    .table-timeline tr.header {
        display: none;
    }

    .responsiveTable tbody tr {
        margin-bottom: 5px;
    }

    .responsiveTable td {
        min-height: 60px;
    }

    .responsiveTable td .tdBefore {
        white-space: nowrap;
    }

    .table-timeline {
        box-shadow: none;
    }

    .table-timeline tbody tr:last-child td:first-child {
        border-radius: 6px 0 0 0;
    }

    .table-timeline tbody tr:last-child td:last-child {
        border-radius: 0 0 0 6px;
    }

    .table-timeline tbody tr td:last-child {
        border-right: 1px solid #A7A7A7;
    }

    .responsiveTable td.pivoted:nth-child(5n+5) {
        border-right: none;
    }
}

@media (max-width:991px) {
    .table-timeline tbody tr td:nth-child(4) {
        border-right: none;
    }

    .responsiveTable td.pivoted {
        padding: 5px 10px !important;
    }

    .responsiveTable td.pivoted:nth-child(1) {
        border-radius: 6px 0 0 0;
    }

    .responsiveTable td.pivoted:nth-child(6),
    .responsiveTable td.pivoted:nth-child(9) {
        border-radius: 0;
    }

    .responsiveTable td.pivoted:nth-child(5) {
        border-radius: 0 0 0 6px;
    }

    .responsiveTable td.pivoted:nth-child(5n+5),
    .table-timeline tbody tr td:last-child {
        border-right: 1px solid #A7A7A7;
    }

    .responsiveTable td.pivoted:nth-child(4n+4) {
        border-right: none;
    }
}

@media (max-width:767px) {

    span,
    p {
        font-size: 12px;
    }

    .timeline-body {
        padding: .5rem 0;
    }

    .btn-timeline {
        margin-top: .5rem;
        width: 48%;
    }

    .form-control,
    .form-select,
    .input-group-text {
        border-radius: 4px;
    }

    .responsiveTable td.pivoted:nth-child(9) {
        border-radius: 0;
    }

    .responsiveTable td.pivoted:nth-child(14),
    .table-timeline tbody tr:last-child td:last-child {
        border-radius: 0 0 6px 0;
    }


    .responsiveTable td.pivoted:nth-child(5n+5),
    .table-timeline tbody tr td:last-child {
        border-right: 1px solid #A7A7A7;
    }

    .responsiveTable td.pivoted:nth-child(2n+2) {
        border-right: none;
    }
}
