.st0 {
    fill: none;
    stroke: #13BEC1;
    stroke-width: 2;
}

.st1 {
    fill: #f8f8f8;
}

.st2 {
    fill: #f8f8f8;
    stroke: #13BEC1;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st40 {
    fill: none;
    stroke: #B95600;
    stroke-width: 2;
}

.st41 {
    fill: #f8f8f8;
}

.st42 {
    fill: #f8f8f8;
    stroke: #B95600;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st10 {
    fill: none;
    stroke: #6099DB;
    stroke-width: 2;
}

.st11 {
    fill: #f8f8f8;
}

.st12 {
    fill: #f8f8f8;
    stroke: #6099DB;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st20 {
    fill: none;
    stroke: #59698D;
    stroke-width: 2;
}

.st21 {
    fill: #f8f8f8;
}

.st22 {
    fill: #f8f8f8;
    stroke: #59698D;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st30 {
    fill: none;
    stroke: #D53FB2;
    stroke-width: 2;
}

.st31 {
    fill: #f8f8f8;
}

.st32 {
    fill: #f8f8f8;
    stroke: #D53FB2;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.st20 {
    fill: none;
    stroke: #DC8ED2;
    stroke-width: 2;
}

.st21 {
    fill: #f8f8f8;
}

.st22 {
    fill: #f8f8f8;
    stroke: #DC8ED2;
    stroke-width: 2;
    stroke-miterlimit: 10;
}