.foHourTxt {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.btn-check:focus+.btn,
.btn:focus {
    top: 0 !important;
}

th, td {
    text-align: left;
    padding: 8px;
}
