.welcome-screen-logo-image {
    padding: 25px 0;
}

.ed-home-title-line-height {
    line-height: 48px;
}

@media screen and (min-width:992px) {
    .ibox-logo-allignment {
        padding: 20px 0 0 20px !important;
    }
}

@media screen and (max-width:992px) {
    .welcome-screen-top-text {
        text-align: center;
        padding-bottom: 25px;
    }
}

@media screen and (max-width:767px) {
    .welcome-screen-top-text {
        padding-top: 25px;
    }
    .card-welcome {
        margin: 30px 0px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .card-welcome {
        padding: 3rem 10px;
        margin: 30px 10px;
    }
    .card-body {
        padding: 0;
    }
}