.bg-primary {
    background: linear-gradient(180deg, rgba(0, 139, 223, 1) 50%, rgba(1, 42, 67, 1) 100%) !important;
}
.offcanvas-en-dp-comment {
    top: 0!important;
    right: 0;
    width: 50%!important;
    border-left: 1px solid rgba(0,0,0,.2);
    transform: translateX(100%);
}
@media(max-width:767px) {
    .offcanvas-en-dp-comment {
        width: 100% !important;
    }
}

