.btn-add-comment {
    background: linear-gradient(rgb(128, 0, 41) 0%, rgb(128, 0, 62) 50%, rgb(128, 0, 32) 100%);
}
.btn-add-comment {
    padding: 0.25rem 0.5rem;
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-size: 12px;
    width: 100%;
    border: 1px solid #FFFFFF;
}


.card-col-grp .row .col-icons span {
    background: linear-gradient(180deg, rgba(253, 253, 254, 1) 50%, rgba(236, 236, 237, 1) 100%);
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 5px;
    padding: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 3px;
}
.card-col-grp .row:nth-child(even) {
    background-color: #F2F2F3;
    padding: 3px;
}

.card-col-grp .row .col-icons span:last-child {
    margin-right: 0;
}
