* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color:#000000;
    font-weight:normal;
    -webkit-print-color-adjust: exact;
}

.flags-section .flag-group{
    width: 12.5%;
}


.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.needs-new-page {
    page-break-before: always;

}

@media print {
    .p-2 {
        padding: 0.5rem!important;
    }

    .row-cols-lg-5>* {
        flex: 0 0 auto;
        width: 20%;
    }
    .row {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(var(--bs-gutter-y) * -1);
        margin-right: calc(var(--bs-gutter-x) * -.5);
        margin-left: calc(var(--bs-gutter-x) * -.5);
    }

    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
    .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
    }

    .rectangle-block-2 {
        background: linear-gradient(180deg, rgba(253, 253, 254, 1) 50%, rgba(238, 238, 239, 1) 100%);
        box-shadow: 0px 3px 6px #00000038;
        border-radius: 14px 14px 0 0;
        padding: 0.5rem 1rem;
    }
    .col-lg-12 {
        flex: 0 0 auto;
        width: 100%;
    }

    .col-lg-3 {
        flex: 0 0 auto;
        width: 25%;
    }
    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .card-body {
        flex: 1 1 auto;
        padding: 1rem 1rem;
    }
    .ps-md-1 {
        padding-left: 0.25rem!important;
    }
    .col-md-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .text-center {
        text-align: center!important;

    .pe-md-1 {
        padding-right: 0.25rem!important;
    }
    .offset-lg-2 {
        margin-left: 16.66666667% !important;
    }
    .offset-md-1 {
        margin-left: 8.33333333% !important;
    }
    .col-lg-4 {
        flex: 0 0 auto;
        width: 33.33333333% !important;
    }
    .care-block .rectangle-block-2 {
        border-radius: 10px 10px 0 0;
    }
    .card-dischage-summary .rectangle-block-1 {
        border-radius: 7px;
    }
    .rectangle-block-1 {
        background: linear-gradient(180deg, rgba(253, 253, 254, 1) 50%, rgba(238, 238, 239, 1) 100%);
        box-shadow: 0px 3px 6px #00000038;
        border-radius: 14px;
    }
    .mb-1 {
        margin-bottom: 0.25rem!important;
    }
    .care-block .rectangle-block-1 {
        background: #fff;
        border-radius: 10px;
    }
    .rectangle-block-2 {
        background: linear-gradient(180deg, rgba(253, 253, 254, 1) 50%, rgba(238, 238, 239, 1) 100%);
        box-shadow: 0px 3px 6px #00000038;
        border-radius: 14px 14px 0 0;
        padding: 0.5rem 1rem;
    }

    .col-sm-12 {
        width: 100% !important;
    }
    .col-md-3 {
        flex: 0 0 auto;
        width: 25%;
    }
    .pe-md-1 {
        padding-right: 0.25rem!important;
    }
    .card-dischage-summary .rectangle-block-1 {
        border-radius: 7px !important;
    }
    .col-12 {
        flex: 0 0 auto;
        width: 100%;
    }
    .bg-ash {
        background-color: #F3F3F4;
        padding: 1rem;
        box-shadow: 0px 3px 20px #00000029;
        height: 535px;
        margin-top: -8px;
    }
    .card-col-grp {
        background-color: #fff;
        overflow-y: hidden;
        border: 1px solid #ced4da;
        border-radius: 6px;
        overflow-x: hidden;
        padding: 10px;
        min-width: 100%;
    }
    .card-col-grp .row .col-icons span {
        background: linear-gradient(180deg, rgba(253, 253, 254, 1) 50%, rgba(236, 236, 237, 1) 100%);
        box-shadow: 0px 3px 6px #00000038;
        border-radius: 5px;
        padding: 0.25rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 3px;
    }
    .card-col-grp .row:nth-child(even) {
        background-color: #F2F2F3;
        padding: 3px;
    }

    .card-col-grp .row .col-icons span:last-child {
        margin-right: 0;
    }

    .card-dischage-summary .rectangle-block-1 {
        border-radius: 7px !important;
    }
    .blue-rectangle-block {
        background: linear-gradient(180deg, rgba(18, 129, 223, 1) 50%, rgba(6, 128, 210, 1) 100%) !important;
        box-shadow: 0px 3px 6px #00000038;
        border-radius: 7px 7px 0 0;
        padding: 0.5rem 1rem;
        color: #fff;
    }

    .rectangle-block-1 {
        background: linear-gradient(180deg, rgba(253, 253, 254, 1) 50%, rgba(238, 238, 239, 1) 100%);
        box-shadow: 0px 3px 6px #00000038;
        border-radius: 14px;
    }
    .mb-2 {
        margin-bottom: 0.5rem!important;
    }

    .col-sm-11 {
        width: 91.66666666666666%;
    }

    .col-sm-10 {
        width: 83.33333333333334%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-8 {
        width: 66.66666666666666%;
    }

    .col-sm-7 {
        width: 58.333333333333336%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-5 {
        width: 41.66666666666667%;
    }

    .col-sm-4 {
        width: 33.33333333333333%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-2 {
        width: 16.666666666666664%;
    }

    .col-sm-1 {
        width: 8.333333333333332%;
    }
    .btn-discharge-grey {
        background: linear-gradient(180deg, rgba(253, 253, 254, 1) 20%, rgba(217, 217, 217, 1) 100%);
        border-radius: 10px;
        box-shadow: 0px 3px 6px #00000038;
        font-weight: 500;
        text-align: center;
    }
    .btn .ms-3{
        font-weight: 400 !important;
    }
    .btn {
        display: inline-block;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        background-color: transparent;
        border: none !important;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        border-radius: 0.25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
}
