.btn-breach-grey {
    background: linear-gradient(180deg, rgba(253, 253, 254, 1) 50%, rgba(236, 236, 237, 1) 100%);
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    min-width: 130px;
}

.open_comment_scroll {
    border: 0.5px solid #707070;
    border-radius: 8px;
    padding: 0.25rem 0.5rem;
    height: 90px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 98%;
    margin: auto;
}

.dtoc_today_comment_background {
    background-color: #53c553 !important;
    color: #FFFFFF !important;
    /* padding-left: 3px; */
    /* border-bottom: 1px solid #FFFFFF; */
}



.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    border: 1px solid #dad55e !important;
    background: #fffa90 !important;
    color: #777620 !important;
}
.ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: 1px solid #003eff !important;
    background: #007fff !important;
    font-weight: normal !important;
    color: #ffffff !important;
}
.patient_already_added {
    opacity: 0.5;
    pointer-events: none;
}
