hr {
    margin: .5rem 0 .6rem 0;
}

.handover-icons-wrapper {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
}

.handover-icons-wrapper .flag-group {
    width: 53px;
    height: 55px;
    text-align: center;
    overflow-wrap: break-word;
}

.handover-icons-wrapper .flag-group img {
    cursor: pointer;
    width: 35px;
}

.handover-icons-wrapper .flag-group span {
    display: block;
    font-size: 7px;
    padding: 1px 0;
    line-height: 8px;
    font-weight: 500;
}

.handover-modal .handover-patient-details {
    border: 0.5px solid rgb(128, 128, 128, .5);
    border-radius: 7px;
}

.handover-patient-details ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 2px 5px;
   margin: 0;
    min-height: 25px;
}
.text-end {
    text-align: right!important;
}

.handover-patient-details ul:nth-child(odd) {
    background-color: #FFFFFF;
}

.handover-patient-details ul:nth-child(even) {
    background-color: #F2F2F2;
}

.handover-patient-details ul:first-child {
    border-radius: 7px 7px 0 0;
}

.handover-patient-details ul:last-child {
    border-radius: 0 0 7px 7px;
}

.handover-patient-details .col-lg-6 ul:first-child {
    border-radius: 0;
}

.handover-patient-details ul li {
    min-width: 75px;
}

h6.patient-name {
    padding: 5px;
    margin: 0;
    background-color: #F2F2F2;
    border-radius: 7px 7px 0 0;
    border-bottom: 0.5px solid rgb(128, 128, 128, .5);
}
.g-2, .gy-2 {
    --bs-gutter-y: 0.5rem;
}

.g-2, .gx-2 {
    --bs-gutter-x: 0.5rem;
}

.border-handover-end {
    border-right: 0.5px solid rgb(128, 128, 128, .5);
}

.handover-patient-details .col-lg-6:first-child ul:last-child,
.handover-patient-details .col-md-6:first-child ul:last-child {
    border-radius: 0 0 0 7px;
}

.handover-patient-details .col-lg-6:last-child ul:last-child,
.handover-patient-details .col-md-6:last-child ul:last-child {
    border-radius: 0 0 7px 0;
}

.reason-section .handover-patient-details ul li {
    min-width: 250px;
}

.handover-modal .form-control,
.handover-modal .form-select {
    height: 30px;
    font-size: 12px;
    border-radius: 7px;
}

.handover-modal p,
.handover-modal .form-label {
    font-size: 12px;
    margin-bottom: .2rem;
}

.bg-purple,
.bg-darkblue {
    display: flex;
    align-items: center;
    border-radius: 7px;
    padding: .25rem .75rem;
    color: #fff;
    height: 30px;
    font-size: 12px;
    margin-bottom: .25rem;
}

.bg-purple {
    background-color: #6B5280;
}

.bg-darkblue {
    background-color: #4C6FB9;
}

.bg-purple h6,
.bg-darkblue h6 {
    font-size: 12px;
}

.btn-handover {
    background-color: #F3F3F3;
    border: 1px solid #4C6FB9;
    border-radius: 7px;
    font-size: 11px;
    padding: .2rem;
    width: 100%;
    height: 30px;
}

.btn-handover .button-wrapper {
    display: flex;
    align-items: center;
}

.btn-handover .button-wrapper .icon-area {
    width: 18%;
    text-align: start;
}

.btn-handover .button-wrapper .icon-area img {
    width: 14px;
    margin-right: 2px;
}

.btn-handover .button-wrapper .button-text {
    width: 82%;
    text-align: start;
    text-wrap: nowrap;
}

.handover-modal .sub-header {
    font-size: 12px;
    margin: .25rem 0;
}

.nutrition-comment .form-control {
    height: 60px;
}

.variance-textarea textarea {
    min-height: 60px;
    margin-bottom: .5rem;
}

.task-comments-section {
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 7px;
    font-size: 12px;
    padding-bottom: 3px;
}

.task-comments-section .header-task {
    margin-bottom: .25rem;
}

.task-comments-section .header-task h6 {
    background: linear-gradient(180deg, rgba(253, 253, 254, 1) 10%, rgba(238, 238, 239, 1) 100%);
    padding: 10px;
    font-weight: 500;
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 7px 7px 0px 0px;
    margin-bottom: 0;
    font-size: 12px;
}

.task-comments-section .handover-tasks-row {
    display: flex;
}

.task-comments-section .handover-tasks-row .handover-tasks-col-1 {
    width: 70%;
    border-radius: 0 0px 0px 7px;
}
.w-100 {
    width: 100%!important;
}
.form-select {
    display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

label {
    display: inline-block;
}

*, ::after, ::before {
    box-sizing: border-box;
}
.fw-bold {
    font-weight: 700!important;
}
.modal-body h6, .offcanvas-header h6 {
    font-size: 14px;
}
.g-1, .gy-1 {
    --bs-gutter-y: 0.25rem;
}
.g-1, .gx-1 {
    --bs-gutter-x: 0.25rem;
}

/*.col-12 {*/
/*    flex: 0 0 auto;*/
/*    width: 100%;*/
/*}*/
/*.col-lg-4 {*/
/*    flex: 0 0 auto;*/
/*    width: 33.33333333%;*/
/*}*/
/*.col-xxl-3 {*/
/*    flex: 0 0 auto;*/
/*    width: 25%;*/
/*}*/
/*.col-xxl-9 {*/
/*    flex: 0 0 auto;*/
/*    width: 75%;*/
/*}*/
/*.col-lg-3 {*/
/*    flex: 0 0 auto;*/
/*    width: 25%;*/
/*}*/
/*.col-md-6 {*/
/*    flex: 0 0 auto;*/
/*    width: 50%;*/
/*}*/
/*.col-lg-2 {*/
/*    flex: 0 0 auto;*/
/*    width: 16.66666667%;*/
/*}*/
.text-md-end{
    text-align: right;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.modal-body {
    padding: 0.75rem;
}

body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size:12px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
.task-comments-section .handover-tasks-row .handover-tasks-col-1 .completed-tasks .cell {
    display: flex;
    align-items: center;
    justify-content: start;

}

.task-comments-section .handover-tasks-row .handover-tasks-col-1 .completed-tasks div.cell {
    padding: 4px 6px;

}

.task-comments-section .handover-tasks-row .handover-tasks-col-1 h6.comment-number {
    font-size: 10px;
    margin: 0;

}

.task-comments-section .handover-tasks-row .handover-tasks-col-1 p.comment {
    margin: 0;
    padding-left: 10px;
    font-size: 10px;
}
/*.col-xxl-7 {*/
/*    flex: 0 0 auto;*/
/*    width: 58.33333333%;*/
/*}*/
/*.col-xxl-1 {*/
/*    flex: 0 0 auto;*/
/*    width: 8.33333333%;*/
/*}*/
.task-comments-section .handover-tasks-row .handover-tasks-col-2 {
    background: #ffff;
    width: 30%;
    border-radius: 0 0px 7px 0px;
}

.task-comments-section .handover-tasks-row .handover-tasks-col-1 {
    padding: 0 2px 0 4px;
}

.task-comments-section .handover-tasks-row .handover-tasks-col-2 {
    padding: 3px 6px 2px 2px;
}

.task-comments-section .handover-tasks-row .handover-tasks-col-1 .completed-tasks .row {
    border-bottom: 1px solid #d7d6d6;
}

.task-comments-section .handover-tasks-row .handover-tasks-col-1 .completed-tasks .row .col-md-6 {
    min-height: 25px;
    border-right: 1px solid #d7d6d6;

}

.task-comments-section .handover-tasks-row .handover-tasks-col-1 .completed-tasks .row .col-md-6:nth-child(even) {
    border-right: none;
}

.card-comment-grp {
    background-color: #fff;
    border: 0.5px solid rgb(128, 128, 128, .5);
    border-radius: 7px;
    padding: 0.5rem;
    min-height: 198px;
    width: 100%;
}

.card-comment-grp .form-control {
    min-height: 156px;
    font-size: 10px;
}

.card-comment-grp h6 {
    margin-bottom: .25rem;
    padding-bottom: .25rem;
}

.handover-leftside-bg {
    background: #fff;
    text-align: left;
    padding: .5rem 0;
    height: 35px;
}

#navigation ul {
    margin-bottom: 0;
}

#navigation .border-right {
    border-right: 1px solid #707070;
}

.leftside-head {
    list-style: none;
    padding-left: 0;
}

.leftside-head li {
    margin-bottom: 0;
    font-size: 14px;
}

.handover-rightside {
    position: relative;
    width: 102%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.handover-rightside-list {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2px;
    padding: 0.1rem 0;
}

.handover-rightside .handover-rightside-list.rightside-head li {
    background-color: transparent;
    border: none;
}

.handover-rightside .handover-rightside-list li {
    width: 30%;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    margin: 0px 3px;
    margin-bottom: 5px;
    position: relative;
}

.handover-rightside .handover-rightside-list li .tick-icon {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%);
}

.handover-rightside-list .bg-grey {
    border: 1px solid #4C6FB9;
}

.handover-group .btn-grey {
    background: linear-gradient(180deg, rgba(253, 253, 254, 1) 20%, rgba(217, 217, 217, 1) 100%);
    border-radius: 7px;
    padding: 0.65rem 1rem;
    box-shadow: 0px 3px 6px #00000038;
    font-weight: 400;
    font-size: 12px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.handover-group .btn-grey {
    position: relative;
}

.btn-icon {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.btn-grey span {
    padding-left: 25px;
}

.reason-section p.reason {
    border: 0.5px solid rgb(128, 128, 128, .5);
    border-radius: 7px;
    padding: 0.25rem 0.5rem;
    background-color: #F3F3F3;
    margin-bottom: 0;
    height: 80px;
    overflow-y: scroll;
}

.reason-section p.reason::-webkit-scrollbar {
    width: 2px;
}

.handover-modal .pac-count-box {
    background: #F2F2F3 0% 0% no-repeat padding-box;
    border: 1px solid #7B7B7B;
    border-radius: 7px;
    position: relative;
    text-align: center;
    padding: 0.5rem 1rem;
    width: 85px;
    height: 130px;
}

.handover-modal .pac-count-box>h6 {
    margin: 0.25rem 0;
}

.handover-modal .pac-triangle-text {
    position: absolute;
    top: 68px;
    left: 50%;
    text-align: center;
    color: #000;
    font-weight: 600;
    transform: translate(-50%);
    font-size: 12px;
}

/* Media Query */

@media (min-width:1400px) {

    .variance-textarea textarea {
        min-height: 95px;
    }
}

@media (max-width:1250px) and (min-width:992px) {

    .handover-group .btn-grey {
        font-size: 11px;
        padding: .5rem .25rem;
    }

    .btn-handover, .handover-group .btn-grey span {
        font-size: 11px;
    }

    .handover-group .btn-grey img {
        left: 20px;
    }
}


@media (max-width:1025px) {
    .responsiveTable thead tr {
        top: 0;
        left: 0;
        border-bottom: none;
    }

    .handover-tasks-row {
        font-size: 10px;
    }

    .handover-tasks-col-1,
    .handover-tasks-col-2 {
        width: 100%;
    }

    .card-comment-grp {
        padding: 0.25rem .5rem;
        border: none;
        min-height: 150px;
    }

    .card-comment-grp .form-control {
        min-height: 160px;
    }

    .responsiveTable tbody tr {
        margin-bottom: 0;
        border-radius: 0;
    }

    .responsiveTable tbody tr:nth-child(2) {
        border-radius: 0 0 7px 7px;
    }
}


@media (max-width:991px) {

    .task-comments-section .handover-tasks-row {
        flex-direction: column;
    }

    .task-comments-section .handover-tasks-row .handover-tasks-col-1,
    .task-comments-section .handover-tasks-row .handover-tasks-col-2 {
        width: 100%;
    }

    .task-comments-section .handover-tasks-row .handover-tasks-col-1 .completed-tasks .row .col-md-6:nth-child(even) div.cell {
        border-right: none;
    }

    .task-comments-section .handover-tasks-row .handover-tasks-col-2 {
        border-radius: 0 0px 7px 7px;
    }

    .task-comments-section .handover-tasks-row .handover-tasks-col-1 {
        padding: 0 10px;
    }

    .task-comments-section .handover-tasks-row .handover-tasks-col-2 {
        padding: 0 2px;
    }

    .handover-icons-wrapper .flag-group {
        width: 55px;
        height: 55px;
    }
}

@media (max-width:767px) {

    .bg-darkblue,
    .bg-purple, .btn-handover,
    .handover-modal .form-control,
    .handover-modal .form-select,
    .reason-section p.reason,
    .handover-modal .pac-count-box {
        border-radius: 4px;
    }

    .task-comments-section .header-task h6 {
        border-radius: 4px 4px 0px 0px;
    }

    .task-comments-section .handover-tasks-row .handover-tasks-col-1 .completed-tasks .row {
        border-bottom: none;
    }

    .task-comments-section .handover-tasks-row .handover-tasks-col-1 .completed-tasks .row .col-md-6 {
        border-bottom: 1px solid #d7d6d6;
        border-right: none;
    }

    .task-comments-section .handover-tasks-row .handover-tasks-col-1,
    .task-comments-section .handover-tasks-row .handover-tasks-col-2,
    .card-comment-grp {
        padding: .25rem;
    }

    .task-comments-section .handover-tasks-row .handover-tasks-col-2,
    .handover-patient-details .col-md-6:last-child ul:nth-last-child(2),
    .responsiveTable tbody tr:nth-child(2) {
        border-radius: 0 0 4px 4px;
    }

    .handover-patient-details .col-md-6:last-child ul:last-child {
        display: none;
    }

    .handover-patient-details .col-md-6:first-child ul:last-child {
        border-radius: 0;
    }

    #navigation .border-right {
        border: none;
    }

    .handover-modal .pac-count-box {
        height: 125px;
    }

    .handover-icons-wrapper {
        justify-content: center;
    }

    .handover-icons-wrapper .flag-group {
        width: 50px;
        height: 65px;
        text-align: center;
        padding-top: 5px;
    }

    .handover-icons-wrapper .flag-group img {
        width: 40px;
    }

    .handover-icons-wrapper .flag-group span {
        padding: 2px;
    }

    .card-ed .card-body {
        padding: 1rem .5rem;
    }

    .handover-group .btn-grey,
    .handover-modal .handover-patient-details {
        border-radius: 4px;
    }

    h6.patient-name,
    .handover-patient-details ul:first-child {
        border-radius: 4px 4px 0 0;
    }

    .handover-patient-details .col-lg-6:last-child ul:last-child,
    .handover-patient-details ul:last-child {
        border-radius: 0 0 4px 4px;
    }

    .border-handover-end {
        border-right: none;
    }

    .reason-section .handover-patient-details ul {
        display: block;
    }

    .handover-group .btn-grey span {
        font-size: 12px;
    }
}

@media (max-width:359px) {

    .reason-section .form-label,
    .reason-section p.reason {
        font-size: 10px;
    }
}
