

.dark-gradient-warning,
.bg-green,
.bg-eds-yes,
.bg-tto-yes,
.bg-eds-no,
.bg-tto-no,
.bg-eds-na,
.bg-tto-na {
    background: #FFDD00;
    border-radius: 4px;
    color: #000;
    padding: 0.2rem;
    font-size: 10px;
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 600;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    max-width: 60px;
}

.dark-gradient-warning {
    background: #FFA200;
}

.bg-eds-yes,
.bg-tto-yes {
    background: var(--bg-green-gradient);
    color: #fff;
}

.bg-eds-no,
.bg-tto-no {
    background: var(--bg-red-gradient);
    color: #fff;
}

.bg-eds-na,
.bg-tto-na {
    background: var(--blue);
    color: #fff;
}

.bg-green {
    background: #48AB3F;
    color: #fff;
}

.cell-data {
    display: flex;
    flex-wrap: wrap;
}


.ews-wrapper {
    top: -5px;
    margin-right: 3px;
}


.data-group {
    display: flex;
    justify-content: start;
}
