.card-col-grp .row .col-icons span {
    background: linear-gradient(180deg, rgba(253, 253, 254, 1) 50%, rgba(236, 236, 237, 1) 100%);
box-shadow: 0px 3px 6px #00000038;
border-radius: 5px;
padding: 0.25rem;
display: flex;
align-items: center;
justify-content: space-between;
margin-right: 3px;
}

.card-col-grp .row .col-icons span:last-child {
margin-right: 0;
}
