
.BoardRoundInfo {
    cursor: pointer;
    background: #00b300;
    padding: 0.25rem 0.5rem;
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-size: 12px;
    width: 100%;
    margin: 0;
}
.card-pd-table .name-header span{
    font-size: 14px;
}
.custom-apex-tooltip {
    background: #fff;
    padding: 8px 12px;
    border-radius: 6px;
    box-shadow: 0 2px 12px rgba(0,0,0,0.12);
    border: 1px solid #e3e3e3;
    font-family: Poppins, sans-serif;
    font-size: 12px;
    color: #333;
}

.custom-apex-tooltip .label {
    font-size: 11px;
    margin-bottom: 3px;
    color: #555;
}

.custom-apex-tooltip .value {
    font-weight: 600;
    font-size: 13px;
    color: #000;
}
