
.table-reside tbody tr:nth-child(odd) {
    background-color: #F2F2F3;
}

.table-reside tbody tr:nth-child(even) {
    background-color: #FFFFFF;
}

.bg-success-data{
    padding: 2px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00e942;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    max-width: 60%;
    margin: 0 20%;
}
.outstanding-tasks {
    height: 70px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.btn-tables {
    background: linear-gradient(180deg, rgba(253, 253, 254, 1) 50%, rgba(236, 236, 237, 1) 100%);
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 4px;
    padding: 0.2rem;
    min-width: 50px;
    font-size: 10px;
}
