.link {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
}

.link:hover {
    stroke-opacity: .5;
}

#my_dataviz {
    width: 100%;
    overflow: hidden;
    /* Ensure no overflow */
}

.tooltip {
    position: absolute;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 8px;
    border-radius: 4px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.2s;
    z-index: 999;
}

.custom_card {
    padding-top: 25px;
    padding-bottom: 4px;
    height: auto;
    text-align: center;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 14px;
}

#custom_card_sankey_element svg g rect {
    cursor: pointer;
}

.ed-activity-greybox {
    background: linear-gradient(180deg, rgba(253, 253, 254, 1) 10%, rgba(238, 238, 239, 1) 60%);
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 12px;
    padding: .75rem .5rem;
    min-height: 70px;
}

.ed-activity-greybox h6 {
    font-size: 12px;
}

.ed-activity-greybox i {
    font-size: 26px;
}

.leftside-head {
    list-style: none;
    padding-left: 0;
}

#custom_card_sankey_element svg {
    margin-bottom: 65px;
    overflow: visible;
}

.leftside-bg-ed {
    background: linear-gradient(180deg, rgba(253, 253, 254, 1) 30%, rgba(238, 238, 239, 1) 100%);
    box-shadow: 0px 3px 6px #00000021;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0.5rem;
    height: 35px;
    width: 100%;
}

.leftside-target-bg-ed {
    background: linear-gradient(180deg, rgba(253, 253, 254, 1) 30%, rgba(238, 238, 239, 1) 100%);
    box-shadow: 0px 3px 6px #00000021;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: .5rem;
    height: 70px;
    width: 95%;
}

@media (min-width:988px) and (max-width:2499px) {
    .ed-activity-greybox-parent {
        width: 20%;
    }
}

@media (min-width:1278px) and (max-width:2499px) {
    .fs-lg-4 {
        font-size: 1.5rem;
    }
}

@media (min-width:988px) and (max-width:1278px) {
    .fs-lg-4 {
        font-size: 13px;
    }
    .ed-activity-greybox h6 {
        font-size: 10px;
    }
}


/* Ed Activity Styles End*/

@media (max-width:1600px) {
    .EDActivityinnerRow .sideLft {
        flex: 0 0 72% !important;
        max-width: 72% !important
    }
    .EDActivityinnerRow .sideRgt {
        flex: 0 0 28% !important;
        max-width: 28% !important
    }
    .BreachesGanntChartWrap .legendArea .legendList li {
        padding: 0 10px
    }
}

@media (max-width:1368px) {
    .EDActivityinnerRow .sideLft {
        flex: 0 0 100% !important;
        max-width: 100% !important;
        margin-bottom: 10px
    }
    .EDActivityinnerRow .sideLft {
        padding-right: 15px
    }
    .EDActivityinnerRow .sideRgt {
        flex: 0 0 100% !important;
        max-width: 100% !important;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;
        flex-wrap: wrap
    }
    .EDActivityinnerRow .sideRgt .box {
        width: 49%
    }
}

@media (max-width:991px) {
    .EDActivityouter .sideLft .rowTop .toprowCmnBox .contentWrap .head {
        font-size: 14px
    }
    .EDActivityouter .sideLft .rowTop .toprowCmnBox .contentWrap .head>span {
        font-size: 12px
    }
    .EDActivityouter .sideLft .rowTop .attendance.toprowCmnBox .imgwrap img {
        width: 40px
    }
    .EDActivityouter .sideLft .rowTop .breaches.toprowCmnBox .imgwrap img {
        width: 55px
    }
    .EDActivityouter .sideLft .rowTop .performance.toprowCmnBox .imgwrap img {
        width: 55px
    }
}

@media (max-width:768px) {
    .EDActivityouter .sideLft .rowTop .DatePickerWrap {
        width: 49%
    }
    .EDActivityouter .sideLft .rowTop .toprowCmnBox {
        width: 49%
    }
    .EDActivityouter .sideLft .rowTop {
        flex-direction: row;
        flex-wrap: wrap
    }
    .BreachesGanntChartWrap .legendArea .legendList {
        flex-wrap: wrap
    }
    .EDActivityouter .sideLft .rowTop .toprowCmnBox {
        justify-content: flex-start;
        flex-direction: column
    }
    .EDActivityinnerRow .sideRgt .box {
        width: 100%
    }
    .EDActivityouter .sideLft .rowTop .toprowCmnBox .contentWrap {
        width: 90%;
        text-align: center
    }
    .EDActivityouter .sideLft .rowTop .toprowCmnBox .contentWrap .count {
        display: block;
        width: 100%
    }
    .ed-activity-greybox {
        padding: .25rem .75rem;
        border-radius: 8px;
        min-height: 80px;
    }
    .ed-activity-greybox h5 {
        font-size: 2rem;
    }
}