.bg-opel-1,
.bg-opel-2,
.bg-opel-3,
.bg-opel-4,
.bg-opel-5,
.btn-add-attendance,
.bg-red-zone,
.bg-outbreak,
.bg-green-zone,
.bg-blue-zone,
.bg-yellow-zone {
    padding: 0.25rem 0.5rem;
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-size: 12px;
    width: 100%;
    height: 40px;
    min-width: 70px;
}

.btn-add-attendance:hover {
    color: #fff;
}

.btn-add-attendance {
    background: linear-gradient(rgb(255, 6, 6) 0%, rgb(250, 9, 9) 50%, rgb(245, 5, 5) 100%);
}

.bg-opel-1 {
    background: linear-gradient(180deg, rgba(75, 195, 75, 1) 50%, rgba(49, 174, 49, 1) 100%);
}

.bg-opel-2 {
    background: linear-gradient(180deg, rgba(255, 201, 40, 1) 50%, rgba(238, 181, 12, 1) 100%);
    color: #000;
}

.bg-opel-3 {
    background: linear-gradient(180deg, rgba(255, 20, 20, 1) 50%, rgba(222, 6, 6, 1) 100%);
}

.bg-opel-4 {
    background: linear-gradient(180deg, rgba(83, 82, 82, 1) 50%, rgba(4, 4, 4, 1) 100%);
}

.bg-opel-5 {
    background: linear-gradient(180deg, rgb(255, 155, 40) 50%, rgb(238, 110, 12) 100%);
}

.bg-outbreak {
    color: #FE0000;
    font-weight: 500;
}

.bg-red-zone {
    background: var(--bg-red-gradient);
}

.bg-green-zone {
    background: var(--bg-green-gradient);
}

.bg-blue-zone {
    background: var(--primary-blue);
}

.bg-yellow-zone {
    background: var(--bg-amber-gradient);
    color: #000;
}
.button_disabled {
    cursor: not-allowed;
}

.offcanvas-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1050;
    display: none;
    }
    .ui-datepicker {
        width: auto !important;
    }
