.table-row-box-list-style-theatre-pending {
    background: #dff0d8 !important;
    /*border: 2px solid #9ca897;*/
}

.table-row-box-list-style-theatre-ongoing {
    background: #AAAAAA !important;
    /*border: 2px solid #767676;*/
}

.table-row-box-list-style-theatre-finished {
    background: #a0dedf !important;
    /*border: 2px solid #709b9c;*/
}

.table-row-box-list-style-theatre-pre-cancelled {
    background: #ffd8d8 !important;
    /*border: 2px dashed #b297a5;*/
}

.table-row-box-list-style-theatre-cancelled {
    background: #b297a5 !important;
    /*border: 2px dashed #7c6973;*/
}


.white_box {
    background: white;
    padding: 25px 50px;
    -webkit-box-shadow: 10px 10px 15px 2px rgb(0 0 0 / 19%);
    -moz-box-shadow: 10px 10px 15px 2px rgba(0, 0, 0, 0.19);
    box-shadow: 1px 1px 12px 0px rgb(0 0 0 / 19%);
    border-radius: 6px;
    margin-bottom: 5px;
}

.table_occupied {
    width: 100%;
}

.theatre_header_title {
    height: 60px;
    border-radius: 5px;
    background: linear-gradient(to bottom, #1abfdf 0%, #30c5e2 50%, #17abc8 100%);
    box-shadow: 1px 1px 2px #ccc;
    margin: 0 0 5px 0;

}
.btn-assign-task {
    background: linear-gradient(rgb(128, 0, 128) 0%, rgb(128, 0, 128) 50%, rgb(128, 0, 128) 100%);
    padding: 0.25rem 0.5rem;
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-size: 12px;

}
.theatre_header_title_headings {
    color: #FFFFFF;
    line-height: 60px;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    padding: 0 10px;
}

.theatre_header_title_headings_first {
    color: #FFFFFF;
    line-height: 60px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    padding: 0 10px;
}

.theatre_list_odd_row {
    height: 50px;
    margin: 5px 0 5px 0;
    border-radius: 5px;
    background: linear-gradient(to bottom, #DDDDDD 0%, #EEEEEE 50%, #DDDDDD 100%);
    box-shadow: 1px 1px 2px #ccc;

}

.theatre_list_even_row {
    height: 50px;
    margin: 5px 0 5px 0;
    border-radius: 5px;
    background: linear-gradient(to bottom, #EEE 0%, #FFF 50%, #EEE 100%);
    box-shadow: 1px 1px 2px #ccc;

}

.theatre_list_headings {
    color: #000000;
    line-height: 50px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    padding: 0 10px;
}

.theatre_list_headings_first {
    color: #000000;
    line-height: 50px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 0 10px;
}

.theatre_list_headings_first_title {
    color: #000000;
    line-height: 50px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    padding: 0 10px;
}

.theatre_text_align_left {
    text-align: left !important;
    padding: 0 15px;
}

.theatre_text_align_right {
    text-align: right !important;
    padding: 0 15px;
}

.theatre_triangle_down_red {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #f00;
}

.theatre-arrow-down {
    border-color: transparent;
    border-top-color: #FF0000;
    border-style: solid;
    border-width: 15px 10px 0;
    width: 0;
    height: 0;
    position: relative;
    line-height: 0;
    padding: 0;
    margin-right: 10px;
    border-radius: 3px;
}

.theatre-arrow-up {
    border-color: transparent;
    border-bottom-color: #000000;
    border-style: solid;
    border-width: 0 10px 15px;
    width: 0;
    height: 0;
    position: relative;
    line-height: 0;
    padding: 0;
    margin-right: 10px;
    border-radius: 3px;
}

.theatre_surgery_margin_right {
    margin-right: 0 !important;
    margin-left: 20px;

}

.theatre_column_sugery_demand {
    width: 20%;

}

.theatre_header_title_headings_sugery_demand {
    color: #FFFFFF;
    line-height: 60px;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    padding: 0 10px;
}

.theatre_list_headings_inner_title {
    line-height: 30px;
    text-align: center;
    font-size: 13px;
    padding-top: 10px;
}

.theatre_list_headings_inner_content {
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.theatre_surgery_demand_list_odd_row {
    height: 75px;
    margin: 5px 0 5px 0;
    border-radius: 5px;
    background: linear-gradient(to bottom, #DDDDDD 0%, #EEEEEE 50%, #DDDDDD 100%);
    box-shadow: 1px 1px 2px #ccc;

}

.theatre_surgery_demand_list_even_row {
    height: 75px;
    margin: 5px 0 5px 0;
    border-radius: 5px;
    background: linear-gradient(to bottom, #EEE 0%, #FFF 50%, #EEE 100%);
    box-shadow: 1px 1px 2px #ccc;

}

.theatre_surgery_demand_list_headings {
    color: #000000;
    line-height: 75px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    padding: 0 10px;
}

.theatre-live-status-top-box {
    width: 20%;
    padding: 15px 5px 15px 5px;
}

.theatre-live-status-top-box-first {
    padding-left: 0;
}

.theatre-live-status-top-box-last {
    padding-right: 0;
}

.theatre-live-status-top-box-style-value-first {
    float: left;
    font-size: 20px;
    font-weight: bold;
    line-height: 80px;
    padding: 0 5px;
    text-align: center
}

.mbsc-schedule-event-range {
    display: none;
}

.theatre-live-status-top-box-style-value {
    float: left;
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
    padding: 15px 5px;
    text-align: center
}

.live-status-sub-pervcentage {
    font-size: 13px;
    padding: 15px 5px;
    line-height: 20px;
}

.theatre-live-status-top-box-style-caption {
    float: left;
    font-size: 15px;
    line-height: 80px;
    padding: 0px 5px;
    font-weight: bold;
    text-align: center;
}

.theatre-live-status-top-box-style {
    box-shadow: inset 0 0 27px #dddddd;
    width: 100%;
    margin: 0 auto;
    height: 80px;
    border-radius: 5px;
}

.theatre-live-status-content-box-title-parent {
    margin-top: 17.5px;
}

.theatre-live-status-content-box-title {
    border: 1px solid #000000;
    padding: 5px 15px;
    border-radius: 5px;
    margin-top: 29px;
}


.theatre-live-status-content-table-details {
    width: 100%;
    border: 1px solid #DDDDDD;
}

.theatre-live-status-content-table-details-title {
    color: #FFFFFF;
    background-color: #535353;
    padding: 7px 5px;
    font-size: 12px;

}

.theatre-live-status-content-table-details-content-row {
    border-bottom: 1px solid #DDDDDD;
}

.theatre-live-status-content-table-details-values {
    color: #000000;
    padding: 7px 5px;
}

.progress {
    width: 80%;
    float: left;
    border: 0.5px solid #5E6595;
    background: rgba(218, 0, 0, 0);
    font-size: 20px;
    border-radius: 4px;
    height: 25px;
    overflow: hidden;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%) inset;
    margin-bottom: 0;
    margin-top: 13px
}

.theatre-live-progress-values {
    padding-left: 10px;
    width: 20%;
    float: left;
    text-align: left;
}

.progress-bar {
    background: #00C8B4;
    height: 27px;
    border-radius: 2px;
    margin: 3px 6px;
}

.progress-bar-anim {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.25) 25%, #f8f8f8 25%, #f8f8f8 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 75%, #f8f8f8 75%, #f8f8f8);
    background-repeat: repeat-x;
    background-size: 1em 1.5em;
    height: inherit;
    width: 100%;
}

.progress-bar-bg {
    width: 100%;
    margin-top: 1.7px;
}

.progress-bar-anim-bg {
    background: linear-gradient(90deg, rgb(255 255 255 / 25%) 12%, #00c8b4 11%, #00c8b4 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 63%, #00c8b4 50%, #00c8b4);
    background-repeat: repeat-x;
    background-size: 1em 1.5em;
    height: inherit;
    width: 100%;
    height: 21px;
}

.theatre-dashboard-top-head-title {
    font-size: 20px;
    font-weight: bold;
}

.theatre-live-status-tab-child ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.tab-with-heigher-height-live {
    display: flex !important;
    margin-bottom: 50px !important;
    position: relative !important;
}


.theatre-live-status-content-table-details-show {
    display: none;
}


.table-text-left {
    text-align: left !important;
    padding: 5 10px;
}

.table-text-center {
    text-align: center !important;
    padding: 5 10px;
}

#event-tooltip-on-popup-custom-content .surgery_patient_details_event {
    font-size: 20px;
    line-height: 35px;
}

#event-tooltip-on-popup-custom-content .surgery_planned_proc_event {
    font-size: 17px;
    line-height: 30px;
}

#event-tooltip-on-popup-custom-content .surgery_type_sugery_event {
    font-size: 17px;
    line-height: 30px;
}

.theatre_list_odd_row_new_style {
    height: auto;
}

.theatre_text_align_left_new_style {
    line-height: 30px;
    padding: 10px 15px;
}

.theatre_list_headings_times_ago_new {
    line-height: 80px;
    text-align: right;
}

.scroll-to-set-top-minimum-height {
    max-height: 100% !important;
}
/*.responsiveTable td.pivoted:nth-child(6), .responsiveTable td.pivoted:nth-child(7), .responsiveTable td.pivoted:nth-child(8), .responsiveTable td.pivoted:nth-child(9), .responsiveTable td.pivoted:nth-child(10), .responsiveTable td.pivoted:nth-child(10){*/
/*    background-color: #f8f8f8 !important;*/
/*}*/


.table-row-box-list-style-theatre-pending {
    background: #dff0d8 !important;
    /*border-bottom: 2px solid #9ca897;*/
}

.table-row-box-list-style-theatre-ongoing {
    background: #AAAAAA !important;
    /*border-bottom:  2px solid #767676;*/
}

.table-row-box-list-style-theatre-finished {
    background: #a0dedf !important;
    /*border-bottom:  2px solid #709b9c;*/
}

.table-row-box-list-style-theatre-pre-cancelled {
    background: #ffd8d8 !important;
    /*border-bottom:  2px dashed #b297a5;*/
}

.table-row-box-list-style-theatre-cancelled {
    background: #b297a5 !important;
    /*border-bottom:  2px dashed #7c6973;*/
}



.live-status-diagram-show-status-box-modal {
    min-width: 50px;
    height: 44px;
    float: left;
    width:215px;
    line-height: 44px;
    text-align: center;
    margin-right: 10px;
}
.childTableRow table tr {
    border-bottom: 1px solid #524f4f45;
}

.show-pointed-colour-for-surgeries {
    width: 100%;
    /*position: absolute;*/
    z-index: 999;
    /*background: #f7f7f7;*/
    height: 44px;
    float: right;
    margin-right: 15px;
    right: 0;
}

.live-status-sub-pervcentage {
    font-size: 13px;
}

.table_occupied th {
    background-color: #009fa2;
    line-height: 38px;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 0 10px;
    text-align: center;
    border: 1px solid #FFFFFF;
}

.odd_even_row_content_style
{
    line-height: 30px;
    font-size: 12px;
    padding: 0 10px;

}
@media screen and (max-width: 560px) {
    .tab-with-heigher-height-live {
        max-width: 100%; /* Adjust as needed */
        overflow-x: auto; /* Enable horizontal scrolling */
        white-space: nowrap; /* Prevent content from wrapping */
    }
    .custome-width{
        width: 240px !important;
    }

}
.custome-width{
    width: 100%;
}
@media (min-width: 769px) and (max-width: 1024px) {
    .live-status-diagram-show-status-box-modal{
        width: 115px;
    }
    .custome-width{
        width: 190px !important;
    }

}

@media (min-width: 520px) and (max-width: 768px) {
    .live-status-diagram-show-status-box-modal{
        width: 190px;
    }
    .custome-width{
        width: 190px;
    }

}
.theatre-live-status-tab-parent {
    width: 100%;
    margin: 5px auto;
}

.theatre-live-status-tab-parent>input {
    display: none;
}

.theatre-live-status-tab-parent>label {
    display: block;
    float: left;
    padding: 7px 20px;
    margin-right: 5px;
    margin-bottom: 0;
    cursor: pointer;
    transition: background-color .3s;
    font-size: 14px;
}

.theatre-live-status-tab-parent>label:hover,
.theatre-live-status-tab-parent>input:checked+label {

    background: linear-gradient(to bottom, #4EC6DE 0%, #78ebff 50%, #4EC6DE 100%);
    border-radius: 5px 5px 0 0;
    color: #000;
    font-size: 14px;
}

.theatre-live-status-tab-child {
    clear: both;
    perspective: 600px;
}

.theatre-live-status-tab-child>div {
    width: 100%;
    position: absolute;
    border: 2px solid #f3f6f7;
    padding: 9px;
    line-height: 1.4em;
    background: linear-gradient(180deg, rgba(253, 253, 254, 1) 60%, rgb(253 253 253) 100%);
    border-radius: 10px;
    box-shadow: 0px 3px 6px #00000038;
    opacity: 1;
    /*border-radius: 7px 7px 7px 7px;*/
    transform-origin: top center;
    transition: opacity .3s, transform 1s;
    z-index: 0;
    margin-bottom: 30px;
    display: flex;

}

@media screen and (max-width: 700px) {
    .theatre-live-status-tab-parent {
        width: 100%;
    }

    .theatre-live-status-tab-parent>label {
        display: none
    }


    .theatre-live-status-tab-child>div {
        width: 100%;
        border: none;
        padding: 0;
        opacity: 1;
        position: relative;
        transform: none;
        margin-bottom: 60px;
    }

    .theatre-live-status-tab-child>div h2 {
        border-bottom: 2px solid #4EC6DE;
        padding-bottom: .5em;
    }
}

.tab-with-heigher-height-live{
    max-width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

.mbsc-timeline-grid-scroll{
    overflow-y: hidden !important;
}
.scrollable-container {
    padding: 10px;
}
