.card-col-grp .row .col-comment {
    width: 86%!important;
    text-wrap: wrap!important;
}

.outstanding-tasks {
    height: 70px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.card_body {
    pointer-events: none;
}

.card_body {
    pointer-events: none;
}

.card-task-col-grp {
    padding: 0.25rem 0.5rem;
}

.btn-tables {
    background: linear-gradient(180deg, rgba(253, 253, 254, 1) 50%, rgba(236, 236, 237, 1) 100%);
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 4px;
    padding: 0.2rem 0.5rem;
    font-size: 12px;
}

.task_priority_assigned {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25);
}


.card-col-grp .row .col-comment {
    width: 88%;
    text-wrap: wrap;
}

.card-col-grp .row .col-icons {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.table-reside tbody tr:nth-child(odd) {
    background-color: #F2F2F3;
}

.table-reside tbody tr:nth-child(even) {
    background-color: #FFFFFF;
}

