.No_record_css {
    height: 400px;
    max-height: 400px;
    min-height: 200px;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.bed_black_background {
    background-color: #000000;
    border-radius: 5px;
    z-index: 2;
    min-height: 25px;
    color: #fff;
    justify-content: center;
}
.bed_red_background {
    background-color: #ff0000;
    border-radius: 5px;
    z-index: 2;
    min-height: 25px;
    color: #fff;
    justify-content: center;
}
.bed_amber_background {
    background-color: rgba(255, 201, 40, 1);
    border-radius: 5px;
    z-index: 2;
    min-height: 25px;
    justify-content: center;
}
