.card-grey {
    background: var(--bg-grey-gradient);
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 7px;
}

.card-ambulance-chart .card-grey {
    min-height: auto;
    margin-bottom: .5rem;
}

.tile-shape {
    border-radius: 7px;
    background: var(--bg-grey-gradient);
    padding: .25rem .5rem;
    justify-content: left;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 6px #00000038;
}

.tile-shape i {
    font-size: 30px;
}

.tile-bottom {
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 0 0 7px 7px;
    background: var(--primary-blue);
    color: #fff;
    padding: 1rem .5rem .5rem .5rem;
    margin-top: -11px;
    text-align: left;
}

.tile-shape-bottom {
    border-radius: 7px;
    background: var(--bg-grey-gradient);
    padding: .5rem;
    justify-content: center;
    position: relative;
    z-index: 1;
    box-shadow: 0px 3px 6px #00000038;
    margin-top: -10px;
}

.tile-shape-bottom h6 {
    margin-bottom: 3px;
}

.tile-shape-whitebottom {
    border-radius: 7px;
    background: #fff;
    padding: 1rem 1rem .25rem 1rem;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.blue-top {
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 7px 7px 0 0;
    background: var(--primary-blue);
    color: #fff;
    padding: 0 .5rem;
    display: flex;
    align-items: center;
    justify-content: end;
    min-height: 40px;

}

.bg-live-yellow {
    background: linear-gradient(180deg, rgba(255, 255, 0, 1) 50%, rgba(235, 196, 0, 1) 100%);
    border-radius: 7px;
    color: #000;
    padding: .2rem .5rem;
    margin-bottom: 10px;
    font-size: 12px;
}

.header-section {
    background: var(--bg-grey-gradient);
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 7px 7px 0px 0px;
    padding: .75rem 1rem;
}

.header-section h6 {
    margin-bottom: 0;
}

.month-select {
    width: 100%;
}

.month-select .selectric {
    padding: 5px 0;
    background-color: transparent;
    border: none;
}

.month-select .selectric .button {
    top: 5px;
    background-color: transparent;
}

.month-select .selectric .label {
    margin-left: 4px;
}

.tile-shape .date-box input {
    min-height: 45px;
}

#box-plot-1 {
    width: 100%;
    height: 400px;
}

#box-plot-2 {
    width: 100%;
    height: 400px;
}

.box-graph-white,
.box-graph-blue {
    background: var(--bg-grey-gradient);
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 7px;
    padding: .5rem;
    text-align: center;
    vertical-align: middle;
}

.box-graph-white p {
    font-size: 12px;
}

.box-graph-blue {
    background: var(--primary-blue);
    color: #fff;
}

.breach-legend-skyblue,
.breach-legend-blue {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    box-shadow: 0px 3px 6px #00000038;
}

.breach-legend-skyblue {
    background-color: #C8E0F8;
}

.breach-legend-blue {
    background-color: var(--primary-blue);
}


/* Media Query */

@media (min-width:1400px) {
    .card-grey {
        min-height: 550px;
    }
}

@media (max-width:991px) {
    .weekly-ambulance-count .row-cols-7 .col {
        flex: auto;
        width: 25%;
    }
}

@media (max-width:767px) {
    .weekly-ambulance-count .row-cols-7 .col {
        flex: auto;
        width: 50%;
    }

    .bg-sm-header {
        background: var(--bg-grey-gradient);
        box-shadow: 0px 3px 6px #00000038;
        padding: .75rem 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 -8px 10px -8px;
    }

    .box-graph-white {
        margin-top: .5rem;
    }

    .tile-shape,
    .tile-shape-bottom,
    .card-grey,
    .box-graph-white,
    .box-graph-blue,
    .month-select .form-select {
        border-radius: 4px;
    }

    .tile-bottom {
        border-radius: 0 0 4px 4px;
    }

    .blue-top,
    .header-section {
        border-radius: 4px 4px 0 0;
    }

    .blue-top h6,
    .tile-shape-bottom h6 {
        font-size: 12px;
    }
}