table {
    font-size: 12px;
}

.date-range .input-group {
    border-right: none;
    height: 37px;
}

.card-board-round-table {
    background: var(--bg-grey-gradient);
    box-shadow: 0px 3px 6px #00000030;
    border-radius: 7px;
    padding: 0;
    margin-bottom: 0.5rem;
}

.card-board-round-table .board-round {
    border-radius: 7px;
}

.table-board-round thead {
    background: var(--bg-grey-gradient);
    border-radius: 7px 7px 0 0;
}

.table-board-round thead th {
    text-align: center;
    font-weight: 400;
}

.table-board-round thead th {
    padding: 5px 8px;
}

.table-board-round thead th span {
    display: block;
}

.table-board-round thead tr:first-child {
    border-radius: 7px 7px 0 0;
}

.table-board-round thead tr:first-child th:first-child {
    border-radius: 7px 0 0 0;
}

.table-board-round thead tr:first-child th:last-child {
    border-radius: 0 7px 0 0;
}

.table-board-round thead tr .current-date {
    background: var(--primary-blue-gradient);
    color: #fff;
}

.table-board-round thead tr:last-child th {
    border-top: 1px solid #ccc;
    padding: 5px;
    font-size: 11px;
}


.table-board-round thead tr th:last-child,
.table-board-round tbody tr td:last-child,
.table-round-attendance thead tr th:last-child,
.table-round-attendance tbody tr td:last-child {
    border-right: none
}

.column-1,
.column-2 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.column-1 img,
.column-2 img {
    width: 30%;
    height: 12px;
}

.column-1 span,
.column-2 span {
    width: 70%;
    padding-left: 10px;
    text-align: start;
}

.bgblue-column {
    background: var(--primary-blue-gradient);
    color: #fff;
}

.table-round-attendance thead th span.sub-title {
    font-size: 10px;
    display: block;
    line-height: 10px;
}

.table-round-attendance thead th {
    background: var(--primary-blue-gradient);
    color: #fff;
    font-weight: 500;
    text-align: center;
}

.table-round-attendance thead th:first-child {
    border-radius: 7px 0 0 0;
}

.table-round-attendance thead th:last-child {
    border-radius: 0 7px 0 0;
}

.table-round-attendance tbody tr td {
    text-align: center;
}

.table-round-attendance tbody tr td:first-child {
    text-align: left;
}

.table-round-attendance tbody tr:last-child td:first-child {
    border-radius: 0 0 0 7px;
}

.table-round-attendance tbody tr:last-child td:last-child {
    border-radius: 0 0 7px 0;
}

.board-round-today .table-round-attendance thead th,
.board-round-today .table-round-attendance tbody tr td:nth-child(1),
.board-round-today .table-round-attendance tbody tr td:nth-child(2),
.board-round-today .table-round-attendance tbody tr td:nth-child(4),
.board-round-today .table-round-attendance tbody tr td:nth-child(5) {
    text-align: left;
}

.board-round-today .table-round-attendance thead th:nth-child(3) {
    text-align: center;
}

.filter-btn-grp {
    display: flex;
    align-items: center;
    justify-content: end;
}

.btn-grp-info,
.btn-grp-light {
    background: linear-gradient(180deg, rgba(247, 247, 248, 1) 10%, rgba(206, 206, 207, 1) 100%);
    border-radius: 7px;
    min-width: 60px;
    padding: .2rem .75rem;
    box-shadow: 0px 3px 6px #00000038;
}

/* Media Query */

@media (min-width:1026px) {

    .board-round-attendance,
    .board-round-today {
        box-shadow: 0px 3px 6px #00000038;
        border-radius: 7px;
        margin-bottom: .5rem;
    }

    .card-board-round-table .monthly-board-round .table-board-round,
    .card-board-round-table .board-round .table-board-round,
    .board-round-attendance .table-round-attendance,
    .board-round-today .table-round-attendance {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .card-board-round-table .monthly-board-round .table-board-round thead,
    .card-board-round-table .monthly-board-round .table-board-round tbody tr,
    .card-board-round-table .board-round .table-board-round thead,
    .card-board-round-table .board-round .table-board-round tbody tr,
    .board-round-attendance .table-round-attendance thead,
    .board-round-attendance .table-round-attendance tbody tr,
    .board-round-today .table-round-attendance thead,
    .board-round-today .table-round-attendance tbody tr {
        display: table;
        table-layout: fixed;
        width: 100%;
    }

    .card-board-round-table .monthly-board-round .table-board-round tbody,
    .card-board-round-table .board-round .table-board-round tbody,
    .board-round-attendance .table-round-attendance tbody,
    .board-round-today .table-round-attendance tbody {
        flex: 1 1 auto;
        display: block;
        max-height: 90vh;
        overflow-y: auto;
    }

    .card-board-round-table .monthly-board-round .table-board-round tbody tr.ward-header,
    .card-board-round-table .board-round .table-board-round tbody tr.ward-header,
    .board-round-attendance .table-round-attendance tbody tr.ward-header {
        font-weight: 600;
    }

    .card-board-round-table .monthly-board-round .table-board-round tbody tr td:first-child,
    .card-board-round-table .board-round .table-board-round tbody tr td:first-child,
    .board-round-attendance .table-round-attendance tbody tr td:first-child {
        padding: 8px 8px 8px 20px;
    }

    .card-board-round-table .monthly-board-round .table-board-round tbody tr.ward-header td:first-child,
    .card-board-round-table .board-round .table-board-round tbody tr.ward-header td:first-child,
    .board-round-attendance .table-round-attendance tbody tr.ward-header td:first-child {
        padding: 8px;
    }

    .table-board-round thead tr th,
    .table-board-round tbody tr td,
    .table-round-attendance thead tr th,
    .table-round-attendance tbody tr td {
        border-right: 1px solid #ccc;
    }

    .table-board-round tbody tr:nth-child(odd),
    .table-round-attendance tbody tr:nth-child(odd) {
        background-color: #F2F2F3;
    }

    .table-board-round tbody tr:nth-child(even),
    .table-round-attendance tbody tr:nth-child(even) {
        background-color: #FFFFFF;
    }

    .card-board-round-table .monthly-board-round .table-board-round thead tr,
    .card-board-round-table .board-round .table-board-round thead tr {
        border-right: 2px solid rgb(128, 128, 128, 0);
        border-bottom: 1px solid #ccc;
    }

    .board-round-attendance .table-round-attendance thead tr,
    .board-round-today .table-round-attendance thead tr {
        border-right: 2px solid rgb(128, 128, 128, 0);
    }

    .card-board-round-table .monthly-board-round .table-board-round thead tr th:nth-child(1),
    .card-board-round-table .monthly-board-round .table-board-round tbody td:nth-child(1) {
        width: 20%;
    }

    .card-board-round-table .monthly-board-round .table-board-round tbody td {
        text-align: center;
        width: 10%;
    }

    .card-board-round-table .monthly-board-round .table-board-round tbody td:nth-child(1) {
        text-align: start;
    }

    .card-board-round-table .board-round .table-board-round thead tr th:nth-child(1),
    .card-board-round-table .board-round .table-board-round tbody td:nth-child(1),
    .board-round-attendance .table-round-attendance thead tr th:nth-child(1),
    .board-round-attendance .table-round-attendance tbody td:nth-child(1) {
        width: 15%;
    }

    .board-round-today .table-round-attendance thead th:nth-child(1),
    .board-round-today .table-round-attendance tbody td:nth-child(1),
    .board-round-today .table-round-attendance thead th:nth-child(3),
    .board-round-today .table-round-attendance tbody td:nth-child(3) {
        width: 12%;
    }

    .board-round-today .table-round-attendance thead th:nth-child(2),
    .board-round-today .table-round-attendance tbody td:nth-child(2),
    .board-round-today .table-round-attendance thead th:nth-child(5),
    .board-round-today .table-round-attendance tbody td:nth-child(5) {
        width: 15%;
    }

    .board-round-today .table-round-attendance thead th:nth-child(4),
    .board-round-today .table-round-attendance tbody td:nth-child(4) {
        width: 46%;
    }

    .card-board-round-table .monthly-board-round .table-board-round tbody::-webkit-scrollbar,
    .card-board-round-table .board-round .table-board-round tbody::-webkit-scrollbar,
    .board-round-attendance .table-round-attendance tbody::-webkit-scrollbar,
    .board-round-today .table-round-attendance tbody::-webkit-scrollbar {
        width: 1px;
    }

    .board-round-attendance .table-round-attendance tbody tr td.bg-green-cell,
    .card-board-round-table .monthly-board-round .table-board-round tbody tr td.bg-green-cell {
        background-color: #53c553;
    }

    .board-round-attendance .table-round-attendance tbody tr td.bg-amber-cell,
    .card-board-round-table .monthly-board-round .table-board-round tbody tr td.bg-amber-cell {
        background-color: #ffe341;
    }

    .card-board-round-table .monthly-board-round .table-board-round tbody tr td.bg-red-cell {
        background-color: #ff0000;
    }

    .board-round-attendance .table-round-attendance tbody tr:nth-child(even) td:first-child {
        background-color: #F2F2F3;
    }

    .board-round-attendance .table-round-attendance tbody tr:nth-child(odd) td:first-child {
        background-color: #fff;
    }

    .board-round-attendance .table-round-attendance tbody tr {
        border-bottom: 1px solid #fff;
    }

    .board-round-attendance .table-round-attendance tbody tr:last-child {
        border-bottom: none;
    }

    .table-board-round tbody tr:last-child,
    .board-round-attendance .table-round-attendance tbody tr:last-child,
    .board-round-today .table-round-attendance tbody tr:last-child {
        border-radius: 0 0 7px 7px;
    }

    .table-board-round tbody tr:last-child td:first-child {
        border-radius: 0 0 0 7px;
    }

    .table-board-round tbody tr:last-child td:last-child {
        border-radius: 0 0 7px 0;
    }
}

@media (max-width:1025px) {

    .responsiveTable tbody tr td {
        border: none;
    }

    .responsiveTable td.pivoted,
    .table-board-round.responsiveTable td.pivoted:first-child {
        width: 100% !important;
    }

    .responsiveTable td.pivoted {
        display: flex;
        flex-direction: row;
    }

    .table-board-round.responsiveTable td.pivoted {
        width: 20% !important;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid rgba(112, 112, 112, 0.5);
    }

    .responsiveTable td .tdBefore {
        width: 50%;
        white-space: normal;
    }

    .board-round-attendance .responsiveTable td .tdBefore {
        width: 75%;
        white-space: normal;
    }

    .board-round-attendance .responsiveTable td .tdBefore span.sub-title {
        padding-left: 5px;
    }

    .board-round-attendance .responsiveTable td .tdBefore span.sub-title::before {
        content: ":";
        margin-right: 5px;
    }

    .table-board-round.responsiveTable td .tdBefore {
        white-space: nowrap;
        font-size: 12px;
    }

    .responsiveTable td {
        min-height: 30px;
    }

    .table-board-round.responsiveTable td.completion-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border: none;
        width: 33.33% !important;
    }

    .table-board-round.responsiveTable td.completion-row .tdBefore {
        text-align: center !important;
    }

    .table-board-round.responsiveTable td.completion-row .tdBefore {
        color: #004975;
    }

    .monthly-board-round .table-board-round.responsiveTable td.pivoted {
        width: 100% !important;
    }

    .monthly-board-round .table-board-round.responsiveTable td {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: start;
        font-weight: 600;
    }

    .monthly-board-round .table-board-round.responsiveTable td .tdBefore {
        color: #000;
        width: 80%;
        text-align: start !important;
    }

    .monthly-board-round .table-board-round.responsiveTable td.completion-row .tdBefore {
        width: 100%;
        text-align: center !important;
    }

    .monthly-board-round .table-board-round.responsiveTable td.completion-row {
        display: block;
        text-align: center !important;
        width: 33% !important;
    }

    .table-board-round.responsiveTable td.pivoted:nth-child(1),
    .board-round-attendance .table-round-attendance.responsiveTable td.pivoted:nth-child(1) {
        border-radius: 6px 6px 0 0;
        font-size: 14px;
        font-weight: 600;
        border-bottom: 1px solid rgba(112, 112, 112, 0.5);
    }

    .table-board-round.responsiveTable td.pivoted:nth-child(1) .tdBefore {
        width: 0;
    }

    .board-round-attendance .table-round-attendance.responsiveTable td.pivoted:nth-child(1) {
        display: block;
    }

    .board-round-today .responsiveTable td.pivoted {
        padding-left: calc(35% + 10px) !important;
        display: flex;
        align-items: center;
    }

    .board-round-today .responsiveTable td .tdBefore {
        position: absolute;
        left: 135px;
    }

    .card-board-round-table {
        padding: 0;
        background: none;
        box-shadow: none;
        margin-bottom: 0;
    }

    .board-round .table-board-round.responsiveTable td.pivoted:nth-child(9),
    .board-round .table-board-round.responsiveTable td.pivoted:nth-child(11) {
        border-radius: 0;
    }

    div.column-1,
    div.column-2 {
        width: 100%;
    }
}

@media(max-width:1199px) {

    .column-1 span,
    .column-2 span {
        padding-left: 3px;
    }
}

@media(max-width:991px) {
    .table-board-round .responsiveTable td.pivoted:nth-child(1) {
        border-radius: 6px;
    }

    .responsiveTable td.pivoted:nth-child(1) {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: none;
    }

    .board-round-today .table-round-attendance.responsiveTable td.pivoted:nth-child(1) {
        flex-direction: row;
    }

    .board-round-today .responsiveTable td .tdBefore {
        left: 20px;
    }

}

@media(max-width:991px) and (min-width:768px) {

    .table-board-round.responsiveTable td.pivoted {
        width: 25% !important;
    }

    .table-board-round.responsiveTable td.completion-row {
        width: 16.66% !important;
    }

    .board-round .table-board-round.responsiveTable td.pivoted:nth-child(10),
    .board-round .table-board-round.responsiveTable td.pivoted:nth-child(11) {
        border-bottom: none;
    }
}

@media(max-width:767px) {
    .table-board-round.responsiveTable td.pivoted {
        width: 50% !important;
    }

    .table-board-round.responsiveTable td .tdBefore {
        font-size: 11px;
    }

    .table-board-round.responsiveTable td.completion-row {
        width: 33.33% !important;
    }

    .column-1 img,
    .column-2 img {
        width: 15%;
        height: 10px;
    }
}