h6.graph-title {
    padding-bottom: .25rem;
    margin-bottom: 0;
    text-align: center;
    font-weight: 500;
}

.tile-shape-left {
    border-radius: 7px 0 0 7px;
    background: var(--bg-grey-gradient);
    padding: .5rem;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    min-height: 95px;
    box-shadow: 0px 3px 6px #00000038;
}

.tile-shape-left h6 {
    font-size: 14px;
}

.blue-tile-right-1,
.blue-tile-right-2,
.blue-tile-right-3,
.blue-tile-right-4,
.blue-tile-right-5,
.blue-tile-right-6 {
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 0 7px 7px 0;
    padding: .5rem .75rem;
    margin-left: -15px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 95px;
}

.blue-tile-right-1 {
    background-color: #00BCD4;
}

.blue-tile-right-2 {
    background-color: #00A9BF;
}

.blue-tile-right-3 {
    background-color: #0096AA;
}

.blue-tile-right-4 {
    background-color: #005E6A;
}

.blue-tile-right-5 {
    background-color: #003840;
}

.blue-tile-right-6 {
    background-color: #00262A;
}

.blue-tile-right-1 h6,
.blue-tile-right-2 h6,
.blue-tile-right-3 h6,
.blue-tile-right-4 h6,
.blue-tile-right-5 h6,
.blue-tile-right-6 h6 {
    margin-bottom: 0;
}

.complex-discharge-data,
.current-provider-data {
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 7px;
}

.table-complex-discharge {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    border: none;
    font-size: 12px;
    border-radius: 7px;
}

.table-complex-discharge th {
    background: var(--bg-grey-gradient);
    font-weight: 400;
}

.table-complex-discharge tr th {
    font-size: 12px;
}

.table-complex-discharge tr td {
    font-size: 10px;
}

.bg-grey {
    background-color: #F2F2F3;
}

.card-table {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #F8F8F8;
    background-clip: border-box;
    border: none;

}

.card-table .progress {
    background: rgba(218, 0, 0, 0);
    font-size: 20px;
    height: 30px;
    overflow: hidden;
    border: none;
    box-shadow: none;
    width: 150px;
    padding: 3px 6px 3px 0;

}

.card-table .progress-bar {
    background: #BCD4EC;
    border-radius: 3px;
}

.border-dashed {
    border-right: 2px dashed #707070;
}

.stranded-section .rectangle-block-1 {
    min-height: 348px;
}

.stranded-section .rectangle-block-1 .rectangle-block-2 p {
    font-size: 12px;
    font-weight: 500;
}

.stranded-section .rectangle-block-1 .legend-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
}

.stranded-section .rectangle-block-1 .legend-box h6.count-patients {
    margin: 0 .9rem;
    font-weight: 600;
}

/* Media Query */

@media (min-width: 1400px) {
    .stranded-section .rectangle-block-1 .chart-area {
        text-align: center;
        min-height: 230px;
        height: 230px;
    }
}

@media (min-width: 1026px) {

    .table-complex-discharge tbody tr:nth-child(odd) {
        background-color: #FFFFFF;
    }

    .table-complex-discharge tbody tr:nth-child(even) {
        background-color: #F2F2F3;
    }

    .table-complex-discharge thead tr:first-child {
        box-shadow: 0px 3px 6px #00000038;
        border-radius: 7px 7px 0 0;
    }

    .table-complex-discharge th:first-child {
        border-radius: 7px 0 0 0;
    }

    .table-complex-discharge th:last-child {
        border-radius: 0 7px 0 0;
    }

    .table-complex-discharge tr:last-child {
        border-radius: 0 0 7px 7px;
    }

    .table-complex-discharge tr:last-child td:first-child {
        border-radius: 0 0 0 7px;
    }

    .table-complex-discharge tr:last-child td:last-child {
        border-radius: 0 0 7px 0;
    }

    .complex-discharge-data .table-complex-discharge,
    .current-provider-data .table-complex-discharge {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .complex-discharge-data .table-complex-discharge thead,
    .complex-discharge-data .table-complex-discharge tbody tr,
    .current-provider-data .table-complex-discharge thead,
    .current-provider-data .table-complex-discharge tbody tr {
        display: table;
        table-layout: fixed;
        width: 100%;
    }

    .complex-discharge-data .table-complex-discharge tbody,
    .current-provider-data .table-complex-discharge tbody {
        flex: 1 1 auto;
        display: block;
        height: 304px;
        overflow-y: auto;
    }

    .complex-discharge-data .table-complex-discharge tbody::-webkit-scrollbar,
    .current-provider-data .table-complex-discharge tbody::-webkit-scrollbar {
        width: 3px;
    }

    .complex-discharge-data .table-complex-discharge th,
    .complex-discharge-data .table-complex-discharge tbody td {
        width: 12.5%;
    }

    .complex-discharge-data .table-complex-discharge th:nth-child(5),
    .complex-discharge-data .table-complex-discharge tbody td:nth-child(5) {
        width: 15%;
    }

    .complex-discharge-data .table-complex-discharge th:nth-child(6),
    .complex-discharge-data .table-complex-discharge tbody td:nth-child(6) {
        width: 35%;
    }

    .current-provider-data .table-complex-discharge tbody {
        height: 315px;
    }

    .current-provider-data .table-complex-discharge th,
    .current-provider-data .table-complex-discharge tbody td {
        width: 50%;
    }
}

@media (max-width:1399px) and (min-width:1026px) {

    .complex-discharge-data .table-complex-discharge tbody,
    .current-provider-data .table-complex-discharge tbody {
        height: 250px;
    }

    .current-provider-data .table-complex-discharge tbody {
        height: 309px;

    }
}

@media (max-width:1399px) {
    h6.graph-title {
        padding-bottom: .1rem;
    }

    .stranded-section .rectangle-block-1 .legend-box span {
        font-size: 12px;
    }

}

@media (max-width:1025px) and (min-width:992px) {
    .complex-discharge-data .responsiveTable td {
        min-height: 60px;
    }

    .complex-discharge-data .table-complex-discharge tr td:last-child {
        width: 100%;

    }

    .complex-discharge-data .table-complex-discharge.responsiveTable td.pivoted:nth-child(6) {
        border-radius: 0 0 6px 6px;
    }

    .stranded-section .rectangle-block-1 {
        min-height: 402px;
    }

    .stranded-section .rectangle-block-1 .chart-box {
        padding-top: 3.5rem;
    }

    .stranded-section .rectangle-block-1 .legend-box {
        padding-top: .75rem;
        padding-bottom: .5rem;
    }
}

@media (max-width:1025px) {
    .responsiveTable thead {
        display: none;
    }

    .current-provider-data .table-complex-discharge tr:last-child td:first-child {
        border-radius: 6px 0 0 0;
    }

    .table-complex-discharge.responsiveTable td.pivoted:nth-child(6) {
        border-radius: 0 0 0 6px;
    }

    .complex-discharge-data {
        box-shadow: none;
    }
}

@media (max-width:991px) and (min-width:768px) {
    .complex-discharge-data .responsiveTable td {
        min-height: 60px;
    }

    .complex-discharge-data .table-complex-discharge tr td:last-child {
        width: 75%;

    }

    .complex-discharge-data .table-complex-discharge.responsiveTable td.pivoted:nth-child(6) {
        border-radius: 0 0 6px 0;
    }

    .stranded-section .rectangle-block-1 {
        min-height: 402px;
    }

    .stranded-section .rectangle-block-1 .chart-box {
        padding-top: 3.5rem;
    }

    .stranded-section .rectangle-block-1 .legend-box {
        padding-bottom: .25rem;
        height: 25px;
    }
}

@media (max-width:991px) {

    .tile-shape-left,
    .blue-tile-right-1,
    .blue-tile-right-2,
    .blue-tile-right-3,
    .blue-tile-right-4,
    .blue-tile-right-5,
    .blue-tile-right-6 {
        min-height: 40px;
    }

    .table-complex-discharge.responsiveTable td.pivoted:nth-child(6) {
        border-radius: 0;
    }

    .responsiveTable td.pivoted:nth-child(5) {
        border-radius: 0 0 0 6px;
    }

}

@media (max-width:767px) {

    .tile-shape-left,
    .blue-tile-right-1,
    .blue-tile-right-2,
    .blue-tile-right-3,
    .blue-tile-right-4,
    .blue-tile-right-5,
    .blue-tile-right-6 {
        min-height: 50px;
    }

    .tile-shape-left {
        border-radius: 4px 0 0 4px;
    }

    .blue-tile-right-1,
    .blue-tile-right-2,
    .blue-tile-right-3,
    .blue-tile-right-4,
    .blue-tile-right-5,
    .blue-tile-right-6 {
        border-radius: 0 4px 4px 0;
    }

    .complex-discharge-data,
    .current-provider-data {
        border-radius: 4px;
    }

    .table-complex-discharge.responsiveTable td.pivoted:nth-child(6),
    .current-provider-data .table-complex-discharge tr:last-child td:last-child {
        border-radius: 0 0 4px 0;
    }

    .table-complex-discharge th:first-child {
        border-radius: 4px 0 0 0;
    }

    .current-provider-data .table-complex-discharge tr:last-child td:first-child {
        border-radius: 0 0 0 4px;
    }

    .current-provider-data .table-complex-discharge tr:last-child {
        border-radius: 0 0 4px 4px;
    }

    .stranded-section .rectangle-block-1 {
        min-height: 330px;
    }

    .stranded-section .rectangle-block-1 .legend-box {
        justify-content: start;
        padding: 0 4rem;
    }
}