table {
    font-size: 11px;
}

.patients-count-box {
    background: var(--bg-grey-gradient);
    box-shadow: 0px 3px 6px #00000030;
    border-radius: 7px;
    padding: 0.75rem 1rem;
}

.covid19-sitrep .table-infection-control thead tr {
    border-radius: 7px 7px 0px 0px;
}

.covid19-sitrep .table-infection-control th {
    background: var(--bg-grey-gradient);
    font-weight: 500;
    padding: 8px;

}

.covid19-sitrep .table-infection-control th:first-child {
    border-radius: 7px 0 0 0px;
}

.covid19-sitrep .table-infection-control th:last-child {
    border-radius: 0 7px 0px 0;
}

.covid19-sitrep .table-infection-control tr:last-child td:first-child {
    border-radius: 0px 0 0 7px;
}

.covid19-sitrep .table-infection-control tr:last-child td:last-child {
    border-radius: 0px 0 7px 0;
}

.covid19-sitrep .table-infection-control tbody tr:nth-child(odd) {
    background-color: #fff;
}


.form-control,
.form-select {
    min-height: 40px;
}

.covid19-sitrep .table-infection-control tbody tr.bg-blue {
    background: var(--primary-blue);
    color: #fff;
    box-shadow: 0px 3px 6px #00000038;
}

.bg-primary,
.bg-purple,
.bg-maroon,
.bg-darkcyan {
    border-radius: 8px;
    padding: .75rem;
    color: #fff;
    min-height: 40px;
}

.bg-primary {
    background: linear-gradient(180deg, rgba(0, 142, 229, 1) 50%, rgba(0, 123, 199, 1) 100%);
}

.bg-purple {
    background: linear-gradient(180deg, rgba(122, 94, 145, 1) 50%, rgba(81, 61, 97, 1) 100%);
}

.bg-maroon {
    background: linear-gradient(180deg, rgba(148, 2, 30, 1) 50%, rgba(86, 1, 17, 1) 100%);
}

.bg-darkcyan {
    background: linear-gradient(180deg, rgba(16, 176, 179, 1) 50%, rgba(9, 132, 134, 1) 100%);
}

.fs-13 h6 {
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 0;
    padding: 0.2rem 0;
}

/* Media Query */

@media (min-width:1026px) {
    .covid19-sitrep {
        box-shadow: 0px 3px 6px #00000038;
        border-radius: 7px;
    }
}

@media (max-width:1025px) {

    .table-infection-control thead {
        display: none;
    }

    .covid19-sitrep .table-infection-control tbody tr.bg-blue {
        border: none;
    }

    .covid19-sitrep .table-infection-control tbody tr.bg-blue td {
        min-height: 35px;
    }

    .covid19-sitrep .table-infection-control.responsiveTable td.pivoted:nth-child(6) {
        border-radius: 0 0 0 6px;
    }
}

@media (max-width: 1399px) and (min-width: 1200px) {
    .fs-13 h6 {
        font-size: 12px;
    }
}

@media (max-width: 1199px) and (min-width: 768px) {

    .row-cols-md-3 .col:nth-child(4),
    .row-cols-md-3 .col:nth-child(5) {
        width: 50%;
    }
}

@media (max-width: 991px) {

    .covid19-sitrep .table-infection-control.responsiveTable td.pivoted:nth-child(9) {
        border-radius: 0 0 0 6px;
    }

    .covid19-sitrep .table-infection-control.responsiveTable td.pivoted:nth-child(6) {
        border-radius: 0;
    }
}

@media (max-width:767px) {

    .bg-darkcyan,
    .bg-maroon,
    .bg-purple,
    .btn-primary,
    .bg-primary,
    .covid19-sitrep .table-infection-control tbody tr.bg-blue {
        border-radius: 4px;
    }

    .covid19-sitrep .table-infection-control.responsiveTable td.pivoted:nth-child(9) {
        border-radius: 0 0 0 4px;
    }
}