
h6 {
    font-size: 12px;
}

.bg-grey-gradient {
    background: var(--bg-grey-gradient);
    box-shadow: 0px 3px 6px #00000030;
    border-radius: 7px;
}

.bg-grey-gradient .count-section,
.bg-grey-gradient .break-down-section {
    padding: .5rem;
    text-align: center;
}

.bg-grey-gradient .break-down-section {
    padding: .5rem 0 .25rem 0;
}

.bg-grey-gradient .count-section {
    padding: .5rem 0 .35rem 0;
}

.bg-grey-gradient .break-down-section .level-wrap {
    width: 20%;
    text-align: center;
}

.vertical-line {
    border-right: 1px solid rgb(112, 112, 112, .5);
    margin: 0 .5rem;
    min-height: 35px;
}

.bg-grey-gradient .break-down-section .level-wrap h6:last-child {
    margin-bottom: 0;
}

.bg-grey-gradient .count-section h5.total-count,
.bg-grey-gradient .tci-section h5,
.staff-count-section h5 {
    color: var(--primary-blue);
    margin-bottom: 0;
    font-size: 1.75rem;
}

.bg-dark-blue {
    background: var(--primary-blue-gradient);
    box-shadow: 0px 3px 6px #00000030;
    border-radius: 7px 7px 0 0;
    color: #fff;
    text-align: center;
    padding: .5rem;
    min-height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-dark-blue h6,
.bg-header-calender h6 {
    margin-bottom: 0;
    font-size: 12px;
}

.bg-header-calender {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(188, 188, 188, 1) 100%);
    border-radius: 7px 0 0 0;
    padding: .5rem;
    display: flex;
    align-items: center;
    min-height: 35px;
}

.step-down-count .bg-dark-blue {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 7px 0 0;
}

.step-down-count .bg-dark-blue h5 {
    font-size: 14px;
}

.calender-section {
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calender-section .day-wrap {
    text-align: center;
}

.calender-section .day-wrap h6 {
    font-size: 10px;
    margin-bottom: 0;
}

.calender-section .bg-navyblue {
    background-color: rgb(1, 83, 203, .15);
    border-radius: 6px;
    padding: .3rem .4rem;
}

.bg-grey-gradient .tci-section,
.staff-count-section {
    text-align: center;
}

.bg-grey-gradient .tci-section h5,
.staff-count-section h5 {
    padding: .5rem;
}

.staff-count-section h6,
.staff-count-section h5 {
    margin-bottom: 0;
}

.critical-patients-wrapper .row .col,
.critical-care-staff-wrapper .row .col {
    cursor: pointer;
}

.critical-patients-wrapper .bed-no h6,
.critical-care-staff-wrapper .bed-no h6 {
    font-size: 12px;
    text-align: center;
}

.critical-patients-wrapper .ccu-danger-border {
    border: 3px solid #FF0000;
    border-radius: 9px;
}

.critical-patients-wrapper .ccu-success-border {
    border: 3px solid #00BB38;
    border-radius: 9px;
}

.critical-patients-wrapper .ccu-amber-border {
    border: 3px solid #FFBE00;
    border-radius: 9px;
}

.patients-details .bg-patients-details {
    background: var(--primary-blue-gradient);
    color: #fff;
    border-radius: 7px 7px 0 0;
    padding: .5rem;
}

.patients-details .bg-patients-details img {
    filter: invert(1);
}

.bg-level-danger,
.bg-level-success,
.bg-level-amber,
.bg-los,
.bg-staff {
    font-size: 8px;
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 4px;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: .25rem;
}

.bg-level-danger {
    background: linear-gradient(180deg, rgba(255, 0, 0, 1) 0%, rgba(128, 0, 0, 1) 100%);
}

.bg-level-success {
    background: linear-gradient(180deg, rgba(51, 184, 82, 1) 0%, rgba(6, 110, 33, 1) 100%);
}

.bg-level-amber {
    background: linear-gradient(180deg, rgba(255, 230, 0, 1) 0%, rgba(255, 187, 0, 1) 100%);
    color: #000;
}

.bg-los {
    background: linear-gradient(180deg, rgba(99, 99, 99, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.bg-staff {
    background: linear-gradient(180deg, rgba(1, 157, 168, 1) 0%, rgba(2, 100, 107, 1) 100%);
}

.levels-details {
    position: relative;
    z-index: 2;
}

.levels-details .bg-grey-gradient {
    padding: .5rem;
    border-radius: 0;
    margin-bottom: .2rem;
}

.consultant-details {
    margin-top: -5px;
    position: relative;
    z-index: 1;
}

.consultant-details .bg-grey-gradient {
    border-radius: 0 0 7px 7px;
}

.consultant-details .bg-grey-gradient .contents {
    padding: .5rem;
    background: linear-gradient(180deg, rgba(253, 253, 254, 1) 50%, rgba(217, 217, 217, 1) 100%);
    border-radius: 0 0 7px 7px;
    min-height: 205px;
}

.horizontal-line {
    border-bottom: 1px solid rgb(112, 112, 112, .5);
    margin: .25rem 0;
}

.critical-flags-wrap .row .col-4 {
    text-align: center;
    padding: 2px;
}

.critical-flags-wrap img {
    width: 50px;
}

.critical-flags-wrap .flag-name {
    font-size: 8px;
    text-align: center;
    line-height: 10px;
}

.ccu-staff-wrapper {
    background: var(--bg-grey-gradient);
    border-radius: 7px;
    margin-bottom: .5rem;
    box-shadow: 0px 3px 6px #00000030;
}

.ccu-staff-wrapper .staff-contents {
    padding: .5rem;
}

.ccu-staff-wrapper .header-row {
    background: var(--primary-blue-gradient);
    color: #fff;
    border-radius: 7px 7px 0 0;
    padding: .25rem .5rem;
}

.ccu-staff-wrapper .staff-details {
    border-radius: 7px;
    box-shadow: 0px 3px 20px #00000029;
}

.ccu-staff-wrapper .staff-details ul.staff-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 12px;
}

.ccu-staff-wrapper .staff-details ul.staff-list li {
    padding: .44rem .5rem;
    min-height: 33px;
}

.ccu-staff-wrapper .staff-details ul.staff-list li:first-child {
    width: 45%;
    border-right: 1px solid rgb(112, 112, 112, .5);
}

.ccu-staff-wrapper .staff-details ul.staff-list:nth-child(odd) {
    background-color: #fff;
}

.ccu-staff-wrapper .staff-details ul.staff-list:nth-child(even) {
    background-color: rgb(173, 192, 216, .7);
}

.ccu-staff-wrapper .staff-details ul.staff-list:first-child {
    border-radius: 7px 7px 0 0;
}

.ccu-staff-wrapper .staff-details ul.staff-list:last-child {
    border-radius: 0 0 7px 7px;
}

.ccu-staff-wrapper .staff-details ul.staff-list:first-child li:first-child {
    border-radius: 7px 0 0 0;
}

.ccu-staff-wrapper .staff-details ul.staff-list:first-child li:last-child {
    border-radius: 0 7px 0 0;
}

.ccu-staff-wrapper .staff-details ul.staff-list:last-child li:first-child {
    border-radius: 0 0 0 7px;
}

.ccu-staff-wrapper .staff-details ul.staff-list:last-child li:last-child {
    border-radius: 0 0 7px 0;
}

.ccu-staff-wrapper .header-ccs h5 {
    font-size: 14px;
    margin: 0;
    font-weight: 500;
}

.stepdown-wrapper {
    position: relative;
    z-index: 2;
}

.stepdown-wrapper .bg-danger-ccu,
.stepdown-wrapper .bg-success-ccu,
.stepdown-wrapper .bg-amber-ccu,
.stepdown-wrapper .step-down-stamp {
    padding: .25rem .5rem;
    text-align: center;
    font-size: 10px;
}

.stepdown-wrapper .bg-danger-ccu {
    background-color: #FF0000;
    color: #fff;
}

.stepdown-wrapper .bg-success-ccu {
    background-color: #00BB38;
    color: #fff;
}

.stepdown-wrapper .bg-amber-ccu {
    background-color: #FFBE00;
}

.bg-edit-icon {
    background: linear-gradient(180deg, rgba(253, 253, 254, 1) 50%, rgba(236, 236, 237, 1) 100%);
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 5px;
    padding: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    margin-left: 80%;
    cursor: pointer;
}

.bg-edit-icon i {
    font-size: 12px;
    color: #000;
}

/* CCU Offcanvases Styles */

.ccu-staffing-offcanvas .form-label {
    font-size: 12px;
}

.ccu-staffing-offcanvas .form-control {
    background-color: #F3F3F3;
    border-radius: 7px;
    border: 0.5px solid rgb(128, 128, 128, .5);
}

.card-nurses-alloting {
    background: #fff;
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 7px;
    padding: 0 .25rem;
    font-size: 12px;
}

.card-nurses-alloting .form-label {
    margin-bottom: 0;
}

.card-nurses-alloting .form-control {
    background-color: transparent;
    height: 30px;
}

.card-nurses-alloting .form-control:disabled,
.card-nurses-alloting .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1;
}

.card-nurses-alloting .row:nth-child(odd),
.card-nurses-alloting .row:nth-child(even) {
    padding: .25rem .5rem;
    height: 60px;
}

.card-nurses-alloting .row:nth-child(odd) {
    background-color: #fff;
}

.card-nurses-alloting .row:nth-child(even) {
    background-color: #F2F2F3;
}

.card-nurses-alloting .row:first-child {
    border-radius: 7px 7px 0 0;
}

.card-nurses-alloting .row:last-child {
    border-radius: 0 0 7px 7px;
}

.card-nurses-alloting .line {
    border-left: 1px solid rgb(112, 112, 112, .5);
    min-height: 40px;
}

.ccu-empty-bed-border {
    border: 3px solid #fa8072;
    border-radius: 9px;
    box-shadow: 0px 3px 6px #00000030;
}

.empty-bed {
    background-color: var(--bg-primary-grey);
    min-height: 302px;
    text-align: center;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.critical-patients-wrapper h6.text-empty,
.critical-patients-wrapper h6.text-empty {
    font-size: 12px;
}

.total-nurses-offcanvas {
    width: 40%;
}

/* Media Query */

@media (min-width:1400px) {

    .critical-patients-wrapper .row-cols-xxl-9 .col,
    .critical-care-staff-wrapper .row-cols-xxl-9 .col {
        width: 11.11%;
    }

    .critical-patients-wrapper h6,
    .critical-care-staff-wrapper h6 {
        font-size: 10px;
    }

    .critical-flags-wrap img {
        width: 45px;
    }

    .critical-flags-wrap .flag-name {
        font-size: 6px;
        line-height: 8px;
    }
}

@media (max-width:1399px) {
    .empty-bed {
        min-height: 342px;
    }

    .consultant-details .bg-grey-gradient .contents {
        min-height: 240px;
    }

    .critical-flags-wrap .flag-name {
        line-height: 12px;
    }
}

@media (max-width:991px) {
    .bg-edit-icon {
        width: 40%;
        margin-left: 60%;
    }

    .allotting-nurse-offcanvas,
    .total-nurses-offcanvas {
        width: 100%;
    }

    .ccu-staff-wrapper .staff-details {
        margin-bottom: .5rem;
    }

    .ccu-staff-wrapper .staff-contents {
        padding-bottom: 0;
    }
}

@media (max-width:767px) {
    .bg-grey-gradient {
        border-radius: 4px;
    }

    .critical-patients-wrapper .ccu-danger-border,
    .critical-patients-wrapper .ccu-success-border,
    .critical-patients-wrapper .ccu-amber-border,
    .ccu-empty-bed-border {
        border-radius: 7px;
    }

    .bg-dark-blue,
    .critical-patients-wrapper .patients-details .bg-patients-details,
    .ccu-staff-wrapper .header-row,
    .ccu-staff-wrapper .staff-details ul.staff-list:first-child {
        border-radius: 4px 4px 0 0;
    }

    .bg-header-calender {
        border-radius: 4px 0 0 0;
    }

    .step-down-count .bg-dark-blue {
        border-radius: 0 4px 0 0;
    }

    .consultant-details .bg-grey-gradient,
    .consultant-details .bg-grey-gradient .contents,
    .ccu-staff-wrapper .staff-details ul.staff-list:last-child {
        border-radius: 0 0 4px 4px;
    }

    .critical-care-staff-wrapper .details .row-cols-1>*:first-child {
        width: 100%;
    }

    .bg-grey-gradient .tci-section h5,
    .staff-count-section h5 {
        padding: .25rem .5rem;
        margin-bottom: 0;
        font-size: 1.5rem;
    }

    .bg-edit-icon {
        width: 60%;
        margin-left: 40%;
    }

    .card-nurses-alloting .row:nth-child(odd),
    .card-nurses-alloting .row:nth-child(even) {
        padding: .2rem 0.25rem;
        height: 110px;
    }

    .ccu-staff-wrapper .header-ccs h5 {
        font-size: 12px;
        text-align: center;
    }

    .ccu-staff-wrapper .staff-details ul.staff-list:first-child li:first-child {
        border-radius: 4px 0 0 0;
    }

    .ccu-staff-wrapper .staff-details ul.staff-list:first-child li:last-child {
        border-radius: 0 4px 0 0;
    }

    .ccu-staff-wrapper .staff-details ul.staff-list:last-child li:first-child {
        border-radius: 0 0 0 4px;
    }

    .ccu-staff-wrapper .staff-details ul.staff-list:last-child li:last-child {
        border-radius: 0 0 4px 0;
    }
}

@media (max-width:359px) {

    h6,
    .bg-dark-blue h6,
    .bg-header-calender h6 {
        font-size: 10px;
    }
}