.chart-legend {
    width: 15px;
    height: 15px;
    border-radius: 3px;
    margin-right: 15px;
}

.chart-legend.bg-red {
    background-color: #FF0000;
}

.chart-legend.bg-blue {
    background-color: #017FCA;
}

.summary-card {
    background: var(--bg-grey-gradient);
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 10px;
    padding: .5rem .75rem;
}

.summary-counts .bg-list,
.summary-counts .bg-no-escalation,
.summary-counts .bg-escalation {
    border-radius: 8px;
    box-shadow: 0px 3px 6px #00000038;
    padding: 1rem;
    color: #fff;
    font-size: 12px;
}

.summary-counts .bg-list {
    background: linear-gradient(180deg, rgba(0, 140, 225, 1) 0%, rgba(0, 125, 202, 1) 100%);
}

.summary-counts .bg-no-escalation {
    background: linear-gradient(180deg, rgba(16, 176, 179, 1) 0%, rgba(9, 132, 134, 1) 100%);
}

.summary-counts .bg-escalation {
    background: linear-gradient(180deg, rgba(125, 27, 138, 1) 0%, rgba(61, 6, 69, 1) 100%);
}

/* Media Query */

@media (min-width:1200px) {
    .bottom-charts .summary-card {
        min-height: 420px;
    }
}

@media (max-width:767px) {

    .summary-card,
    .summary-counts .bg-list,
    .summary-counts .bg-no-escalation,
    .summary-counts .bg-escalation {
        border-radius: 4px;
    }
}