.fixed-height .form-control,
.fixed-height .btn-search {
    min-height: 35px;
}

.responsiveTable td .tdBefore {
    display: block;
}

.custom-card {
    border-radius: 7px;
    margin-top: 5px;
}

.medfit-text-danger {
    color: #E30000;
}

.medfit-text-success {
    color: #48AB3F;
}

.table-custom {
    font-size: 10px;
}

.table-custom th {
    background: var(--primary-blue);
    color: #fff;
    font-weight: 500;
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 7px 7px 0px 0px;
}

.table-patient-tbody {
    display: flex;
    width: 100%;
    border-radius: 7px;
    box-shadow: 0px 3px 6px #00000038;
}

.table-patient-row-1 {
    background: #ffff;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    border-radius: 0 0px 0px 7px;
}

.table-patient-row-2 {
    width: 50%;
    border-radius: 0 7px 7px 0;
    background: var(--bg-grey-gradient);
}

.table-patient-row-2 td {
    width: 100%;
    display: block;
}

.table-custom .table-patient-row-1 td {
    padding: 10px;
    width: 25%;
    border-bottom: 1px solid rgb(112, 112, 112, .5);
}

.table-custom .table-patient-row-3 td {
    padding: 10px;
}

.table-custom td:nth-child(5),
.table-custom td:nth-child(6),
.table-custom td:nth-child(7),
.table-custom td.spl-cell {
    border-bottom: none;
}

.name-header {
    display: flex;
    align-items: center;
    padding: 0.4rem 0.6rem;
    background: var(--primary-blue);
    box-shadow: 0px 3px 6px #00000038;
    color: #fff;
    border-radius: 7px;
    margin-bottom: 0.5rem;
}

.table-custom .table-patient-row-1 td {
    border-bottom: none;
    padding: 5px 8px;
    border-bottom: 1px dashed rgb(112, 112, 112, .5);
}

.pivoted span {
    font-weight: 600;
    word-wrap: break-word;
}

.card-col-grp {
    background-color: #fff;
    height: 92px;
    overflow-y: auto;
    overflow-x: hidden;
    min-width: 100%;
    border: .5px solid #A7A7A7;
    border-radius: 5px;
}

.card-col-grp::-webkit-scrollbar {
    width: 3px;
}

.card-col-grp .row .col-comment {
    width: 90%;
    text-wrap: wrap;
}

.card-col-grp .row .col-icons {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.card-col-grp .row .col-icons a,
.comments-all-offcanvas .table-comments tbody tr a {
    background: var(--bg-grey-gradient);
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 5px;
    padding: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 3px;
}

.card-col-grp .row .col-comment span {
    font-size: 10px;
    font-weight: 400;
}

.card-col-grp .row:nth-child(odd) {
    background-color: #FDFDFE;
    padding: 3px;
}

.card-col-grp .row:nth-child(even) {
    background-color: #F2F2F3;
    padding: 3px;
}

.header-comment {
    display: flex;
    align-items: center;
    width: 100%;
}

.header-comment .btn {
    min-width: 110px;
    width: auto;
}

.header-comment .btn-assign-task:hover {
    color: #fff;
}

.header-comment .btn-assign-task {
    margin-right: .25rem;
}

.header-comment .btn-assign-task:last-child {
    margin-right: 0;
}

.table-custom p {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 14px;
    position: relative;
    top: -1.5px;
}

.table-row {
    border-radius: 10px;
}

.buttons-grid .btn:hover,
.btn-add-comment:hover {
    color: #fff;
}

.buttons-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.offcanvas-end {
    width: 800px;
    top: 0;
    border-radius: 0;
}

.comments-all-offcanvas.offcanvas-end {
    width: 90%;
}

.card-header:first-child {
    border-radius: 0;
}

.comments-all-offcanvas .card-comments {
    padding: 0;
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 7px;
}

.comments-all-offcanvas .table-comments {
    font-size: 12px;
}

/* Other Notes Styles */

.other-notes-offcanvas.offcanvas-end {
    width: 60%;
}

.history-card {
    padding-top: 1.5rem;
}

.history-card .data-area {
    padding: .25rem .5rem;
}

.other-notes .table-other-notes {
    font-size: 12px;
}

/* Media Query */

@media (min-width:1026px) {
    .sticky-toprow {
        position: fixed;
        width: calc(100% - 115px);
        background: #F8F8F8;
        z-index: 3;
        top: 60px;
        height: 50px;
        left: 115px;
        padding: .5rem .75rem 0 .6rem;
    }

    .patient-search-contents {
        margin-top: 40px;
    }

    .bg-sticky {
        background: #F8F8F8;
        position: fixed;
        z-index: 2;
        height: 40px;
        width: calc(100% - 115px);
        left: 115px;
        padding: 0.5rem 0.75rem 0 0.6rem;
    }

    .sticky-header {
        position: sticky;
        width: 100%;
        background-color: #F8F8F8;
        z-index: 2;
        border-radius: 7px;
    }

    .bg-sticky,
    .sticky-header {
        top: 110px;
    }

    .table-custom .table-patient-tbody .table-patient-row-1 {
        border-radius: 7px 0 0 7px;
    }

    .table-custom .table-patient-tbody .table-patient-row-1 td:first-child {
        border-radius: 7px 0 0 0;
    }

    .table-custom .table-patient-row-1 td {
        width: 20%;
    }

    .table-custom .table-patient-row-1 td:nth-child(11),
    .table-custom .table-patient-row-1 td:nth-child(12) {
        width: 50%;
        border-bottom: none;
    }

    .table-patient-row-1 {
        background-color: transparent;
    }

    .table-patient-tbody {
        background: var(--bg-grey-gradient);
        border: 1px solid rgb(112, 112, 112, .5);
        margin-bottom: 0.4rem;
    }

    .btn-assign-task {
        margin-bottom: .25rem;
    }

    .table-outstanding-tasks.responsiveTable td .tdBefore,
    .table-comments.responsiveTable td .tdBefore,
    .cdt-timeline-offcanvas .card-table-listing .responsiveTable td .tdBefore {
        display: none;
    }

    .comments-all-offcanvas .table-comments thead tr {
        background: var(--primary-blue);
        box-shadow: 0px 3px 6px #00000038;
        border-radius: 7px;
        color: #fff;
    }

    .comments-all-offcanvas .table-comments thead tr th {
        font-weight: 500;
    }

    .comments-all-offcanvas .table-comments thead tr th:first-child {
        border-radius: 7px 0 0 0;
    }

    .comments-all-offcanvas .table-comments thead tr th:last-child {
        border-radius: 0 7px 0 0;
    }

    .comments-all-offcanvas .table-comments tbody tr:nth-child(odd) {
        background-color: #F2F2F3;
    }

    .comments-all-offcanvas .table-comments tbody tr:nth-child(even) {
        background-color: #fff;
    }

    .table-comments tbody tr:last-child td:first-child {
        border-radius: 0 0 0 7px;
    }

    .table-comments tbody tr:last-child td:last-child {
        border-radius: 0 0 7px 0;
    }

    .other-notes .table-other-notes {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .other-notes .table-other-notes thead,
    .other-notes .table-other-notes tbody tr {
        display: table;
        table-layout: fixed;
        width: 100%;
    }

    .other-notes .table-other-notes thead tr {
        background: var(--primary-blue);
        color: #fff;
        box-shadow: 0px 3px 6px #00000038;
        width: 100%;
        border-right: 3px solid rgb(128, 128, 128, 0);
    }

    .other-notes .table-other-notes thead tr th {
        font-weight: 500;
    }

    .other-notes .table-other-notes thead tr th:first-child {
        border-radius: 7px 0 0 0;
    }

    .other-notes .table-other-notes thead tr th:last-child {
        border-radius: 0 7px 0 0;
    }

    .other-notes .table-other-notes th:nth-child(1),
    .other-notes .table-other-notes tbody td:nth-child(1) {
        width: 56%;
    }

    .other-notes .table-other-notes th:nth-child(2),
    .other-notes .table-other-notes tbody td:nth-child(2) {
        width: 20%;
    }

    .other-notes .table-other-notes th:nth-child(3),
    .other-notes .table-other-notes tbody td:nth-child(3) {
        width: 24%;
    }

    .other-notes .table-other-notes tbody {
        flex: 1 1 auto;
        display: block;
        max-height: 170px;
        overflow-y: auto;
    }

    .other-notes .table-other-notes tbody tr {
        border-bottom: 1px solid #dedddd;
    }

    .other-notes .table-other-notes tbody::-webkit-scrollbar {
        width: 3px;
    }

    .other-notes-offcanvas .other-notes .responsiveTable td .tdBefore {
        display: none;
    }
}

@media (max-width:1399px) {
    .table-custom {
        font-size: 12px;
    }

    .responsiveTable td {
        min-height: 50px;
    }

    .table-patient-tbody {
        flex-direction: column;
    }

    .table-custom .table-patient-tbody .table-patient-row-1 {
        border-radius: 7px 7px 0 0;
    }

    .table-custom .table-patient-tbody .table-patient-row-2 {
        border-radius: 0 0 7px 7px;
    }

    .table-patient-row-1,
    .table-patient-row-2 {
        width: 100%;
    }

    .table-patient-row-2 td {
        padding: 8px;
    }

    .card-col-grp {
        height: 100px;
    }

    .table-patient-row-2 .card-col-grp .row .col-comment {
        width: 93%;
    }

    .table-patient-row-2 .card-col-grp .row .col-icons {
        width: 7%;
    }
}

@media (max-width:1199px) {
    .other-notes-offcanvas.offcanvas-end {
        width: 70%;
    }
}

@media (max-width:1025px) {
    .responsiveTable tbody tr {
        align-items: start;
    }

    .responsiveTable thead tr {
        top: 0;
        left: 0;
        border-bottom: none;
    }

    .table-patient-row-1,
    .table-patient-row-2 {
        width: 100%;
    }

    .responsiveTable .table-patient-row-2 td.pivoted {
        width: 100%;
    }

    .name-header {
        margin-bottom: 0;
        border-radius: 7px 7px 0 0;
    }

    .custom-card {
        margin-top: 0;
    }

    .table-custom {
        margin-bottom: .5rem;
    }

    .header-comment {
        margin-bottom: .5rem;
    }

    .assign-task .btn:last-child {
        margin-right: 0;
    }

    .responsiveTable tbody tr {
        margin-bottom: 0px;
        border-radius: 0;
    }

    .pivoted span {
        font-weight: 400;
    }

    .table-patient-row-1 {
        background: #FFFFFF;
    }

    .table-custom td,
    .table-custom .table-patient-row-1 td {
        border-bottom: none;
    }

    .card-col-grp {
        min-width: 100%;
        padding: 0;
        height: 200px;
    }

    .card-col-grp .row .col-icons {
        justify-content: end;
    }

    .responsiveTable td.pivoted.spl-cell,
    .responsiveTable td.pivoted.buttons-grid {
        width: 100% !important;
    }

    .table-patient-tbody:last-child .responsiveTable tbody tr:nth-child(2) {
        border-radius: 0 0 7px 7px;
    }

    .table-patient-tbody tr.table-patient-row-2 {
        border-top: none;

    }

    .table-patient-tbody:last-child tr.table-patient-row-2 {
        border-radius: 0 0 7px 7px;
    }

    .responsiveTable .table-patient-tbody:last-child .table-patient-row-2 td:first-child {
        border-radius: 0 0 7px 7px;
    }

    .responsiveTable td.pivoted.buttons-grid {
        align-items: center;
    }

    .table-custom .table-patient-tbody:last-child .table-patient-row-3 {
        border-radius: 0 0 7px 7px;
    }

    .table-custom .table-patient-tbody .table-patient-row-1,
    .table-custom .table-patient-tbody .table-patient-row-2,
    .responsiveTable .table-patient-row-1 td:first-child,
    .responsiveTable .table-patient-row-1 td:nth-child(4) {
        border-radius: 0;
    }

    .responsiveTable .table-patient-tbody:last-child .table-patient-row-3 td:first-child {
        border-radius: 0 0 7px 7px;
    }

    .table-custom .table-patient-row-1 .flags-table table tr {
        background-color: transparent;
        border: none;
    }

    .table-custom .table-patient-row-1 .flags-table table tr td {
        width: auto;
    }

    .responsiveTable .flags-table table tr td {
        min-height: 30px;
    }

    .table-comments.responsiveTable thead {
        display: none;
    }

    .table-comments.responsiveTable td.pivoted {
        width: 100%;
    }

    .table-comments.responsiveTable td {
        min-height: 35px;
    }

    .table-comments.responsiveTable td.pivoted:nth-child(2)>div {
        width: 100%;
    }

    .comments-all-offcanvas .card-comments {
        box-shadow: none;
    }

    .comments-all-offcanvas .responsiveTable tbody tr {
        margin-bottom: 5px;
        border-radius: 6px;
    }

    .other-notes-offcanvas.offcanvas-end {
        width: 100%;
    }

    .other-notes-section .rectangle-block-1 {
        background: none;
        box-shadow: none;
    }

    .history-card .data-area {
        padding: 0 .5rem;
    }

    .other-notes .responsiveTable tbody tr {
        margin-bottom: 5px;
        border-radius: 6px;
    }
}

@media (min-width:768px) and (max-width:1025px) {
    .responsiveTable td.pivoted.buttons-grid {
        display: flex;
        flex-direction: row;
    }

    .buttons-grid .btn-assign-task {
        width: 32%;
        margin-right: 2%;
    }

    .buttons-grid .btn:last-child {
        margin-right: 0;
    }
}

@media (max-width:991px) {

    .btn-danger,
    .btn-success {
        min-width: auto;
    }

    .comments-all-offcanvas.offcanvas-end {
        width: 100%;
    }

    .table-custom td {
        min-width: auto;
    }

    .responsiveTable td.pivoted:nth-child(9),
    .responsiveTable .table-patient-row-1 td.pivoted:nth-child(13) {
        border-radius: 0;
    }
}

@media (max-width:767px) {

    .header-comment .btn {
        min-width: 100px;
    }

    .card-col-grp span {
        font-size: 10px;
    }

    .btn-danger,
    .btn-success,
    .btn-dark,
    .bg-dark,
    .btn-export,
    .other-notes .responsiveTable tbody tr {
        border-radius: 4px;
    }

    .name-header {
        border-radius: 4px 4px 0 0;
    }

    .responsiveTable td.pivoted:nth-child(9),
    .responsiveTable .table-patient-row-1 td:nth-child(3),
    .responsiveTable .table-patient-row-1 td:nth-child(4) {
        border-radius: 0;
    }

    .table-custom th {
        border-radius: 4px 4px 0 0;
    }

    .patient-search-contents .table-custom .table-patient-row-1 td {
        width: 50%;
    }

    .responsiveTable .table-patient-row-3 td.pivoted {
        width: 100% !important;
    }

    .responsiveTable .table-patient-row-1 td:nth-child(2) {
        border-radius: 0 7px 0 0;
    }

    .btn-assign-task {
        margin-right: 0;
        margin-bottom: .25rem;
    }

    .table-custom .table-patient-tbody:last-child .table-patient-row-2 {
        border-radius: 0 0 4px 4px;
    }

    .responsiveTable .table-patient-tbody:last-child .table-patient-row-2 td:first-child {
        border-radius: 0 0 4px 4px;
    }

    .table-patient-row-2 .card-col-grp .row .col-comment {
        width: 80%;
    }

    .table-patient-row-2 .card-col-grp .row .col-icons {
        width: 20%;
    }

    .table-outstanding-tasks.responsiveTable td.pivoted,
    .table-comments.responsiveTable td.pivoted {
        width: 100% !important;
    }

    .header-comment {
        flex-direction: column;
    }

    .header-comment .btn-assign-task {
        margin-right: 0;
    }

    .header-comment .btn-assign-task:last-child {
        margin-bottom: 0;
    }
}

@media (max-width:350px) {
    .header-comment {
        flex-direction: column;
    }

    .header-comment .btn-assign-task {
        margin-right: 0;
    }

    .header-comment .btn {
        min-width: 100%;
    }
}