.comments-history-modal .modal-dialog {
    max-width: none;
    margin: 0.5rem;
}

.card-comment-history {
    border-radius: 7px;
    box-shadow: 0px 3px 6px #00000038;
    background: var(--bg-grey-gradient);
    padding: 0;
}

.table-comments-history {
    font-size: 12px;
}

.table-comments-history thead tr {
    background: var(--primary-blue);
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 7px;
}

.table-comments-history thead tr th {
    color: #fff;
    font-weight: 500;
}

.table-comments-history thead tr th,
.table-comments-history tbody tr td {
    border-right: 1px solid #A7A7A7;
}

.table-comments-history thead tr th:last-child,
.table-comments-history tbody tr td:last-child {
    border-right: none;
}

.table-comments-history thead tr th:first-child {
    border-radius: 7px 0 0px 0px;
    text-align: start;
}

.table-comments-history thead tr th:last-child {
    border-radius: 0 7px 0px 0px;
}

/* Media Query */

@media (min-width:1026px) {

    .table-comments-history tbody tr:nth-child(odd) {
        background-color: #F2F2F3;
    }

    .table-comments-history tbody tr:nth-child(even) {
        background-color: #FFFFFF;
    }

    .table-comments-history tbody tr:nth-child(odd),
    .table-comments-history tbody tr:nth-child(even) {
        border-bottom: .5px solid #A7A7A7;
    }

    .table-comments-history tbody tr:last-child {
        border-bottom: none;
    }

    .table-comments-history tbody tr.bg-priority-task {
        background-color: rgb(255 50 50);
        color: #fff;
    }

    .table-comments-history tbody tr:last-child {
        border-radius: 0 0 7px 7px;
    }

    .table-comments-history tbody tr:last-child td:first-child {
        border-radius: 0 0 0 7px;
    }

    .table-comments-history tbody tr:last-child td:last-child {
        border-radius: 0 0 7px 0;
    }

    .card-comment-history .responsiveTable td .tdBefore {
        display: none;
    }

    .card-comment-history .table-comments-history thead th:nth-child(4),
    .card-comment-history .table-comments-history thead th:nth-child(5),
    .card-comment-history .table-comments-history thead th:nth-child(6),
    .card-comment-history .table-comments-history thead th:nth-child(7) {
        text-align: center;
    }

    .card-comment-history .table-comments-history {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .card-comment-history .table-comments-history thead,
    .card-comment-history .table-comments-history tbody tr {
        display: table;
        table-layout: fixed;
        width: 100%;
    }

    .card-comment-history .table-comments-history tbody {
        flex: 1 1 auto;
        display: block;
        max-height: 375px;
        overflow-y: auto;
    }

    .card-comment-history .table-comments-history th:nth-child(1),
    .card-comment-history .table-comments-history th:nth-child(2),
    .card-comment-history .table-comments-history th:nth-child(3),
    .card-comment-history .table-comments-history td:nth-child(2),
    .card-comment-history .table-comments-history td:nth-child(3),
    .card-comment-history .table-comments-history th:nth-child(4),
    .card-comment-history .table-comments-history td:nth-child(1),
    .card-comment-history .table-comments-history td:nth-child(4),
    .card-comment-history .table-comments-history th:nth-child(5),
    .card-comment-history .table-comments-history td:nth-child(5) {
        width: 12.5%;
    }

    .card-comment-history .table-comments-history th:nth-child(6),
    .card-comment-history .table-comments-history td:nth-child(6) {
        width: 50%;
    }

    .card-comment-history {
        width: 100%;
        margin: 0;
    }

    .card-comment-history .table-comments-history tbody::-webkit-scrollbar {
        width: 3px;
    }
}

@media (max-width:1025px) {

    .card-comment-history .responsiveTable tbody tr {
        margin-bottom: 5px;
        border-radius: 6px;
    }

    .table-comments-history tbody tr.bg-priority-task {
        background-color: rgb(255 50 50);
        color: #fff;
    }

    .card-comment-history .responsiveTable td .tdBefore {
        white-space: nowrap;
    }

    .table-comments-history thead tr th:first-child,
    .table-comments-history tbody tr td:first-child {
        width: 20%;
    }

    .card-comment-history .responsiveTable td.pivoted:nth-child(6) {
        border-radius: 0 0 6px 6px;
        width: 100%;
    }

    .card-comment-history .responsiveTable td.pivoted {
        border-right: none;
    }

    .card-comment-history {
        padding: 0;
        background: none;
        box-shadow: none;
    }

    .card-comment-history .responsiveTable td.pivoted:nth-child(1) {
        border-radius: 6px 0 0 0;
    }

}

@media (max-width:991px) {

    .table-comments-history thead tr th:first-child,
    .table-comments-history tbody tr td:first-child {
        width: 25%;
    }

    .card-comment-history .responsiveTable td.pivoted:nth-child(5) {
        border-radius: 0 0 0 6px;
    }

    .card-comment-history .responsiveTable td.pivoted:nth-child(6) {
        width: 75%;
        border-right: none;
        border-radius: 0 0 6px 0;
    }
}

@media (max-width:767px) {

    .card-comment-history .responsiveTable tbody tr {
        border-radius: 4px;
    }

    .card-comment-history .responsiveTable td.pivoted,
    .card-comment-history .responsiveTable td.pivoted:nth-child(6) {
        width: 50%;
    }

    .card-comment-history .responsiveTable td.pivoted:nth-child(2) {
        border-radius: 0 4px 0 0;
    }

    .card-comment-history.medfit .responsiveTable td.pivoted:nth-child(3),
    .card-comment-history .responsiveTable td.pivoted:nth-child(5) {
        border-radius: 0 0 0 4px;
    }

}