@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v15/pxiDyp8kv8JHgFVrJJLm21llEA.ttf) format('truetype')
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype')
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype')
}

.popBold {
    font-family: "Poppins", sans-serif;
    font-weight: 700
}

.popReg {
    font-family: "Poppins", sans-serif;
    font-weight: 400
}

.popLight {
    font-family: "Poppins", sans-serif;
    font-weight: 300
}

.lftBx1 {
    background-color: #2196f3
}

.lftBx2 {
    background-color: #03a9f4
}

.lftBx3 {
    background-color: #00bcd4
}

.lftBx4 {
    background-color: #009688
}

.lftBx5 {
    background-color: #4caf50
}

.lftBx6 {
    background-color: #8bc34a
}

.edoverviewPageWrap .iboxane_header {
    padding: 10px 15px
}

.edoverviewPageWrap .topsec {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 0px 0px 8px 0px
}

.edoverviewPageWrap .mainSec {
    width: 100%;
    position: relative
}

.edoverviewPageWrap .mainSec .btmLeftList {
    width: 100%;
    margin: 0px;
    padding: 0px;
    list-style: none
}

.edoverviewPageWrap .mainSec .btmLeftList .itemSpecialityResTitle {
    display: none;
    font-size: 12px;
    font-weight: 600
}

.edoverviewPageWrap .mainSec .btmLeftList .itemSpecialityResTitle>span {
    display: block
}

.edoverviewPageWrap .mainSec .btmLeftList>li:first-child {
    margin-bottom: 3px
}

.edoverviewPageWrap .mainSec .btmLeftList>li:first-child>div.box1:first-child {
    box-shadow: none
}

.edoverviewPageWrap .mainSec .btmLeftList>li {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    margin-bottom: 15px
}

.edoverviewPageWrap .mainSec .btmLeftList>li>div.box1 {
    border-radius: 5px
}

.edoverviewPageWrap .mainSec .btmLeftList>li>div.box1:first-child {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.23);
    transition: all .3s ease
}

.edoverviewPageWrap .mainSec .btmLeftList>li>div.box1:first-child:hover {
    box-shadow: none
}

.edoverviewPageWrap .mainSec .btmLeftList>li>div:first-child:hover {
    cursor: pointer
}

.edoverviewPageWrap .mainSec .btmLeftList>li .box1 {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-right: 15px
}

.edoverviewPageWrap .mainSec .btmLeftList>li .box1 .headWrap {
    width: 80%;
    height: 85px;
    border-radius: 5px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #fff
}

.edoverviewPageWrap .mainSec .btmLeftList>li .box1 .headWrap:after {
    display: none;
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #fff;
    position: absolute;
    left: 100%;
    top: 50%;
    margin-left: -2px;
    transform: translateY(-50%)
}

.edoverviewPageWrap .mainSec .btmLeftList>li .box1 .headWrap .head {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    margin: 0px;
    color: #fff;
    text-shadow: 0 3px 4px #000
}

.edoverviewPageWrap .mainSec .btmLeftList>li .box1 .headWrap .head span {
    display: block;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-align: center
}

.edoverviewPageWrap .mainSec .btmLeftList>li .box2.topLabelouterBox {
    padding: 0px 0px 10px 0px;
    box-shadow: none
}

.edoverviewPageWrap .mainSec .btmLeftList>li .box2.topLabelouterBox>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative
}

.edoverviewPageWrap .mainSec .btmLeftList>li .box2.topLabelouterBox>div:after {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #2471a3
}

.edoverviewPageWrap .mainSec .btmLeftList>li .box2.topLabelouterBox .count {
    padding: 5px
}

.edoverviewPageWrap .mainSec .btmLeftList>li .box2.topLabelouterBox .count:after {
    display: none
}

.edoverviewPageWrap .mainSec .btmLeftList>li .box2.topLabelouterBox .topLabel {
    background-color: #2471a3;
    color: #fff;
    border-radius: 3px;
    padding: 6px 4px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 11px;
    width: 100%;
    text-align: center
}

.edoverviewPageWrap .mainSec .btmLeftList>li .box2 {
    width: 85%;
    padding: 8px 8px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.23)
}

.edoverviewPageWrap .mainSec .btmLeftList>li .box2 .count {
    width: 8%;
    padding: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

.edoverviewPageWrap .mainSec .btmLeftList>li .box2 .colBoxlist {
    width: 50%;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.edoverviewPageWrap .mainSec .btmLeftList>li .box2 .colBoxlist .timelapseTbl {
    margin: 0px;
    padding: 0px
}

.edoverviewPageWrap .mainSec .btmLeftList>li .box2 .colBoxlist.top {
    width: 58%
}

.edoverviewPageWrap .mainSec .btmLeftList>li .box2 .avgTime {
    margin-right: 10px;
    width: 19%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between
}

.edoverviewPageWrap .mainSec .btmLeftList>li .box2 .avgTime span,
.edoverviewPageWrap .mainSec .btmLeftList>li .box2 .avgTime .head {
    font-family: "Poppins", sans-serif;
    font-weight: 400
}

.edoverviewPageWrap .mainSec .btmLeftList>li .box2 .avgTime span {
    color: #2471a3;
    font-size: 12px;
    text-align: center
}

.edoverviewPageWrap .mainSec .btmLeftList>li .box2 .avgTime .head {
    color: #000;
    font-size: 16px;
    margin: 0px
}

.edoverviewPageWrap .mainSec .btmLeftList>li .box2 .GraphSec {
    width: 23%
}

.edoverviewPageWrap .mainSec .btmLeftList>li .box2 .GraphSec .topTxt {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    width: 100%;
    text-align: center
}

.datePicker {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 300px;
    margin-right: 10px
}

.datePicker .react-datepicker-wrapper {
    width: 100%
}

.datePicker svg {
    width: 40px;
    height: 40px;
    background-color: #ddd;
    padding: 5px
}

.datePicker .datepickerinput {
    height: 40px;
    border: solid 1px #ddd;
    text-indent: 10px;
    width: 100%;
    outline: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400
}

.datepickerInput {
    height: 40px;
    border: solid 1px #ddd;
    text-indent: 10px;
    width: 100%;
    outline: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400
}

.livtodBtnwrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

.livtodBtnwrap button.today.haveRedbg {
    background-color: #f44336;
    color: #fff;
    border: solid 1px #f44336
}

.livtodBtnwrap button {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #2471a3;
    height: 40px;
    width: 150px;
    margin-right: 10px;
    border: none;
    font-size: 16px;
    background-color: #eee;
    border: solid 1px #eee;
    border-radius: 3px;
    outline: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.23)
}

.livtodBtnwrap button:focus {
    outline: none
}

.livtodBtnwrap button.active {
    background-color: #2471a3;
    border: solid 1px #2471a3;
    color: #fff;
    box-shadow: none
}

.EDOverviewRightSecinner {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.23);
    padding: 10px;
    border-radius: 5px
}

.EDOverviewRightSecinner .headMain {
    width: 100%;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #000;
    background-color: #f1f1f1;
    padding: 10px;
    margin-bottom: 10px
}

/* .attendanceTableWrap .attendTableRow.head .column .box {
    color: #000
} */

.attendanceTableWrap .attendTableRow.inBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.attendanceTableWrap .attendTableRow.inBody .atTbleBodyRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start
}

.attendanceTableWrap .attendTableRow.inBody .atTbleBodyRow .column .box {
    background-color: rgba(190, 214, 238, .4);
    border-radius: 6px;
    color: #000
}

.attendanceTableWrap .attendTableRow.dayTxtrow {
    margin-bottom: 8px
}

.attendanceTableWrap .attendTableRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start
}

.attendanceTableWrap .attendTableRow .attendanceTableBodyFirstClm {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.attendanceTableWrap .attendTableRow .attendanceTableBodyFirstClm .cell {
    display: block;
    width: 100%;
    padding: 5px 3px;
    margin: 2px 0px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 8px;
    text-align: left;
    color: #fff
}

.attendanceTableWrap .attendTableRow .attendanceTableBodyFirstClm .cell1 {
    background: linear-gradient(180deg, rgba(0, 208, 226, 1) 20%, rgba(0, 166, 181, 1) 100%);
    border-radius: 6px;
}

.attendanceTableWrap .attendTableRow .attendanceTableBodyFirstClm .cell2 {
    background: linear-gradient(180deg, rgba(188, 212, 236, 1) 10%, rgba(88, 117, 143, 1) 100%);
    border-radius: 6px;
}

.attendanceTableWrap .attendTableRow .atTbleBodyRow {
    width: 100%
}

.attendanceTableWrap .attendTableRow .columnFirst {
    width: 15%;
    padding-right: 8px
}

.attendanceTableWrap .attendTableRow .columnFirst .attendncesHead {
    display: block;
    width: 100%;
    text-align: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 12px
}

.attendanceTableWrap .attendTableRow .column {
    width: 12.14%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

.attendanceTableWrap .attendTableRow .column .dayTxt {
    display: block;
    width: 100%;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 12px;
    padding: 5px
}

.attendanceTableWrap .attendTableRow .column .dayTxt.active {
    background-color: #F33535;
    border-radius: 6px;
    color: #fff
}

.attendanceTableWrap .attendTableRow .column .box {
    display: flex;
    padding: 5px;
    width: 45px;
    text-align: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 11px;
    margin: 2px
}

.attendanceTableWrap .attendTableRow .column .bgCol1 {
    background-color: #35D28E;
    border-radius: 6px;
}

.attendanceTableWrap .attendTableRow .column .bgCol2 {
    background-color: #BED6EE;
    border-radius: 6px;
}

.attendanceTableWrap .attendTableRow .column .bgCol3 {
    background-color: #e53935;
    border-radius: 6px;
    color: #fff;
}

.edOverViewRow>div:first-child {
    padding-right: 0px
}

.resSubHead {
    display: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #333;
    margin: 10px;
    width: 100%;
    text-align: center
}

.orange-shape {
    background-color: #F26D24;
    color: #fff;
    width: 35px;
    height: 55px;
    border-radius: 10px 0 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#ed-overview .date-box {
    background-color: #fff;
    border: 0.5px solid #707070;
    border-radius: 0 10px 10px 0;
    border-left: none;
    height: 55px;
}

#ed-overview .date-box input {
    background-color: transparent;
    width: 100%;
    padding-left: 10px;
    height: 55px;
}

#ed-overview .btn-group {
    height: 37px;
    border-radius: 10px;
}

#ed-overview .btn-group a {
    padding-top: 6px;
    min-width: 100px;
}

.top-label,
.left-header-wrap {
    background: transparent linear-gradient(0deg, #778DA0 0%, #9DB1C4 100%);
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 10px;
    color: #fff;
    padding: .75rem .25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    min-height: 55px;
}

.blue-left-header {
    background: linear-gradient(180deg, rgba(239, 244, 249, 1) 20%, rgba(200, 216, 230, 1) 100%);
    color: #000;
}

.top-label:after {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #778DA0;
}

.ms-10 {
    margin-left: -10px;
}

.w-95 {
    width: 95%;
}

.top-label h6 {
    font-size: 12px;
}

.top-label span {
    font-size: 8px;
    font-weight: 300;
}

.left-header-wrap,
.overview-card {
    height: 122px;

}

.left-header-wrap h6 {
    font-size: 18px;
    font-weight: 500;
}

.left-header-wrap span {
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
}

.left-header-wrap:after {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    content: "";
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #778DA0;
    rotate: 270deg;
}

.blue-left-header:after {
    border-top: 8px solid #dfe6ed;
}

.overview-card {
    background: linear-gradient(180deg, rgba(253, 253, 254, 1) 50%, rgba(238, 238, 239, 1) 100%);
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.overview-card .card-body {
    padding: 0 .75rem;
}


#overview-boxes .row-cols-5>* {
    padding: 3px;
}

#overview-boxes .shape-square:before {
    border: 3px solid #00b060;
}

#overview-boxes .shape-square-brown:before {
    border: 3px solid #ffc000;
}

#overview-boxes .shape-square-orange:before {
    border: 3px solid #fc6600;
}

#overview-boxes .shape-square-red:before {
    border: 3px solid #b71c1c;
}

#overview-boxes .shape-square-cyan:before {
    border: 3px solid #7030a0;
}

#overview-boxes .shape-square p,
#overview-boxes .shape-square-red p,
#overview-boxes .shape-square-brown p,
#overview-boxes .shape-square-orange p,
#overview-boxes .shape-square-cyan p {
    font-size: 10px;
}

.blue-top-header {
    box-shadow: 0px 3px 6px #00000038;
    padding: 0.5rem .2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

#header-1 .blue-top-header {
    border-radius: 10px 0 0 0;
}

#header-2 .blue-top-header {
    border-radius: 0 10px 0 0;
}

.blue-top-header h6 {
    font-size: 7px;
    font-weight: 500;
}

.grey-bottom-header {
    background: linear-gradient(180deg, rgba(253, 253, 254, 1) 50%, rgba(238, 238, 239, 1) 100%);
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 6px #00000038;
}

#header-1 .grey-bottom-header {
    border-radius: 0 0 0 10px;
}

#header-2 .grey-bottom-header {
    border-radius: 0 0 10px 0;
}

.time-stamp-1 span,
.time-stamp-2 span {
    font-size: 8px;
}

.time-stamp-1 h6,
.time-stamp-2 h6 {
    font-size: 12px;
}

.time-stamp-2 {
    color: #165998;
}

.card-grey-chart {
    background: linear-gradient(180deg, rgba(253, 253, 254, 1) 50%, rgba(238, 238, 239, 1) 100%);
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 14px;
    padding: .5rem;
    position: relative;
    min-height: 380px;
}

.live-status {
    background-color: #FE0000;
    color: #fff;
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 6px;
    padding: .5rem .75rem;
    width: 65px;
    text-align: center;
    position: absolute;
    left: 10%;
    top: 90%;
}

#attendence-details .card-grey-chart {
    min-height: 385px;
}

/* Media Query */

@media (max-width:991px) {
    #first-top-label .top-label {
        left: -10px;
        width: 102%;
    }

    .top-label h6 {
        font-size: 11px;
    }
}

@media (min-width:768px) {
    #overview-boxes .col-lg-5 {
        width: 52%;
    }

    #overview-boxes .col-lg-3 {
        width: 20%;
    }

    #column-width .col-lg-1 {
        width: 22%;
    }

    #column-width .col-lg-2 {
        width: 15%;
    }

    #column-width .col-lg-3 {
        width: 17%;
    }

    #column-width .col-lg-5 {
        width: 46%;
    }
}

@media (max-width:767px) {
    #first-top-label .top-label {
        left: 0;
        width: 100%;
    }

    .left-header-wrap,
    .overview-card {
        height: auto;
    }

    .ms-10 {
        margin-left: 0;
    }

    .overview-card {
        padding: 0 0 .5rem 0;
    }

    .left-header-wrap:after {
        top: 106%;
        left: 50%;
        rotate: 0deg;
    }

    #attendence-details .card-grey-chart {
        overflow-x: scroll;
    }

    .attendanceTableWrap {
        width: 170%;
    }

    .overall {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .5rem;
        border-radius: 10px 10px 0 0;
        box-shadow: 0px 3px 6px #00000038;
    }

    .overall h6 {
        margin-bottom: 0;
    }

    .timing-header {
        padding: .25rem 0;
    }

    .timing-header h6 {
        font-size: 12px;
    }

    .timing-header span {
        font-size: 10px;
    }

    .time-stamp-1,
    .time-stamp-2 {
        height: 55px;
    }

    .shape-square-cyan p {
        padding: 0 0 .25rem 0;
        margin-bottom: 3px;
    }
}