.card-virtual-ward {
    background: var(--bg-grey-gradient);
    box-shadow: 0px 3px 6px #00000030;
    border-radius: 7px;
    padding: 1rem;
}

.text-bed-occupied .form-control {
    border-radius: 7px 0 0 7px;
}

.text-leaflet .form-control {
    background: linear-gradient(180deg, rgba(21, 130, 226, 1) 0%, rgba(2, 127, 206, 1) 100%);
    color: #fff;
    font-weight: 600;
    border-radius: 0 7px 7px 0;
    text-align: center;
}

.text-bed-occupied .form-control::placeholder {
    color: #000;
}

.text-leaflet .form-control::placeholder {
    color: #fff;
}

.text-leaflet.cyan-input .form-control {
    background: #098486;
}

.text-leaflet.maroon-input .form-control {
    background: #9D1757;
}

.text-leaflet.green-input .form-control {
    background: #47C061;
}

.text-leaflet.orange-input .form-control {
    background: #F9703E;
}

.card-leaflet-table {
    background: var(--bg-grey-gradient);
    box-shadow: 0px 3px 6px #00000030;
    border-radius: 7px;
    padding: 0;
}

.card-leaflet-table .leaflet-assessment-ward,
.card-leaflet-table .leaflet-medical-ward {
    margin-bottom: 0.5rem;
}

.table-leaflet-ward thead {
    background: var(--bg-grey-gradient);
}

.bg-thead-custom {
    background: linear-gradient(180deg, rgba(14, 129, 219, 1) 0%, rgba(12, 103, 174, 1) 100%);
}

.bg-thead-blue {
    background-color: #1383DC;
}

.table-leaflet-ward {
    font-size: 12px;
}

.table-leaflet-ward thead th {
    font-weight: 400;
    text-align: center;
}

.table-leaflet-ward thead tr:first-child th:nth-child(3),
.table-leaflet-ward thead tr:first-child th:nth-child(4) {
    color: #fff;
}

.table-leaflet-ward tbody tr td {
    text-align: center;
}

.table-leaflet-ward thead tr:first-child th:first-child,
.table-leaflet-ward tbody tr td:first-child {
    padding: .5rem 1rem;
    text-align: left;
    width: 150px;
}

.leaflet-medical-ward .table-leaflet-ward thead {
    background: var(--bg-grey-gradient);
    box-shadow: 0px 3px 6px #00000030;
    border-radius: 7px;
}

.bg-thead-black {
    background: linear-gradient(180deg, rgba(75, 71, 71, 1) 0%, rgba(64, 62, 62, 1) 100%);
}

.bg-thead-grey {
    background-color: #989898;
}

.leaflet-surgical-ward .table-leaflet-ward thead {
    background: var(--bg-grey-gradient);
    box-shadow: 0px 3px 6px #00000030;
    border-radius: 7px;
}

.bg-thead-darkcyan {
    background: linear-gradient(180deg, rgba(0, 147, 151, 1) 0%, rgba(0, 133, 133, 1) 100%);
}

.bg-thead-cyan {
    background-color: #08BABE;
}


/* Media Query */

@media (min-width:1400px) {

    .card-leaflet-table .leaflet-medical-ward {
        margin-bottom: 0;
    }
}

@media (min-width:1026px) {
    .table-leaflet-ward tbody tr:nth-child(odd) {
        background-color: #FFFFFF;
    }

    .table-leaflet-ward tbody tr:nth-child(even) {
        background-color: #F2F2F3;
    }

    .table-leaflet-ward thead th,
    .table-leaflet-ward tbody td {
        border-right: 1px solid #A7A7A7;
    }

    .table-leaflet-ward thead th:last-child,
    .table-leaflet-ward tbody td:last-child {
        border: none;
    }

    .table-leaflet-ward thead tr:first-child th:first-child {
        border-radius: 7px 0 0 0;
    }

    .table-leaflet-ward thead tr:first-child th:last-child {
        border-radius: 0 7px 0 0;
    }

    .table-leaflet-ward tbody tr:last-child {
        font-weight: 600;
    }

    .table-leaflet-ward tbody tr:last-child td:first-child {
        border-radius: 0 0 0 7px;
    }

    .table-leaflet-ward tbody tr:last-child td:last-child {
        border-radius: 0 0 7px 0;
    }
}

@media (max-width:1025px) {

    .leaflet-assessment-ward .responsiveTable td .tdBefore {
        font-size: 10px;
    }

    .responsiveTable td.pivoted,
    .table-leaflet-ward thead tr:first-child th:first-child,
    .table-leaflet-ward tbody tr td:first-child {
        width: 20%;
    }

    .responsiveTable td .tdBefore {
        white-space: normal;
    }

    .table-leaflet-ward tbody tr:last-child td:first-child {
        border-radius: 6px 0 0 0;
    }

    .responsiveTable td.pivoted:nth-child(6) {
        border-radius: 0 0 0 6px;
    }

    .responsiveTable td.pivoted:nth-child(8) {
        border-radius: 0;
    }

    .card-leaflet-table {
        padding: 0;
        background: none;
        box-shadow: none;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 991px) {

    .responsiveTable td.pivoted,
    .table-leaflet-ward thead tr:first-child th:first-child,
    .table-leaflet-ward tbody tr td:first-child {
        width: 25%;
    }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
    .responsiveTable td.pivoted:nth-child(5) {
        border-radius: 0 0 0 6px;
    }

    .responsiveTable td.pivoted:nth-child(6) {
        border-radius: 0;
    }

    .responsiveTable td.pivoted:nth-child(8) {
        border-radius: 0 0 6px 0;
    }

    .table-leaflet-ward tbody tr td:nth-child(4) {
        border: none;
    }
}

@media screen and (max-width: 767px) {
    .responsiveTable td.pivoted:nth-child(7) {
        border-radius: 0 0 0 4px;
    }

    .responsiveTable td.pivoted:nth-child(8) {
        border-radius: 0 0 4px 0;
    }

    .table-leaflet-ward tbody tr td:nth-child(2),
    .table-leaflet-ward tbody tr td:nth-child(4),
    .table-leaflet-ward tbody tr td:nth-child(6) {
        border: none;
    }

    .card-virtual-ward {
        padding: .75rem .5rem;
    }

    .card-virtual-ward {
        border-radius: 4px;
    }

    .card-virtual-ward p {
        margin-bottom: .5rem;
    }

    .text-bed-occupied .form-control {
        border-radius: 4px 0 0 4px;
    }

    .text-leaflet .form-control {
        border-radius: 0 4px 4px 0;
    }

    .card-leaflet-table .leaflet-assessment-ward,
    .card-leaflet-table .leaflet-medical-ward {
        margin-bottom: 0.2rem;
    }

    .responsiveTable td.pivoted,
    .table-leaflet-ward thead tr:first-child th:first-child,
    .table-leaflet-ward tbody tr td:first-child {
        width: 50%;
        padding: 5px 10px;
    }
}