 .sidebar-menu .nav-item .nav-link,
 .sidebar-menu-2 .nav-item .nav-link {
     font-size: 12px;
     padding: 0 10px;
 }

 .sidebar-menu .icon-next .relative-svg {
     position: relative;
     rotate: 0deg;
     margin: 0;
 }

 .sidebar-menu .nav-item.icon-next .nav-link.active {
     padding: 0 6px;
 }

 .sidebar-menu .nav-item.icon-next .nav-link.active svg,
 #sidebar-custom .sidebar-menu .nav-link.active .icon-next svg {
     right: 3px;
     bottom: 3px;
 }

 .card-status {
     background: linear-gradient(180deg, rgba(253, 253, 254, 1) 60%, rgba(217, 217, 217, 1) 100%);
     border-radius: 7px;
     box-shadow: 0px 3px 6px #00000038;
     display: flex;
     align-items: center;
 }

 .card-status .card-body {
     padding: 1rem .5rem;
 }

 .card-status h6 {
     font-size: 12px;
     margin-bottom: 0;
 }

 .card-status h3 {
     font-size: 20px;
     margin-bottom: 0;
 }

 .btn-bg {
     background: linear-gradient(180deg, rgba(253, 253, 254, 1) 50%, rgba(236, 236, 237, 1) 100%);
     border-radius: 8px;
     box-shadow: 0px 3px 6px #00000038;
     font-weight: 400;
     padding: 0.5rem 1.5rem;
     min-height: 40px;
     min-width: 125px;
 }

 .live-status-progress {
     border-radius: 7px;
     box-shadow: 0px 3px 6px #00000038;
 }

 .table-status {
     font-size: 12px;
     margin-bottom: 0.5rem;
 }

 .table-status th {
     background: linear-gradient(180deg, rgba(78, 78, 78, 1) 50%, rgba(25, 25, 25, 1) 100%);
     color: #fff;
     font-weight: 500;
     box-shadow: 0px 3px 6px #00000038;
     padding: 8px;

 }

 .table-status tbody tr td {
     padding: 8px 20px;
 }

 .table-status tbody tr.bg-grey td:first-child,
 .table-status tbody tr.bg-white td:first-child {
     border-radius: 7px 0 0 7px;
 }

 .table-status tbody tr.bg-grey td:last-child,
 .table-status tbody tr.bg-white td:last-child {
     border-radius: 0 7px 7px 0;
 }

 .table-status th:first-child {
     border-radius: 7px 0 0 0;
 }

 .table-status th:last-child {
     border-radius: 0 7px 0 0;
 }

 .bg-grey {
     background-color: #F8F8F8;
     border-radius: 7px;
 }

 .shape-box {
     border: 1px solid #A8A8A8;
     border-radius: 6px;
     display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;
     padding: .25rem .5rem;
     background-color: #fff;
     font-weight: 500;
     min-width: 90px;
 }

 .progress-bg {
     height: 2rem;
     border: .5px solid #5E6595;
     border-radius: 5px;
 }

 .bar-progress {
     display: flex;
     align-items: center;
     height: 1.3rem;
     min-width: 200px;
     background: url(../icons/ash-straight-bar.svg);
     background-size: 6px 30px;
     margin: 5px;
 }

 .bars-cyan {
     background: url(../icons/cyan-straight-bar.svg);
     height: 1.3rem;
     background-size: 6px 30px;
 }

 .bars-ash {
     height: 1.3rem;
     background-size: contain;
 }

 span.progress-value {
     padding-left: 10px;
 }

 .btn-grey {
     background: linear-gradient(180deg, rgba(253, 253, 254, 1) 20%, rgba(217, 217, 217, 1) 100%);
     border-radius: 10px;
     padding: .5rem .25rem;
     box-shadow: 0px 3px 6px #00000038;
     font-size: 12px;
     font-weight: 400;
     display: flex;
     align-items: center;
     justify-content: space-evenly;
 }

 .childTableRow .btn-grey {
     width: 80%;
     margin: 0 10%;
 }

 .table-status tbody tr.childTableRow td {
     padding: 0;
 }

 .table-status tbody .childTableRow {
     display: none;
 }

 .childTableRow .table-inner thead tr {
     border-bottom: none;
 }

 .table-status tbody tr.childTableRow td .table-inner tbody tr td {
     padding: 8px;
 }

 .table-inner thead tr {
     border: 2px solid #535353;
 }

 .table-inner th:first-child,
 .table-inner th:last-child {
     border-radius: 0;
 }

 .table-inner th {
     background: #535353;
     color: #fff;
     font-weight: 400;
     box-shadow: none;

 }

 .childTableRow table tr {
     border-bottom: 1px solid #C4C4C4;
 }

 .childTableRow table tr:last-child {
     border-bottom: none;
 }

 .expandChildTable.selected img {
     transform: rotate(180deg);
 }

 .form-select {
     border-radius: 8px;
     width: 40%;
     font-size: 14px;
 }

 .form-control {
     border-radius: 8px;
 }

 .bg-border {
     border: 1px solid #27404C;
     padding: 10px 25px;
     border-radius: 7px;

 }

 /* Media Query */

 @media (max-width:1300px) and (min-width:1200px) {
     .card-status h6 {
         font-size: 13px;
     }
 }

 @media (max-width:1399px) and (min-width:992px) {
     .ps-12 {
         padding-left: 12px !important;
     }

     .pe-12 {
         padding-right: 12px !important;
     }
 }

 @media (max-width:1025px) {
     .responsiveTable thead {
         display: none;
     }

     .responsiveTable td .tdBefore {
         white-space: nowrap;
     }

     .responsiveTable tbody tr {
         margin-bottom: 5px;
     }

     .responsiveTable td {
         min-height: 60px;
     }

     .live-status-progress {
         box-shadow: none;
     }

     .responsiveTable td.pivoted:nth-child(1) {
         border-radius: 6px 0 0 6px;
     }

     .responsiveTable td.pivoted:nth-child(5) {
         border-radius: 0 6px 6px 0;
     }

     .table-status tbody tr:last-child td:first-child {
         border-radius: 6px 0 0 0;
     }

     .responsiveTable td.pivoted:nth-child(6),
     .table-status tbody tr:last-child td:last-child {
         border-radius: 0 0 0 6px;
     }

     .table-status tbody tr.childTableRow {
         border: none;
         background-color: transparent;
     }

     .childTableRow table tr:last-child {
         border-bottom: 0.5px solid #A7A7A7;
     }

     .bar-progress {
         min-width: 110px;
     }

     .responsiveTable td.td-center {
         display: flex;
         justify-content: center;
     }

     span.progress-value {
         padding-left: 5px;
     }

     .table-status tbody tr.bg-grey td:first-child,
     .table-status tbody tr.bg-white td:first-child {
         border-radius: 6px 0 0 0;
     }

     .table-status tbody tr.bg-grey td:last-child,
     .table-status tbody tr.bg-white td:last-child {
         border-radius: 0 0 0 6px;
     }


 }

 @media (max-width:991px) {
     .table-status tbody tr td:nth-child(4) {
         border-right: none;
     }

     .responsiveTable td.pivoted {
         padding: 5px 10px !important;
     }

     .responsiveTable td.pivoted:nth-child(1) {
         border-radius: 6px 0 0 0;
     }

     .responsiveTable td.pivoted:nth-child(5) {
         border-radius: 0 0 0 6px;
     }

     .table-status tbody tr:last-child td:last-child,
     .table-status tbody tr.childTableRow td:nth-child(8) {
         border-radius: 0 0 6px 0;
     }

     .responsiveTable td.pivoted:nth-child(6) {
         border-radius: 0;
     }

     .table-status tbody tr.bg-grey td:last-child,
     .table-status tbody tr.bg-white td:last-child {
         border-radius: 0;
     }
 }

 @media (max-width:767px) {

     .sm-width:nth-child(1),
     .button-group {
         width: 100%;
     }

     .button-group .sm-width {
         width: 49%;
     }

     .button-group .sm-width:nth-child(1) {
         margin-right: 2%;
     }

     .sm-width button {
         width: 100%;
     }

     .card-status {
         min-height: 70px;
     }

     .card-status .card-body {
         padding: 0.5rem;
     }

     .card-status h3 {
         font-size: 16px;
     }

     .btn-grey {
         font-size: 12px;
         padding: 0.5rem .25rem;
         min-width: 80px;
         border-radius: 4px;
     }

     .btn-bg,
     .card-status,
     .shape-box {
         border-radius: 4px;
     }

     .sm-width {
         width: 49%;
     }

     .sm-width:first-child {
         margin-right: 2%;
     }

     .sm-width button {
         width: 100%;
     }

     .btn-bg {
         border-radius: 4px;
     }

     .responsiveTable td.pivoted:nth-child(5),
     .responsiveTable td.pivoted:nth-child(7) {
         border-radius: 0 0 0 4px;
     }

     .responsiveTable td.pivoted:nth-child(6),
     .responsiveTable td.pivoted:nth-child(8),
     .table-status tbody tr:last-child td:last-child,
     .table-status tbody tr.bg-grey td:last-child,
     .table-status tbody tr.bg-white td:last-child,
     .table-status tbody tr.childTableRow td:nth-child(8) {
         border-radius: 0 0 4px 0;
     }
 }

 @media (max-width:359px) {
     .bar-progress {
         min-width: 93px;
     }

     span.progress-value {
         padding-left: 2px;
     }
 }