.bg-login {
    overflow: hidden;
    background: url('.././images/login-bg.png') no-repeat center fixed;
    background-size: cover;
}

.card-login {
    background-color: #fff;
    box-shadow: 0px 6px 30px #00000029;
    border-radius: 23px;
    padding: 1.5rem 1.5rem;
    position: relative;
    z-index: 2;

}

.card-login .form-control {
    border-radius: 12px;
}

.btn-login {
    background-color: #48c8cb;
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 12px;
    padding: .5rem;
    position: relative;
    z-index: 1;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

.btn-guest-login {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 50%, rgba(220, 220, 220, 1) 100%);
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 12px;
    padding: .5rem;
    position: relative;
    z-index: 1;
    font-size: 16px;
    font-weight: 500;
}

/* Media Query */

@media (min-width:768px) and (max-width:991px) {
    .card-login {
        opacity: .9;
        padding: 1rem;
    }

    .card-login .card-body {
        padding: 0;
    }

    .btn-login {
        margin-top: calc(100% - 95%);
        width: 100%;
        border-radius: 6px;
    }

    .btn-guest-login {
        width: 100%;
        border-radius: 6px;
    }
}

@media (max-width:767px) {

    .card-login {
        opacity: .9;
        padding: 1rem;
    }

    .card-login .card-body {
        padding: 0;
    }

    .btn-login {
        margin-top: calc(100% - 70%);
        width: 100%;
        border-radius: 6px;
    }

    .btn-guest-login {
        width: 100%;
        border-radius: 6px;
    }

    .bg-login {
        overflow: hidden;
        background: url('.././images/login-mobile-bg.png') no-repeat center fixed;
        background-size: cover;
    }
}

@media (max-height: 450px) {
    .vh-100 {
        height: auto !important;
    }

    .bg-login .row {
        margin: 20px 0;
    }
}
