.modal-content {
    background: var(--bg-grey-gradient);
    border-radius: 7px;
}

.modal-header {
    padding: .5rem 1rem;
    border-radius: 7px 7px 0 0;
    background: var(--bg-grey-gradient);
    box-shadow: 0px 3px 6px #0000001A;
    justify-content: space-between;
}

h6.modal-title {
    margin-bottom: 0;
}

.modal-body {
    padding: .75rem;
}

.modal-footer {
    display: block;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 5px 0 rgb(0 0 0 / 23%);
}

.modal-footer>* {
    margin: 0;
}

.breach-reason-modal .form-label,
.breach-reason-modal .form-select {
    font-size: 12px;
    margin-bottom: 0.1rem;
}

.offcanvas-end,
.offcanvas .card-header {
    border-radius: 0;
}

.offcanvas-end {
    width: 800px;
    top: 0;
    border-radius: 0;
}

.offcanvas-header {
    padding: .5rem 1rem;
    min-height: 54px;
    justify-content: space-between;
}

.modal-content h6,
.offcanvas-header h6 {
    font-size: 14px;
}

.modal-content .btn-grey,
.offcanvas-header .btn-grey {
    background: var(--bg-grey-gradient);
    border-radius: 7px;
    padding: 0.5rem 1rem;
    box-shadow: 0px 3px 6px #00000038;
    font-weight: 400;
    font-size: 14px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: #000;
}

.card-ed {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background: var(--bg-grey-gradient);
    background-clip: border-box;
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 7px;
}

.card-ed .card-header {
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    background: var(--bg-grey-gradient);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    box-shadow: 0px 3px 6px #0000001A;
    border-radius: 7px 7px 0px 0px;
    text-transform: uppercase;
}

.modal .card-header:first-child {
    border-radius: 7px 7px 0 0;
}

.timestamp {
    position: absolute;
    font-size: 14px;
    font-style: italic;
    text-align: left;
    bottom: 10px;
    right: 30px;
}

/* New Notification Panel */

.notification-panel .card-header {
    border-radius: 0;
    box-shadow: 0px 3px 6px #00000038;
    border-bottom: none;
}

.topbar-menu li {
    font-size: 14px;
    cursor: pointer;
}

.notification-panel.offcanvas-end {
    border-radius: 0;
    width: 30%;
}

.notification-panel .card-header:first-child {
    border-radius: 0;
}

.notification-panel .card-header .btn-grey {
    width: auto;
}

.notification-panel .offcanvas-body {
    z-index: -10;
}

.bg-notification-card {
    background-color: #F3F3F4;
    border-radius: 12px;
    padding: .75rem;
    margin-bottom: .5rem;
    box-shadow: 0px 3px 6px #00000038;
}

.bg-notification-card p {
    font-style: italic;
    margin-bottom: 0;
}

.bg-notification {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 29px;
    padding: .4rem .5rem;
    font-style: italic;
    color: #fff;
    font-size: 12px;
}

.blue-bg-notification {
    background-color: #85B2DF;
}

.green-bg-notification {
    background-color: #00A960;
}

.yellow-bg-notification {
    background-color: #F3CB00;
    color: #000;
}

.primary-bg-notification {
    background-color: #1082DD;
}

.new-timestamp {
    font-size: 12px;
    font-style: italic;
}

.notification-panel .btn-accept,
.notification-panel .btn-reject,
.notification-panel .btn-comment,
.transfer-notification-wrapper .btn-accept-transfer,
.transfer-notification-wrapper .btn-decline-transfer {
    background: var(--bg-grey-gradient);
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
    padding: .5rem;
    font-size: 14px;
    text-align: center;
    width: 100%;
}

.notification-panel .btn-accept,
.transfer-notification-wrapper .btn-accept-transfer {
    border: 1px solid #00A960;
}

.notification-panel .btn-reject,
.transfer-notification-wrapper .btn-decline-transfer {
    border: 1px solid #FF0000;
}

.notification-panel .btn-comment {
    border: 1px solid #0680D2;
}

.notification-panel .btn-accept:hover {
    border: 1px solid #00A960;
}

.notification-panel .btn-reject:hover {
    border: 1px solid #FF0000;
}

.notification-panel .btn-comment:hover {
    border: 1px solid #0680D2;
}

.transfer-notification-wrapper .btn-accept-transfer,
.transfer-notification-wrapper .btn-decline-transfer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.transfer-notification-wrapper .btn-accept-transfer.active {
    background: var(--bg-green-gradient);
    color: #fff;
}

.transfer-notification-wrapper .btn-decline-transfer.active {
    background: var(--bg-red-gradient);
    color: #fff;
}

.transfer-notification-wrapper .btn-accept-transfer img,
.transfer-notification-wrapper .btn-decline-transfer img {
    display: none;
}

.transfer-notification-wrapper .btn-accept-transfer.active img,
.transfer-notification-wrapper .btn-decline-transfer.active img {
    display: block;
}

.transfer-notification-wrapper .update-details {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: .25rem;
    font-weight: 500;
}

.transfer-notification-wrapper .update-details span,
.transfer-notification-wrapper .update-reason span {
    font-size: 12px;
}

.transfer-notification-wrapper .update-user-details span {
    font-weight: 500;
}

.transfer-notification-wrapper .update-reason span {
    font-style: italic;
    padding-top: .25rem;
}

/* Media Query */

@media (min-width: 992px) {

    .modal-dialog {
        max-width: 850px;

    }

    .patients-details-modal .modal-dialog {
        max-width: 99%;

    }

    .handover-modal .modal-dialog,
    .discharge-summary-modal .modal-dialog {
        max-width: 90%;

    }

}

@media (min-width: 992px) and (max-width: 1199px) {

    .notification-panel.offcanvas-end {
        width: 50%;
    }
}

@media (min-width: 768px) {

    .breach-reason-modal .modal-dialog {
        max-width: 90%;

    }
}

@media (max-width: 991px) {
    .notification-panel.offcanvas-end {
        width: 100%;
    }

    .offcanvas-end {
        top: 0;
        width: auto;
    }

    .handover-modal .modal-dialog,
    .patients-details-modal .modal-dialog,
    .discharge-summary-modal .modal-dialog {
        max-width: none;

    }
}

@media (max-width: 767px) {

    .card-ed .card-body {
        padding: 1rem .5rem;
    }

    .modal-content h6,
    .offcanvas-header h6 {
        font-size: 12px;
    }

    .card-ed,
    .modal-content .btn-grey,
    .offcanvas-header .btn-grey {
        border-radius: 4px;
        font-size: 12px;
    }

    .notification-panel .btn-accept,
    .notification-panel .btn-reject,
    .notification-panel .btn-comment {
        margin-bottom: .5rem;
    }

    .form-control {
        border-radius: 4px;
    }

}

@media (min-width: 576px) {
    .modal-dialog {
        margin: 1rem auto;
    }
}