.card-medfit {
    padding: 0;
    background: var(--bg-grey-gradient);
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 7px;
}

.table-medfit {
    font-size: 12px;
}

.table-medfit thead tr {
    background: var(--primary-blue);
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 7px;
}

.table-medfit thead tr th {
    color: #fff;
    text-align: center;
    font-weight: 500;
}

.table-medfit thead tr th,
.table-medfit tbody tr td {
    border-right: 1px solid #A7A7A7;
}

.table-medfit thead tr th:last-child,
.table-medfit tbody tr td:last-child {
    border-right: none;
}

.table-medfit thead tr th:first-child {
    border-radius: 7px 0 0px 0px;
    text-align: start;
}

.table-medfit thead tr th:last-child {
    border-radius: 0 7px 0px 0px;
}

.table-medfit tbody tr td {
    text-align: center;
}

.table-medfit tbody tr:last-child td {
    font-weight: 600;
}

.table-medfit tbody tr td:first-child {
    text-align: start;
}

.card-medfit .date-header {
    display: flex;
    align-items: center;
    padding: .25rem .5rem;
    min-height: 35px;
}

.card-medfit .date-header span {
    font-weight: 500;
}

.month-summary .table-medfit thead tr th:first-child,
.month-summary .table-medfit thead tr th:last-child {
    border-radius: 0;
}

/* Media Query */

@media (min-width:1026px) {
    .table-medfit tbody tr:nth-child(odd) {
        background-color: #F2F2F3;
    }

    .table-medfit tbody tr:nth-child(even) {
        background-color: #FFFFFF;
    }

    .month-summary .table-medfit tbody tr:last-child td:first-child {
        border-radius: 0 0 0 7px;
    }

    .month-summary .table-medfit tbody tr:last-child td:last-child {
        border-radius: 0 0 7px 0;
    }

    .table-medfit thead tr th:first-child,
    .table-medfit tbody tr td:first-child {
        width: 40%;
    }

    .table-medfit thead tr th,
    .table-medfit tbody tr td {
        width: 12%;
    }
}

@media (max-width:1025px) {

    .card-medfit {
        padding: 0;
        background: none;
        box-shadow: none;
    }

    .month-summary .card-medfit .date-header {
        padding: 0.5rem .75rem;
        background: var(--bg-grey-gradient);
        box-shadow: 0px 3px 6px #00000038;
        border-radius: 7px;
        margin-bottom: .5rem;
    }

    .responsiveTable td.pivoted {
        border-right: none;
    }
}

@media (max-width:767px) {
    .month-summary .card-medfit .date-header {
        border-radius: 4px;
    }
}