.pathway-history-offcanvas.offcanvas-end {
    width: 95%;
}

.card-pathway-history {
    border-radius: 7px;
    box-shadow: 0px 3px 6px #00000038;
    background: var(--bg-grey-gradient);
    padding: 0;
}

.medfit-text-danger {
    color: #E30000;
}

.medfit-text-success {
    color: #48AB3F;
}

.table-pathway-history,
.table-medfit-history {
    font-size: 12px;
}

.table-pathway-history thead tr,
.table-medfit-history thead tr {
    background: var(--primary-blue);
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 7px;
}

.table-pathway-history thead tr th,
.table-medfit-history thead tr th {
    color: #fff;
    font-weight: 500;
}

.table-pathway-history thead tr th,
.table-medfit-history thead tr th,
.table-pathway-history tbody tr td,
.table-medfit-history tbody tr td {
    border-right: 1px solid #A7A7A7;
}

.table-pathway-history thead tr th:last-child,
.table-medfit-history thead tr th:last-child,
.table-pathway-history tbody tr td:last-child,
.table-medfit-history tbody tr td:last-child {
    border-right: none;
}

.table-pathway-history thead tr th:first-child,
.table-medfit-history thead tr th:first-child {
    border-radius: 7px 0 0px 0px;
    text-align: start;
}

.table-pathway-history thead tr th:last-child,
.table-medfit-history thead tr th:last-child {
    border-radius: 0 7px 0px 0px;
}


.table-pathway-history tbody tr:nth-child(odd),
.table-medfit-history tbody tr:nth-child(odd) {
    background-color: #F2F2F3;
}

.table-pathway-history tbody tr:nth-child(even),
.table-medfit-history tbody tr:nth-child(even) {
    background-color: #FFFFFF;
}

/* Media Query */

@media (min-width:1026px) {

    .table-pathway-history tbody tr:last-child,
    .table-medfit-history tbody tr:last-child {
        border-radius: 0 0 7px 7px;
    }

    .table-pathway-history tbody tr:last-child td:first-child,
    .table-medfit-history tbody tr:last-child td:first-child {
        border-radius: 0 0 0 7px;
    }

    .table-pathway-history tbody tr:last-child td:last-child,
    .table-medfit-history tbody tr:last-child td:last-child {
        border-radius: 0 0 7px 0;
    }

    .card-pathway-history .responsiveTable td .tdBefore {
        display: none;
    }

    .card-pathway-history .table-pathway-history thead th:nth-child(4),
    .card-pathway-history .table-pathway-history thead th:nth-child(5),
    .card-pathway-history .table-pathway-history thead th:nth-child(6),
    .card-pathway-history .table-pathway-history thead th:nth-child(7) {
        text-align: center;
    }

    .card-pathway-history .table-pathway-history,
    .card-pathway-history .table-medfit-history {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .card-pathway-history .table-pathway-history thead,
    .card-pathway-history .table-pathway-history tbody tr,
    .card-pathway-history .table-medfit-history thead,
    .card-pathway-history .table-medfit-history tbody tr {
        display: table;
        table-layout: fixed;
        width: 100%;
    }

    .card-pathway-history .table-pathway-history tbody,
    .card-pathway-history .table-medfit-history tbody {
        flex: 1 1 auto;
        display: block;
        height: 375px;
        overflow-y: auto;
    }

    .card-pathway-history .table-medfit-history tbody {
        height: 342px;
    }

    .card-pathway-history .table-pathway-history th:nth-child(1),
    .card-pathway-history .table-pathway-history th:nth-child(4),
    .card-pathway-history .table-pathway-history th:nth-child(7),
    .card-pathway-history .table-pathway-history td:nth-child(1),
    .card-pathway-history .table-pathway-history td:nth-child(4),
    .card-pathway-history .table-pathway-history td:nth-child(7) {
        width: 10%;
    }

    .card-pathway-history .table-pathway-history th:nth-child(5),
    .card-pathway-history .table-pathway-history td:nth-child(5) {
        width: 8%;
    }

    .card-pathway-history .table-pathway-history th:nth-child(6),
    .card-pathway-history .table-pathway-history td:nth-child(6) {
        width: 12%;
    }

    .card-pathway-history .table-pathway-history th:nth-child(2),
    .card-pathway-history .table-pathway-history th:nth-child(3),
    .card-pathway-history .table-pathway-history td:nth-child(2),
    .card-pathway-history .table-pathway-history td:nth-child(3) {
        width: 25%;
    }

    .card-pathway-history {
        width: 100%;
        margin: 0;
    }

    .card-pathway-history .table-pathway-history tbody::-webkit-scrollbar,
    .card-pathway-history .table-medfit-history tbody::-webkit-scrollbar {
        width: 3px;
    }
}

@media (max-width:1025px) {
    .pathway-history-offcanvas.offcanvas-end {
        width: 100%;
    }

    .card-pathway-history .responsiveTable td .tdBefore {
        white-space: nowrap;
    }

    .card-pathway-history .responsiveTable tbody tr {
        margin-bottom: 5px;
        border-radius: 6px;
    }

    .table-pathway-history tbody tr:nth-child(odd),
    .table-medfit-history tbody tr:nth-child(odd) {
        background-color: #fff;
    }

    .table-pathway-history tbody tr:nth-child(even),
    .table-medfit-history tbody tr:nth-child(even) {
        background-color: #CEDDF5;
    }

    .table-pathway-history thead tr th:first-child,
    .table-pathway-history tbody tr td:first-child,
    .table-medfit-history thead tr th:first-child,
    .table-medfit-history tbody tr td:first-child {
        width: 20%;
    }

    .card-pathway-history .responsiveTable td.pivoted:nth-child(6) {
        border-radius: 0 0 0 6px;
    }

    .card-pathway-history .responsiveTable td.pivoted {
        border-right: none;
    }

    .card-pathway-history {
        padding: 0;
        background: none;
        box-shadow: none;
    }

    .card-pathway-history .responsiveTable td.pivoted:nth-child(1) {
        border-radius: 6px 0 0 0;
    }

    .card-pathway-history.medfit .responsiveTable td.pivoted:nth-child(1) {
        border-radius: 6px 0 0 6px;
    }
}

@media (max-width:991px) {

    .table-pathway-history thead tr th:first-child,
    .table-pathway-history tbody tr td:first-child,
    .table-medfit-history thead tr th:first-child,
    .table-medfit-history tbody tr td:first-child {
        width: 25%;
    }

    .card-pathway-history .responsiveTable td.pivoted:nth-child(5) {
        border-radius: 0 0 0 6px;
    }

    .card-pathway-history .responsiveTable td.pivoted:nth-child(6) {
        border-radius: 0;
    }

}

@media (max-width:767px) {

    .table-pathway-history tbody tr td:first-child,
    .table-medfit-history tbody tr td:first-child {
        width: 50%;
    }

    .card-pathway-history .responsiveTable tbody tr {
        border-radius: 4px;
    }

    .card-pathway-history .responsiveTable td.pivoted:nth-child(5),
    .card-pathway-history .responsiveTable td.pivoted:nth-child(6) {
        border-radius: 0;
    }

    .card-pathway-history .responsiveTable td.pivoted:nth-child(2) {
        border-radius: 0 4px 0 0;
    }

    .card-pathway-history.medfit .responsiveTable td.pivoted:nth-child(3),
    .card-pathway-history .responsiveTable td.pivoted:nth-child(7) {
        border-radius: 0 0 0 4px;
    }

}