.btn-dark,
.bg-dark {
    background: linear-gradient(180deg, rgba(127, 130, 130, 1) 20%, rgba(30, 30, 30, 1) 100%);
    border-radius: 8px;
    color: #fff;
}

.responsiveTable td .tdBefore {
    display: block;
}

.medifit-text-danger {
    color: #E30000;
}

.table-custom {
    font-size: 12px;
    margin-bottom: .5rem;
}

.table-custom th {
    background: linear-gradient(180deg, rgba(25, 131, 230, 1) 50%, rgba(0, 127, 204, 1) 100%);
    color: #fff;
    font-weight: 500;
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 7px 7px 0px 0px;
}

.table-patient-tbody {
    display: flex;
    width: 100%;
}

.table-patient-row-1 {
    background: #ffff;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    border-radius: 0 0px 0px 7px;
}

.table-patient-row-2 {
    width: 50%;
    border-radius: 0 7px 7px 0;
    background: linear-gradient(180deg, rgba(253, 253, 254, 1) 1%, rgba(236, 236, 237, 1) 100%);
}

.table-patient-row-2 td {
    width: 50%;
}

.table-custom .table-patient-row-1 td {
    padding: 10px;
    width: 25%;
    border-bottom: 1px solid rgb(112, 112, 112, .5);
}

.table-custom .table-patient-row-3 td {
    padding: 10px;
}

.table-custom td:nth-child(5),
.table-custom td:nth-child(6),
.table-custom td:nth-child(7),
.table-custom td.spl-cell {
    border-bottom: none;
}

.name-header {
    display: flex;
    align-items: center;
    padding: 0.25rem 1rem;
    background: linear-gradient(180deg, rgba(25, 131, 230, 1) 50%, rgba(0, 127, 204, 1) 100%);
    box-shadow: 0px 3px 6px #00000038;
    color: #fff;
    border-radius: 7px 7px 0 0;
}

.table-custom .table-patient-row-1 td {
    border-bottom: none;
    padding: 5px 8px;
    border-bottom: 1px dashed rgb(112, 112, 112, .5);
}

.table-patient-tbody:last-child {
    border-radius: 0 0 7px 7px;
}

.pivoted span {
    font-weight: 600;
    word-wrap: break-word;
}

.card-col-grp {
    background-color: #fff;
    height: 92px;
    overflow-y: scroll;
    overflow-x: hidden;
    min-width: 100%;
}

.card-col-grp .row .col-comment {
    width: 90%;
    text-wrap: wrap;
}

.card-col-grp .row .col-icons {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-col-grp .row .col-icons a,
.comments-all-offcanvas .table-comments tbody tr a {
    background: linear-gradient(180deg, rgba(253, 253, 254, 1) 50%, rgba(236, 236, 237, 1) 100%);
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 5px;
    padding: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 3px;
}


.card-col-grp .row .col-comment span {
    font-size: 10px;
    font-weight: 400;
}


.card-col-grp .row:nth-child(odd) {
    background-color: #FDFDFE;
    padding: 3px;
}

.card-col-grp .row:nth-child(even) {
    background-color: #F2F2F3;
    padding: 3px;
}

.header-comment {
    display: flex;
    align-items: center;
    width: 100%;
}

.header-comment .btn {
    min-width: 110px;
}

.header-comment .btn-assign-task {
    margin-right: .25rem;
}

.header-comment .btn-assign-task:hover {
    color: #fff;
}

.table-custom p {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 14px;
    position: relative;
    top: -5px;
}

.table-row {
    border-radius: 10px;
}

.buttons-grid .btn:hover,
.btn-add-comment:hover {
    color: #fff;
}

.buttons-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-assign-task {
    padding: 0.25rem 0.5rem;
    box-shadow: 3px 4px 6px rgba(85, 85, 85, 0.4);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-size: 12px;
    width: 100%;
    border: 1px solid #FFFFFF;
}

.btn-assign-task {
    background: linear-gradient(to bottom, #1152A6 0%, #4175B8 50%, #0E4285 100%);
}

.offcanvas-end {
    width: 800px;
    top: 0;
    border-radius: 0;
}

.comments-all-offcanvas.offcanvas-end {
    width: 90%;
}

.card-header:first-child {
    border-radius: 0;
}

.comments-all-offcanvas .card-comments {
    padding: 0 0 0.25rem 0;
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 7px;
}

.comments-all-offcanvas .table-comments {
    font-size: 12px;
}

.comments-all-offcanvas .table-comments thead tr {
    background-color: #009AB9;
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 7px;
    color: #fff;
}

.comments-all-offcanvas .table-comments thead tr th {
    font-weight: 500;
}

.comments-all-offcanvas .table-comments thead tr th:first-child {
    border-radius: 7px 0 0 0;
}

.comments-all-offcanvas .table-comments thead tr th:last-child {
    border-radius: 0 7px 0 0;
}

.comments-all-offcanvas .table-comments tbody tr:nth-child(odd) {
    background-color: #F9F9FA;
}

/* Media Query */

@media (min-width:1026px) and (max-width:1199px) {

    .table-custom .table-patient-row-1 td {
        padding: 8px 4px;
    }

    .card-col-grp {
        height: 100px;
    }
}

@media (min-width:1026px) {
    .table-custom .table-patient-tbody .table-patient-row-1 {
        border-radius: 7px 0 0 7px;
    }

    .table-custom .table-patient-tbody .table-patient-row-1 td:first-child {
        border-radius: 7px 0 0 0;
    }

    .table-custom .table-patient-row-1 td:nth-child(1),
    .table-custom .table-patient-row-1 td:nth-child(2),
    .table-custom .table-patient-row-1 td:nth-child(3),
    .table-custom .table-patient-row-1 td:nth-child(4),
    .table-custom .table-patient-row-1 td:nth-child(5),
    .table-custom .table-patient-row-1 td:nth-child(6),
    .table-custom .table-patient-row-1 td:nth-child(7),
    .table-custom .table-patient-row-1 td:nth-child(8),
    .table-custom .table-patient-row-1 td:nth-child(9),
    .table-custom .table-patient-row-1 td:nth-child(10) {
        width: 20%;
    }

    .table-custom .table-patient-row-1 td:nth-child(11),
    .table-custom .table-patient-row-1 td:nth-child(12) {
        width: 50%;
    }

    .table-custom .table-patient-row-1 td:nth-child(11),
    .table-custom .table-patient-row-1 td:nth-child(12) {
        border-bottom: none;
    }

    .table-patient-row-1 {
        background-color: transparent;
    }

    .table-patient-tbody {
        background: linear-gradient(180deg, rgba(253, 253, 254, 1) 1%, rgba(236, 236, 237, 1) 100%);
        border: 1px solid rgb(112, 112, 112, .5);
    }

    .btn-assign-task {
        margin-bottom: .25rem;
    }

    .table-outstanding-tasks.responsiveTable td .tdBefore,
    .table-comments.responsiveTable td .tdBefore {
        display: none;
    }

    .table-comments tbody tr:last-child td:first-child {
        border-radius: 0 0 0 7px;
    }

    .table-comments tbody tr:last-child td:last-child {
        border-radius: 0 0 7px 0;
    }
}

@media (max-width:1025px) {
    .responsiveTable tbody tr {
        align-items: start;
    }

    .responsiveTable thead tr {
        top: 0;
        left: 0;
        border-bottom: none;
    }

    .table-patient-row-1,
    .table-patient-row-2 {
        width: 100%;
    }

    .responsiveTable .table-patient-row-2 td.pivoted {
        width: 100%;
    }

    .btn-assign-task {
        margin-right: .5rem;
    }

    .header-comment {
        margin-bottom: .5rem;
    }

    .assign-task .btn:last-child {
        margin-right: 0;
    }

    .responsiveTable tbody tr {
        margin-bottom: 0px;
        border-radius: 0;
    }

    .responsiveTable td {
        min-height: 60px;
    }

    .table-patient-row-1 {
        background: #FFFFFF;
    }

    .responsiveTable td.pivoted:nth-child(1),
    .responsiveTable td.pivoted:nth-child(2),
    .responsiveTable td.pivoted:nth-child(11),
    .responsiveTable td.pivoted:nth-child(12),
    .responsiveTable .table-patient-row-1 td.pivoted:nth-child(5) {
        border-radius: 0;
    }

    .table-custom td,
    .table-custom .table-patient-row-1 td {
        border-bottom: none;
    }

    .card-col-grp {
        min-width: 100%;
        padding: 0;
        height: 200px;
    }

    .card-col-grp .row .col-icons {
        justify-content: end;
    }

    .responsiveTable .table-patient-row-1 td.pivoted:nth-child(5),
    .responsiveTable .table-patient-row-1 td.pivoted:nth-child(7) {
        background-color: #dff3f3;
    }

    .responsiveTable .table-patient-row-1 td.pivoted:nth-child(4),
    .responsiveTable .table-patient-row-1 td.pivoted:nth-child(9) {
        background-color: #fff;
    }

    .responsiveTable td.pivoted.spl-cell,
    .responsiveTable td.pivoted.buttons-grid {
        width: 100% !important;
    }

    .table-patient-tbody:last-child .responsiveTable tbody tr:nth-child(2) {
        border-radius: 0 0 7px 7px;
    }

    .table-patient-tbody tr.table-patient-row-2 {
        border-top: none;

    }

    .table-patient-tbody:last-child tr.table-patient-row-2 {
        border-radius: 0 0 7px 7px;

    }

    .responsiveTable .table-patient-tbody:last-child .table-patient-row-2 td:first-child {
        border-radius: 0 0 7px 7px;
    }

    .responsiveTable td.pivoted.buttons-grid {
        align-items: center;
    }


    .table-custom .table-patient-tbody:last-child .table-patient-row-3 {
        border-radius: 0 0 7px 7px;
    }

    .responsiveTable .table-patient-row-1 td:first-child,
    .responsiveTable .table-patient-row-1 td:nth-child(4) {
        border-radius: 0;
    }

    .responsiveTable .table-patient-tbody:last-child .table-patient-row-3 td:first-child {
        border-radius: 0 0 7px 7px;
    }

    .table-custom .table-patient-row-1 .flags-table table tr {
        background-color: transparent;
        border: none;
    }

    .table-custom .table-patient-row-1 .flags-table table tr td {
        width: auto;
    }

    .responsiveTable .flags-table table tr td {
        min-height: 30px;
    }

    .table-comments.responsiveTable thead {
        display: none;
    }

    .table-comments.responsiveTable td.pivoted {
        width: 100%;
    }

    .table-comments.responsiveTable td {
        min-height: 35px;
    }

    .table-comments.responsiveTable td.pivoted:nth-child(2)>div {
        width: 100%;
    }

    .comments-all-offcanvas .table-comments tbody tr:nth-child(odd) {
        background-color: #fff;
    }

    .comments-all-offcanvas .table-comments tbody tr:first-child,
    .comments-all-offcanvas .table-comments tbody tr:first-child td:first-child {
        border-radius: 7px 7px 0 0;
    }

    .comments-all-offcanvas .table-comments tbody tr:last-child,
    .comments-all-offcanvas .table-comments tbody tr:last-child td:last-child {
        border-radius: 0 0 7px 7px;
    }

    .comments-all-offcanvas .table-comments tbody tr:nth-child(even) td.pivoted:nth-child(1),
    .comments-all-offcanvas .table-comments tbody tr:nth-child(even) td.pivoted:nth-child(2),
    .comments-all-offcanvas .table-comments tbody tr:nth-child(even) {
        background-color: #dff3f3;
    }

    .comments-all-offcanvas .table-comments tbody tr:nth-child(odd),
    .comments-all-offcanvas .table-comments tbody tr:nth-child(even) {

        border-bottom: none;
    }

    .comments-all-offcanvas .table-comments.responsiveTable tbody tr:nth-child(2),
    .comments-all-offcanvas .table-comments.responsiveTable tbody tr:nth-child(3) {
        border-top: 0.5px solid #A7A7A7;
    }

    .comments-all-offcanvas .table-comments tbody tr:nth-child(odd):last-child,
    .comments-all-offcanvas .table-comments tbody tr:nth-child(even):last-child {
        border-bottom: 0.5px solid #A7A7A7;
    }
}

@media (min-width:768px) and (max-width:1025px) {
    .responsiveTable td.pivoted.buttons-grid {
        display: flex;
        flex-direction: row;
    }

    .buttons-grid .btn-assign-task {
        width: 32%;
        margin-right: 2%;
    }

    .buttons-grid .btn:last-child {
        margin-right: 0;
    }
}

@media (max-width:991px) {

    .btn-danger,
    .btn-success {
        min-width: auto;
    }

    .comments-all-offcanvas.offcanvas-end {
        width: 100%;
    }

    .comments-all-offcanvas .card-comments {
        padding: 0;
    }

    .table-custom td {
        min-width: auto;
    }

    .responsiveTable td.pivoted:nth-child(9) {
        border-radius: 0;
    }
}

@media (max-width:767px) {

    .header-comment .btn {
        min-width: 100px;
    }

    .card-col-grp span {
        font-size: 10px;
    }

    .form-control,
    .form-select,
    .btn-danger,
    .btn-success,
    .btn-dark,
    .bg-dark,
    .btn-export {
        border-radius: 4px;
    }

    .name-header {
        border-radius: 4px 4px 0 0;
    }

    .responsiveTable td.pivoted:nth-child(9),
    .responsiveTable .table-patient-row-1 td:nth-child(3),
    .responsiveTable .table-patient-row-1 td:nth-child(4) {
        border-radius: 0;
    }

    .table-custom th {
        border-radius: 4px 4px 0 0;
    }

    .responsiveTable .table-patient-row-3 td.pivoted {
        width: 100% !important;
    }

    .responsiveTable .table-patient-row-1 td:nth-child(2) {
        border-radius: 0 7px 0 0;
    }

    .btn-assign-task {
        margin-right: 0;
        margin-bottom: .25rem;
    }

    .table-custom .table-patient-tbody:last-child .table-patient-row-2 {
        border-radius: 0 0 4px 4px;
    }

    .responsiveTable .table-patient-tbody:last-child .table-patient-row-2 td:first-child {
        border-radius: 0 0 4px 4px;
    }

    .responsiveTable .table-patient-row-1 td.pivoted:nth-child(5) {
        background-color: #fff;
    }

    .responsiveTable .table-patient-row-1 td.pivoted:nth-child(4),
    .responsiveTable .table-patient-row-1 td.pivoted:nth-child(7) {
        background-color: #dff3f3;
    }

    .card-col-grp .row .col-comment {
        width: 80%;
    }

    .card-col-grp .row .col-icons {
        width: 20%;
    }

    .table-outstanding-tasks.responsiveTable td.pivoted,
    .table-comments.responsiveTable td.pivoted {
        width: 100% !important;
    }
}

@media (max-width:350px) {
    .header-comment {
        flex-direction: column;
    }

    .header-comment .btn-assign-task {
        margin-right: 0;
    }

    .header-comment .btn {
        min-width: 100%;
    }
}