.potential-discharge-offcanvas.offcanvas-end {
    width: 800px;
    top: 0;
    border-radius: 0;
}

.potential-discharge-offcanvas.offcanvas-end {
    width: 90%;
}

.btn-custom-discharges {
    margin-right: 5px;
}

.btn-custom-discharges .btn-primary-grey {
    min-height: 37px;
    max-height: 37px;
    padding: .5rem 1.5rem;
    font-size: 14px;
    min-width: 350px;
}

table,
ul,
li {
    font-size: 12px;
}

.card-patient-details {
    background: #F9F9FA;
    border-radius: 7px;
    box-shadow: 0px 3px 6px #00000038;
}

.name-header {
    background: var(--bg-grey-gradient);
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 7px 7px 0px 0px;
    padding: .75rem 1rem;
}

.patient-details {
    padding: 1rem 1.5rem;

}

.patient-details .discharge-patient-details {
    border: 0.5px solid rgb(128, 128, 128, .5);
    border-radius: 7px;
}

.discharge-patient-details ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 5px;
    margin-bottom: 0;
}

.discharge-patient-details ul:first-child {
    border-radius: 7px 7px 0 0;
}

.discharge-patient-details ul:last-child {
    border-radius: 0 0 7px 7px;
}

.discharge-patient-details ul:nth-child(odd) {
    background-color: #F2F2F2;
}

.discharge-patient-details ul:nth-child(even) {
    background-color: #FFFFFF;
}

.label-primary {
    font-weight: 500;
}

.discharge-patient-details ul li {
    min-width: 75px;
    min-height: 20px;
}

.reason-section .discharge-patient-details {
    margin-top: .5rem;
}

.reason-section .discharge-patient-details ul li {
    min-width: 250px;
}

.pac-count-box {
    background: #F2F2F3 0% 0% no-repeat padding-box;
    border: 1px solid #7B7B7B;
    border-radius: 7px;
    position: relative;
    text-align: center;
    padding: .5rem 1rem;
    width: 85px;
    height: 122px;
}

.pac-count-box>h6 {
    margin: .25rem 0;
}

.pac-triangle-text {
    position: absolute;
    top: 18px;
    left: 50%;
    text-align: center;
    color: #000;
    font-weight: 600;
    transform: translate(-50%);
    font-size: 12px;
}

.patient-details p,
.patient-details .form-label {
    font-size: 12px;
    margin-bottom: .2rem;
}

/* Media Query */

@media (max-width:991px) {
    .potential-discharge-offcanvas.offcanvas-end {
        width: 100%;
    }

    .discharge-patient-details ul {
        padding: 2px 5px;
    }
}

@media (max-width:767px) {

    .potential-dsicharge-list .btn-grey,
    .card-patient-details,
    .patient-details .discharge-patient-details,
    .pac-count-box {
        border-radius: 4px;
    }

    .pac-count-box {
        height: 125px;
    }

    .pac-count-box>h6 {
        margin: 0.25rem 0;
    }

    .patient-details {
        padding: 1rem 1.25rem;
    }

    .name-header,
    .discharge-patient-details ul:first-child {
        border-radius: 4px 4px 0 0
    }

    .discharge-patient-details .col-md-6:last-child ul:nth-last-child(2),
    .discharge-patient-details ul:last-child {
        border-radius: 0 0 4px 4px;
    }

    .reason-section .discharge-patient-details ul {
        display: block;
    }

    .reason-section .discharge-patient-details ul li {
        min-width: 250px;
    }

    .reason-section .discharge-patient-details ul li:nth-child(1)::after {
        content: " : ";
        color: #008AD5;
        font-weight: 500;
    }

    .reason-section .discharge-patient-details ul li:nth-child(2)::before {
        content: "  ";
    }

    .discharge-patient-details .col-md-6:last-child ul:last-child,
    .btn-custom-discharges .btn-primary-grey {
        display: none;
    }
}