.filters-performance .ms-options-wrap>button:focus,
.ms-options-wrap>button {
    min-height: 35px;
    margin-top: 0;
}

.filters-performance .btn-search {
    background: linear-gradient(180deg, rgba(0, 140, 225, 1) 0%, rgba(0, 125, 202, 1) 100%);
    border-radius: 7px;
    box-shadow: 0px 3px 6px #00000038;
    padding: .5rem;
    color: #fff;
    min-height: 35px;
    width: 100%;
}

.performance-contents .btn-export {
    background: var(--bg-grey-gradient);
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 7px;
    padding: .25rem 0.5rem;
    min-width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.performance-contents h6.graph-title {
    padding-bottom: .1rem;
    margin-bottom: 0;
    text-align: center;
    font-weight: 500;
}

.performance-contents .red-reasons-performance-data {
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 7px;
}

.performance-contents .red-reasons-performance-data .red-reasons-patient-details {
    padding: .5rem 0 .25rem 0;
}

.performance-contents .red-reasons-performance-data .red-reasons-patient-details .table-custom tbody::-webkit-scrollbar {
    width: 3px;
}

.performance-contents .card-table {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #F8F8F8;
    background-clip: border-box;
    border: none;
    box-shadow: none;
    margin-bottom: 0;

}

.performance-contents .red-reasons-patient-details .table-custom {
    font-size: 12px;
}

/* Media Query */

@media (min-width: 1026px) {

    .performance-contents .responsiveTable td .tdBefore {
        display: none;
    }

    .performance-contents .pivoted span {
        font-weight: 600;
        word-wrap: break-word;
    }

    .performance-contents .red-reasons-performance-data .red-reasons-patient-details .table-custom {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .performance-contents .red-reasons-performance-data .red-reasons-patient-details .table-custom thead,
    .performance-contents .red-reasons-performance-data .red-reasons-patient-details .table-custom tbody tr {
        display: table;
        table-layout: fixed;
        width: 100%;
    }

    .performance-contents .red-reasons-performance-data .red-reasons-patient-details .table-custom tbody {
        flex: 1 1 auto;
        display: block;
        min-height: 240px;
        max-height: 240px;
        overflow-y: auto;
    }

    .performance-contents .red-reasons-patient-details .table-custom thead tr th {
        border-radius: 0;
    }

    .performance-contents .red-reasons-patient-details .table-custom tbody tr:nth-child(odd) {
        background-color: #F2F2F3;
    }

    .performance-contents .red-reasons-patient-details .table-custom tbody tr:nth-child(even) {
        background-color: #fff;
    }

    .performance-contents .red-reasons-performance-data .red-reasons-patient-details .table-custom thead tr th:last-child,
    .performance-contents .red-reasons-performance-data .red-reasons-patient-details .table-custom tbody tr td:last-child {
        width: 20%;
    }

    .performance-contents .red-reasons-performance-data .red-reasons-patient-details .table-custom thead tr th:nth-child(2),
    .performance-contents .red-reasons-performance-data .red-reasons-patient-details .table-custom tbody tr td:nth-child(2),
    .performance-contents .red-reasons-performance-data .red-reasons-patient-details .table-custom thead tr th:nth-child(3),
    .performance-contents .red-reasons-performance-data .red-reasons-patient-details .table-custom tbody tr td:nth-child(3) {
        width: 10%;
    }

    .performance-contents .red-reasons-performance-data .red-reasons-patient-details .table-custom thead tr th:first-child,
    .performance-contents .red-reasons-performance-data .red-reasons-patient-details .table-custom tbody tr td:first-child,
    .performance-contents .red-reasons-performance-data .red-reasons-patient-details .table-custom thead tr th:nth-child(6),
    .performance-contents .red-reasons-performance-data .red-reasons-patient-details .table-custom tbody tr td:nth-child(6) {
        width: 17.5%;
    }

    .performance-contents .red-reasons-performance-data .red-reasons-patient-details .table-custom thead tr th,
    .performance-contents .red-reasons-performance-data .red-reasons-patient-details .table-custom tbody tr td {
        width: 12.5%;
    }
}

@media (max-width:1399px) {
    .performance-contents h6.graph-title {
        padding-bottom: .1rem;
    }
}

@media (max-width:1025px) {

    .performance-contents .table-custom,
    .performance-contents .header-comment {
        margin-bottom: 0;
    }

    .performance-contents .red-reasons-performance-data .rectangle-block-2 {
        border-radius: 7px;
    }

    .performance-contents .red-reasons-performance-data .red-reasons-patient-details {
        height: auto;
        padding: .5rem 0 .25rem 0;
    }

    .performance-contents h6.graph-title {
        padding-bottom: .5rem;
    }

    .performance-contents .red-reasons-performance-data {
        box-shadow: none;
    }

    .performance-contents .red-reasons-performance-data .red-reasons-patient-details .table-custom tbody tr td:last-child {
        width: 80%;
        border-radius: 0 0 6px 0;
    }

    .performance-contents .red-reasons-performance-data .red-reasons-patient-details .table-custom tbody tr {
        margin-bottom: 5px;
        border-radius: 6px;
    }

    .performance-contents .red-reasons-performance-data .red-reasons-patient-details .table-custom tbody tr:nth-child(2),
    .performance-contents .red-reasons-performance-data .red-reasons-patient-details .table-custom tbody tr:nth-child(3) {
        border-top: 1px solid #A7A7A7;
    }

    .performance-contents .red-reasons-performance-data .red-reasons-patient-details .table-custom tbody tr td:nth-child(1) {
        border-radius: 6px 0 0 0;
    }

    .performance-contents .red-reasons-performance-data .red-reasons-patient-details .table-custom tbody tr td:nth-child(6) {
        border-radius: 0 0 0 6px;
    }
}

@media (max-width:991px) {
    .performance-contents .red-reasons-performance-data .red-reasons-patient-details .table-custom tbody tr td:last-child {
        width: 50%;
    }

    .performance-contents .red-reasons-performance-data .red-reasons-patient-details .table-custom tbody tr td:nth-child(5) {
        border-radius: 0 0 0 6px;
    }

    .performance-contents .red-reasons-performance-data .red-reasons-patient-details .table-custom tbody tr td:nth-child(6) {
        border-radius: 0;
    }
}

@media (max-width:767px) {

    .performance-contents .red-reasons-performance-data,
    .performance-contents .btn-export,
    .performance-contents .red-reasons-performance-data .rectangle-block-2,
    .filters-performance .btn-search {
        border-radius: 4px;
    }

    .performance-contents .red-reasons-performance-data .red-reasons-patient-details .table-custom tbody tr td:nth-child(2) {
        border-radius: 0 4px 0 0;
    }

    .performance-contents .red-reasons-performance-data .red-reasons-patient-details .responsiveTable td.pivoted:nth-child(7) {
        width: 100% !important;
        border-radius: 0 0 4px 4px;
    }
}