.responsiveTable td .tdBefore {
    display: block;
    white-space: normal;
}

.sticky-toprow .form-select {
    min-height: 35px;
}

.sticky-toprow .btn-export {
    background: var(--bg-grey-gradient);
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 8px;
    padding: 0.5rem .25rem;
    min-height: 36px;
}

.custom-card {
    border-radius: 7px;
    margin-top: 5px;
}

.name-header {
    display: flex;
    align-items: center;
    padding: 0.4rem 0.6rem;
    background: var(--primary-blue);
    box-shadow: 0px 3px 6px #00000038;
    color: #fff;
    border-radius: 7px;
    margin-bottom: 0.5rem;
}

.medfit-text-danger {
    color: #E30000;
}

.medfit-text-success {
    color: #48AB3F;
}

.table-custom {
    font-size: 10px;
}

.table-custom th {
    background: var(--primary-blue);
    color: #fff;
    font-weight: 500;
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 7px 7px 0px 0px;
}

.table-patient-tbody {
    display: flex;
    width: 100%;
    border-radius: 7px;
    box-shadow: 0px 3px 6px #00000038;
}

.table-patient-row-1 {
    background: var(--bg-grey-gradient);
    display: flex;
    flex-wrap: wrap;
    width: 35%;
    border-radius: 0 0px 0px 7px;
}

.table-patient-row-2 {
    width: 30%;
}

.table-patient-row-3 {
    width: 35%;
}

.table-custom .table-patient-row-1 td {
    padding: 10px;
    width: 25%;
    border-bottom: 1px solid rgb(112, 112, 112, .5);
}

.table-custom td:nth-child(5),
.table-custom td:nth-child(6),
.table-custom td:nth-child(7),
.table-custom td.spl-cell {
    border-bottom: none;
}

.table-custom .table-patient-row-1 td {
    border-bottom: none;
    padding: 5px 8px;
    border-bottom: 1px dashed rgb(112, 112, 112, .5);
}

.table-custom .table-patient-row-2 td {
    padding: 5px 0 8px 5px;
    width: 100%;
    display: block;

}

.table-custom .table-patient-row-3 td {
    width: 100%;
    display: block;
}

.pivoted span {
    font-weight: 600;
    word-wrap: break-word;
}

.card-col-grp {
    background-color: #fff;
    height: 80px;
    overflow-y: auto;
    overflow-x: hidden;
    min-width: 100%;
    border: .5px solid #A7A7A7;
    border-radius: 5px;
}

.table-patient-row-2 .card-col-grp {
    height: 94px;
}

.card-col-grp::-webkit-scrollbar {
    width: 3px;
}

.card-col-grp .row .col-comment {
    width: 84%;
    text-wrap: wrap;
}

.table-patient-row-2 .card-col-grp .row .col-comment {
    width: 94%;
    text-wrap: wrap;
}

.card-col-grp .row .col-icons {
    width: 16%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-patient-row-2 .card-col-grp .row .col-icons {
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-col-grp .row .col-icons a,
.table-patient-row-2 .card-col-grp .row .col-icons {
    background: var(--bg-grey-gradient);
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 5px;
    padding: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1%;
    cursor: pointer;
}

.card-col-grp .row .col-icons a {
    margin-right: 3px;
}

.card-col-grp .row .col-icons a:last-child {
    margin-right: 0;
}

.card-col-grp .row .col-icons a.active,
.card-col-grp .row .col-icons a:hover,
.table-patient-row-2 .card-col-grp .row .col-icons.active,
.table-patient-row-2 .card-col-grp .row .col-icons:hover {
    background: var(--primary-blue);
}

.card-col-grp .row .col-icons a.active i,
.card-col-grp .row .col-icons a:hover i,
.table-patient-row-2 .card-col-grp .row .col-icons.active i,
.table-patient-row-2 .card-col-grp .row .col-icons:hover i {
    color: #fff;
}

.card-col-grp .row .col-comment span {
    font-size: 10px;
    font-weight: 400;
}

.card-col-grp .row:nth-child(odd) {
    background-color: #FDFDFE;
    padding: 3px;
}

.card-col-grp .row:nth-child(even) {
    background-color: #F2F2F3;
    padding: 3px;
}

.header-comment {
    display: flex;
    align-items: center;
    width: 100%;
}

.header-comment p.red-reason-time {
    font-size: 10px;
}

.card-col-grp .row .col-comment span.red-reason-created-time,
.card-col-grp .row .col-comment span.red-reason-completed-time {
    display: block;
    font-size: 10px;
}

.header-comment .btn {
    min-width: 105px;
    margin-right: .25rem;
}

.header-comment .btn:last-child {
    margin-right: 0;
}

.header-comment .btn:hover {
    color: #fff;
}

.table-custom p {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 14px;
    position: relative;
    top: -1.5px;
}

.table-row {
    border-radius: 10px;
}

.custom-card .btn:hover {
    color: #fff;
}

.btn-assign-task,
.btn-board-round {
    padding: 0.25rem 0.5rem;
    box-shadow: 3px 4px 6px rgba(85, 85, 85, 0.4);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-size: 12px;
    width: 100%;
    border: 1px solid #FFFFFF;
}

.btn-assign-task {
    background: linear-gradient(to bottom, #1152A6 0%, #4175B8 50%, #0E4285 100%);
}

.btn-board-round {
    background: linear-gradient(180deg, rgba(16, 176, 179, 1) 0%, rgba(9, 132, 134, 1) 100%);
}

.filters-performance {
    display: none;
}

/* Media Query */

@media (min-width:1400px) {
    .table-custom .table-patient-row-3 td {
        padding: 8px 5px 8px 4px;
    }
}

@media (min-width:1026px) {
    .sticky-toprow {
        position: fixed;
        width: calc(100% - 115px);
        background: #F8F8F8;
        z-index: 3;
        top: 85px;
        height: 100px;
        left: 115px;
        padding: .5rem .75rem 0 .6rem;
    }

    .other-dashboard-contents {
        margin-top: 90px;
    }

    .bg-sticky {
        background: #F8F8F8;
        position: fixed;
        height: 40px;
        width: calc(100% - 115px);
        left: 115px;
        padding: 0.5rem 0.75rem 0 0.6rem;
    }

    .sticky-header {
        position: sticky;
        width: 100%;
        background-color: #F8F8F8;
        z-index: 2;
        border-radius: 7px;
    }

    .bg-sticky,
    .sticky-header {
        top: 160px;
    }

    .table-custom .table-patient-tbody .table-patient-row-1 {
        border-radius: 7px 0 0 7px;
    }

    .table-custom .table-patient-tbody .table-patient-row-1 td:first-child {
        border-radius: 7px 0 0 0;
    }

    .table-custom .table-patient-row-1 td {
        width: 26.66%;
    }

    .table-custom .table-patient-row-1 td:nth-child(4) {
        width: 20%;
    }

    .table-custom .table-patient-row-1 td:last-child {
        border-bottom: none;
        width: 46.68%;
    }

    .table-custom .table-patient-row-1 td:nth-child(5),
    .table-custom .table-patient-row-1 td:nth-child(6),
    .table-custom .table-patient-row-1 td:nth-child(7) {
        border-bottom: none;
    }

    .table-patient-row-1 {
        background: transparent;
    }

    .table-patient-tbody {
        background: var(--bg-grey-gradient);
        border: 1px solid rgb(112, 112, 112, .5);
        margin-bottom: 0.4rem;
    }

    .btn-assign-task,
    .btn-board-round {
        margin-bottom: .25rem;
    }
}

@media (max-width:1399px) {
    .table-patient-tbody {
        flex-direction: column;
    }

    .table-patient-row-1,
    .table-patient-row-2,
    .table-patient-row-3 {
        width: 100%;
    }

    .table-custom .table-patient-row-2 td {
        width: 100%;
        display: block;
    }

    .table-custom .table-patient-row-2 td {
        padding: 8px;
    }

    .card-col-grp .row .col-comment {
        width: 93%;
    }

    .card-col-grp .row .col-icons {
        width: 7%;
    }

    .table-patient-row-2 .card-col-grp .row .col-comment {
        width: 97.5%;
    }

    .table-patient-row-2 .card-col-grp .row .col-icons {
        width: 2%;
        margin-right: .5%;
    }

}

@media (max-width:1025px) {
    .responsiveTable tbody tr {
        align-items: start;
    }

    .responsiveTable thead tr {
        top: 0;
        left: 0;
        border-bottom: none;
    }

    .pivoted span {
        font-weight: 400;
    }

    .table-patient-row-1 {
        background: #fff;
        width: 100%;
    }

    .table-patient-row-2,
    .table-patient-row-3 {
        width: 100%;
        background: var(--bg-grey-gradient);
    }

    .responsiveTable .table-patient-row-2 td.pivoted {
        width: 100%;
    }

    .name-header {
        margin-bottom: 0;
        border-radius: 7px 7px 0 0;
    }

    .custom-card {
        margin-top: 0;
    }

    .table-custom {
        margin-bottom: .5rem;
    }

    .header-comment {
        margin-bottom: .5rem;
    }

    .responsiveTable tbody tr {
        margin-bottom: 0px;
        border-radius: 0;
    }

    .responsiveTable td.pivoted:nth-child(1),
    .responsiveTable td.pivoted:nth-child(2),
    .responsiveTable td.pivoted:nth-child(11),
    .responsiveTable td.pivoted:nth-child(12),
    .responsiveTable .table-patient-row-1 td.pivoted:nth-child(5) {
        border-radius: 0;
    }

    .table-custom td,
    .table-custom .table-patient-row-1 td {
        border-bottom: none;
    }

    .card-col-grp,
    .table-patient-row-2 .card-col-grp {
        min-width: 100%;
        padding: 0;
        height: 200px;
    }

    .card-col-grp .row .col-icons {
        justify-content: end;
    }

    .responsiveTable td.pivoted.spl-cell {
        width: 100% !important;
    }

    .responsiveTable tbody tr:nth-child(2) {
        border-top: none;
    }

    .responsiveTable tbody tr:nth-child(3) {
        border-top: none;
    }

    .responsiveTable td.pivoted.spl-cell:nth-child(1) {
        border-radius: 0;
    }

    .table-custom .table-patient-tbody:last-child .table-patient-row-3 {
        border-radius: 0 0 7px 7px;
    }

    .responsiveTable .table-patient-row-1 td:first-child,
    .responsiveTable .table-patient-row-1 td:nth-child(4) {
        border-radius: 0;
    }

    .responsiveTable .table-patient-tbody:last-child .table-patient-row-3 td:first-child {
        border-radius: 0 0 7px 7px;
    }

    .table-patient-tbody:last-child .table-patient-row-3,
    .table-patient-tbody:last-child .table-patient-row-3 td,
    .responsiveTable td.pivoted.spl-cell:nth-child(1) {
        border-radius: 0 0 7px 7px;
    }
}

@media (max-width:991px) {

    .table-custom td {
        min-width: auto;
    }

    .responsiveTable td.pivoted:nth-child(9) {
        border-radius: 0;
    }

    .table-patient-row-2 .card-col-grp .row .col-comment {
        width: 92.5%;
    }

    .table-patient-row-2 .card-col-grp .row .col-icons {
        width: 7%;
        margin-right: .5%;
    }
}

@media (max-width:767px) {

    .sticky-toprow .btn-export {
        border-radius: 4px;
    }

    .table-custom .table-patient-row-1 td {
        width: 50%;
    }

    .header-comment .btn {
        min-width: 100px;
    }

    .name-header {
        border-radius: 4px 4px 0 0;
    }

    .table-custom .table-patient-tbody:last-child .table-patient-row-3,
    .responsiveTable .table-patient-tbody:last-child .table-patient-row-3 td:first-child,
    .table-patient-tbody:last-child .table-patient-row-2 td,
    .responsiveTable td.pivoted.spl-cell:nth-child(1) {
        border-radius: 0 0 4px 4px;
    }

    .card-col-grp span {
        font-size: 10px;
    }

    .responsiveTable td.pivoted:nth-child(9),
    .responsiveTable .table-patient-row-1 td:nth-child(3),
    .responsiveTable .table-patient-row-1 td:nth-child(4) {
        border-radius: 0;
    }

    .table-custom th {
        border-radius: 4px 4px 0 0;
    }

    .responsiveTable .table-patient-row-3 td.pivoted {
        width: 100% !important;
    }

    .responsiveTable .table-patient-row-1 td:nth-child(2) {
        border-radius: 0 7px 0 0;
    }

    .responsiveTable .table-patient-row-3 td.assign-task {
        flex-direction: column;
    }

    .btn-assign-task,
    .btn-board-round {
        margin-right: 0;
        margin-bottom: .25rem;
    }

    .card-col-grp .row .col-comment {
        width: 75%;
    }

    .card-col-grp .row .col-icons {
        width: 25%;
    }

    .table-patient-row-3 .header-comment {
        flex-direction: column;
    }

    .header-comment .btn {
        margin-right: 0;
    }

    .header-comment .btn,
    .header-comment div {
        min-width: 100%;
    }

}