.fovourites-dashboards-wrapper {
    background: var(--bg-grey-gradient);
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 7px;
    padding: 1rem;
    margin-bottom: .5rem;
}

.fovourites-dashboards-wrapper .btn-remove-row {
    padding: 0.25rem 0.5rem;
    background: var(--bg-red-gradient);
    box-shadow: 3px 4px 6px rgba(85, 85, 85, 0.4);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-size: 12px;
    border: 1px solid #FFFFFF;
    min-width: 100px;
    min-height: 30px;
}

.fovourites-dashboards-wrapper .btn-remove-row:hover {
    color: #fff;
}

.fovourites-dashboards-wrapper .button-section {
    padding: .5rem;
    text-align: end;
}

.fovourites-dashboards-wrapper .sortable-placeholder,
.fovourites-dashboards-wrapper .empty-placeholder {
    border: 1px dashed #FF1493;
    background-image: url("../icons/bootstrap-icons/plus-lg.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff !important;
    height: 60px;
    width: calc(100% - .5rem);
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
    background-size: 40px 40px;
}

.fovourites-dashboards-wrapper .draggable:hover {
    cursor: move;
}

/* Media Query */

@media (min-width:1026px) {
    .sticky-tab {
        position: fixed;
        width: calc(100% - 115px);
        background: #F8F8F8;
        z-index: 3;
        top: 60px;
        height: 60px;
        left: 115px;
        padding: .5rem .75rem 0 .6rem;
    }

    .favourites-wrapper {
        margin-top: 50px;
    }
}

@media (max-width:767px) {

    .fovourites-dashboards-wrapper .sortable-placeholder,
    .fovourites-dashboards-wrapper .empty-placeholder {
        height: 100px;
    }

}