.rectangle-block-3,
.rectangle-box-guage {
    background: linear-gradient(180deg, rgba(253, 253, 254, 1) 10%, rgba(238, 238, 239, 1) 70%);
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 14px;
}

.rectangle-block-3 {
    min-height: 205px;
}

#chart-area .rectangle-block-3 {
    min-height: 235px;
}

#barchart-box .rectangle-block-1 {
    min-height: 558px;
}

.rectangle-block-4 {
    background: linear-gradient(180deg, rgba(253, 253, 254, 1) 50%, rgba(238, 238, 239, 1) 100%);
    border-radius: 0px 0px 14px 14px;
    padding: 1rem;
    min-height: 65px;
}

.header-ae {
    font-family: 'Rubik', sans-serif;
    font-size: 3rem;
    color: #304676;
    margin-bottom: 0;
}

.raise-value {
    position: relative;
    top: -10px;
    display: flex;
    justify-content: center;
}

.down-value {
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
}

.raise-value svg {
    fill: #D72626;
    margin-top: -30px;
}

.raise-value span:before {
    content: "+";
}

.raise-value span {
    top: 25%;
    color: #fff;
}

.down-value svg {
    fill: #00B9C9;
    margin-top: -30px;
}

.down-value span:before {
    content: "-";
}

.down-value span {
    top: -35%;
    color: #fff;

}

.raise-value span,
.down-value span {
    position: absolute;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.gauge-bottom-box {
    background: linear-gradient(180deg, rgba(253, 253, 254, 1) 50%, rgba(238, 238, 239, 1) 100%);
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 0 0 14px 14px;
    padding: 1rem .5rem;
    position: relative;
    z-index: -1;
    margin-top: -10px;
    min-height: 116px;
}

.table-admitted th {
    padding: 6px 8px;
}

.table-admitted td {
    padding: 6px 7px;
}

#row-height .table-admitted td {
    padding: 18px 7px;
}

.table-empty-beds td {
    padding: 4px 8px;
}

.table-admitted th {
    font-weight: 600;
}

.rectangle-block-3 .bg-white:last-child td:first-child,
.rectangle-block-3 .bg-grey:last-child td:first-child,
.bottom-box-3 .bg-white:last-child td:first-child,
.bottom-box-3 .bg-grey:last-child td:first-child {
    border-radius: 0 0 0 14px;
}

.rectangle-block-3 .bg-white:last-child td:last-child,
.rectangle-block-3 .bg-grey:last-child td:last-child,
.bottom-box-3 .bg-white:last-child td:last-child,
.bottom-box-3 .bg-grey:last-child td:last-child {
    border-radius: 0 0 14px 0;
}

.table-overview td,
.table-overview th {
    padding: 9px 8px;
}

.table-overview thead tr {
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 14px 14px 0px 0px;
}

.table-overview th {
    background: linear-gradient(180deg, rgba(253, 253, 254, 1) 10%, rgba(217, 217, 217, 1) 100%);
    font-weight: 600;
}

.table-overview th:first-child {
    font-weight: 500;
    border-radius: 14px 0 0 0;
}

.table-overview th:last-child {
    border-radius: 0 14px 0 0;
}

.table-cyan-row {
    background: linear-gradient(180deg, rgba(0, 185, 201, 1) 50%, rgba(0, 81, 88, 1) 100%);
    color: #fff;
}

.mt-10 {
    margin-top: -10px;
}

.square-box-cyan,
.square-box-blue {
    width: 15px;
    height: 15px;
    border-radius: 3px;
}

.square-box-cyan {
    background-color: #00A4B3;
}

.square-box-blue {
    background-color: #A9C2D9;
}

.bottom-box-3 {
    background: linear-gradient(180deg, rgba(253, 253, 254, 1) 3%, rgba(238, 238, 239, 1) 10%);
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 14px;
    padding: .5rem 0 0 0;
    position: relative;
    z-index: 2;
    margin-top: -33px;
}

.table-empty-beds tr th,
.table-empty-beds tr td {
    text-align: center;
}

.table-empty-beds .table-cyan-row th {
    font-weight: 500;
}

.btn-overview-grey {
    background: linear-gradient(180deg, rgba(253, 253, 254, 1) 20%, rgba(238, 238, 239, 1) 100%);
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 10px;
    padding: .5rem;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
}

.overview-header {
    background: linear-gradient(180deg, rgba(253, 253, 254, 1) 20%, rgba(238, 238, 239, 1) 100%);
    box-shadow: 0px 3px 6px #00000038;
    padding: .75rem 1rem;
    margin: 1.25rem 0;
}

.bg-black-box {
    background-color: #3A3A3A;
    border-radius: 10px;
    padding: 1rem .5rem;
    color: #fff;
    text-align: center;

}

.bg-black-box h6 {
    font-size: 12px;
    margin-bottom: 0;
    font-weight: 400;
}

.bg-orange-box,
.bg-dark-box,
.bg-green-box,
.bg-blue-box {
    border-radius: 10px;
    padding: .5rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.bg-orange-box {
    background-color: #F26D24;
}

.bg-dark-box {
    background-color: #3A3A3A;
}

.bg-green-box {
    background-color: #26D795;
}

.bg-blue-box {
    background-color: #3D8A91;
}

.bg-orange-box h5,
.bg-dark-box h5,
.bg-blue-box h5,
.bg-green-box h5 {
    font-size: 15px;
    font-weight: 400;
}

.bg-orange-box h6,
.bg-dark-box h6,
.bg-blue-box h6,
.bg-green-box h6 {
    font-size: 12px;
    font-weight: 400;
}

.border-black-end {
    position: absolute;
    right: -7px;
    height: 70px;
    border-right: .5px solid #707070;
    margin-top: -10px;
}

.border-black-end-85 {
    position: absolute;
    right: -7px;
    height: 85px;
    border-right: .5px solid #707070;
    margin-top: -18px;
}

.border-black-top {
    border-top: 1px solid #707070;
}

#block-height .rectangle-block-1 {
    min-height: 672px;
}

@media (max-width:1400px) {

    .gauge-bottom-box,
    .rectangle-block-3 {
        min-height: 108px;
    }

    .rectangle-block-4 {
        padding: .75rem 1rem;
        min-height: 48px;
    }

    .table-admitted td {
        padding: 6px 7px;
    }
}

@media (max-width:991px) {
    h6 {
        font-size: 12px;
    }

    .fs-10 {
        font-size: 9px;
    }

    #row-height .table-admitted td {
        padding: 17px 7px;
    }
}

@media (max-width:767px) {

    .border-black-end-85,
    .border-black-end {
        display: none;
    }

    .rectangle-block-3,
    .rectangle-box-guage,
    .bottom-box-3 {
        border-radius: 4px;
    }

    .gauge-bottom-box,
    .rectangle-block-3 {
        min-height: auto;
    }

    .bottom-box-3 {
        padding: 0.5rem 0 0 0;
    }

    .table-overview td,
    .table-overview th {
        padding: 8px;
    }

    .table-overview th:first-child {
        border-radius: 4px 0 0 0;
    }

    .table-overview th:last-child {
        border-radius: 0 4px 0 0;
    }

    .rectangle-block-3 .bg-white:last-child td:first-child,
    .rectangle-block-3 .bg-grey:last-child td:first-child,
    .bottom-box-3 .bg-white:last-child td:first-child,
    .bottom-box-3 .bg-grey:last-child td:first-child {
        border-radius: 0 0 0 4px;
    }

    .rectangle-block-3 .bg-white:last-child td:last-child,
    .rectangle-block-3 .bg-grey:last-child td:last-child,
    .bottom-box-3 .bg-white:last-child td:last-child,
    .bottom-box-3 .bg-grey:last-child td:last-child {
        border-radius: 0 0 4px 0;
    }

    .overview-header {
        margin: .25rem 0;
    }

}