.responsiveTable td .tdBefore {
    display: block;
}

.sticky-toprow .form-select {
    min-height: 35px;
}

.custom-card {
    border-radius: 7px;
    margin-top: 5px;
}

.medfit-text-danger {
    color: #E30000;
}

.medfit-text-success {
    color: #48AB3F;
}

.table-custom {
    font-size: 10px;
}

.table-custom th {
    background: var(--primary-blue);
    color: #fff;
    font-weight: 500;
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 7px 7px 0px 0px;
}

.table-patient-tbody {
    display: flex;
    width: 100%;
    border-radius: 7px;
    box-shadow: 0px 3px 6px #00000038;
}

.table-patient-row-1 {
    background: #ffff;
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    border-radius: 0 0px 0px 7px;
}

.table-patient-row-2,
.table-patient-row-3 {
    width: 35%;
    background: var(--bg-grey-gradient);
    display: grid;
}

.table-patient-row-3 {
    border-radius: 0 7px 7px 0;
    background: #ffff;
}

.table-patient-row-2 td {
    padding: 8px 4px;
}

.table-custom .table-patient-row-1 td {
    padding: 10px;
    width: 25%;
    border-bottom: 1px solid rgb(112, 112, 112, .5);
}

.table-custom td:nth-child(5),
.table-custom td:nth-child(6),
.table-custom td:nth-child(7),
.table-custom td.spl-cell {
    border-bottom: none;
}

.name-header {
    display: flex;
    align-items: center;
    padding: 0.4rem 0.6rem;
    background: var(--primary-blue);
    box-shadow: 0px 3px 6px #00000038;
    color: #fff;
    border-radius: 7px;
    margin-bottom: 0.5rem;
}

.table-custom .table-patient-row-1 td {
    border-bottom: none;
    border-bottom: 1px dashed rgb(112, 112, 112, .5);
}

.pivoted span {
    font-weight: 600;
    word-wrap: break-word;
}

.card-col-grp {
    background-color: #fff;
    height: 60px;
    overflow-y: auto;
    overflow-x: hidden;
    min-width: 100%;
    border: .5px solid #A7A7A7;
    border-radius: 5px;
}

.card-col-grp::-webkit-scrollbar {
    width: 3px;
}

.card-col-grp .row .col-comment {
    width: 90%;
    text-wrap: wrap;
}

.card-col-grp .row .col-icons {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-col-grp .row .col-icons a,
.comments-all-offcanvas .table-comments tbody tr a {
    background: var(--bg-grey-gradient);
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 5px;
    padding: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 3px;
}

.card-col-grp .row .col-comment span {
    display: block;
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
}

.card-col-grp .row:nth-child(odd) {
    background-color: #FDFDFE;
    padding: 3px;
    min-height: 30px;
}

.card-col-grp .row:nth-child(even) {
    background-color: #F2F2F3;
    padding: 3px;
    min-height: 30px;
}

.header-comment,
.header-tasks {
    display: flex;
    align-items: center;
    width: 100%;
}

.header-comment .btn {
    min-width: 100px;
}

.header-tasks .btn {
    min-width: 130px;
}

.header-comment .btn-assign-task,
.header-comment .btn-add-comment {
    margin-right: .25rem;
}

.header-tasks .btn-assign-task {
    margin-right: .25rem;
}

.header-tasks .btn-assign-task:last-child {
    margin-right: 0;
}

.header-comment .btn:hover,
.header-tasks .btn:hover {
    color: #fff;
}

.table-custom p {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 14px;
    position: relative;
    top: -1.5px;
}

.table-row {
    border-radius: 10px;
}

.btn-add-comment:hover {
    color: #fff;
}

.btn-assign-task,
.btn-board-round,
.btn-add-comment {
    padding: 0.25rem 0.5rem;
    box-shadow: 3px 4px 6px rgba(85, 85, 85, 0.4);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-size: 12px;
    border: 1px solid #FFFFFF;
    width: auto;
}

.btn-assign-task {
    background: linear-gradient(to bottom, #1152A6 0%, #4175B8 50%, #0E4285 100%);
}

.btn-board-round {
    background: linear-gradient(180deg, rgba(16, 176, 179, 1) 0%, rgba(9, 132, 134, 1) 100%);
}

.btn-add-comment {
    background: linear-gradient(rgb(128, 0, 41) 0%, rgb(128, 0, 62) 0%, rgb(128, 0, 32) 100%);
}

.comments-all-offcanvas.offcanvas-end {
    width: 90%;
}

.comments-all-offcanvas .card-comments {
    padding: 0;
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 7px;
}

.comments-all-offcanvas .table-comments {
    font-size: 12px;
}

.comments-all-offcanvas .table-comments thead tr {
    background: var(--primary-blue);
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 7px;
    color: #fff;
}

.comments-all-offcanvas .table-comments thead tr th {
    font-weight: 500;
}

.comments-all-offcanvas .table-comments thead tr th:first-child {
    border-radius: 7px 0 0 0;
}

.comments-all-offcanvas .table-comments thead tr th:last-child {
    border-radius: 0 7px 0 0;
}

.comments-all-offcanvas .table-comments tbody tr:nth-child(odd) {
    background-color: #F2F2F3;
}

.comments-all-offcanvas .table-comments tbody tr:nth-child(even) {
    background-color: #fff;
}

.table-comments tbody tr:last-child td:first-child {
    border-radius: 0 0 0 7px;
}

.table-comments tbody tr:last-child td:last-child {
    border-radius: 0 0 7px 0;
}

/* Media Query */


@media (min-width:1400px) {

    .table-patient-row-1 {
        width: 33%;
    }

    .table-patient-row-2,
    .table-patient-row-3 {
        width: 33.5%;
    }

    .table-custom .table-patient-row-1 td {
        padding: 10px 5px 5px 5px;
    }

    .table-custom .table-patient-row-3 td {
        padding: 8px 5px 8px 2px;
    }

    .table-custom .table-patient-row-1 td:nth-child(1),
    .table-custom .table-patient-row-1 td:nth-child(4) {
        width: 23%;
    }

    .table-custom .table-patient-row-1 td:nth-child(2),
    .table-custom .table-patient-row-1 td:nth-child(5) {
        width: 27%;
    }

    .table-custom .table-patient-row-1 td:nth-child(3),
    .table-custom .table-patient-row-1 td:nth-child(6) {
        width: 50%;
    }

    .table-custom .table-patient-row-1 td:nth-child(4),
    .table-custom .table-patient-row-1 td:nth-child(5),
    .table-custom .table-patient-row-1 td:nth-child(6) {
        border-bottom: none;
    }

    .table-patient-row-2 .card-col-grp .row .col-comment {
        width: 84%;
        text-wrap: wrap;
    }

    .table-patient-row-2 .card-col-grp .row .col-icons {
        width: 16%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width:1399px) {
    .table-custom {
        font-size: 12px;
    }

    .responsiveTable td {
        min-height: 50px;
    }

    .table-patient-tbody {
        flex-direction: column;
    }

    .table-patient-row-1,
    .table-patient-row-2,
    .table-patient-row-3 {
        width: 100%;
    }

    .table-custom .table-patient-row-1 td {
        width: 33.33%;
    }

    .table-patient-row-2 td {
        padding: 8px;
    }

    .card-col-grp {
        height: 100px;
    }

    .card-col-grp .row .col-comment {
        width: 95%;
    }

    .card-col-grp .row .col-icons {
        width: 5%;
    }

    .table-patient-row-2 .card-col-grp .row .col-comment {
        width: 93%;
    }

    .table-patient-row-2 .card-col-grp .row .col-icons {
        width: 7%;
    }
}

@media (min-width:1026px) {
    .sticky-toprow {
        position: fixed;
        width: calc(100% - 115px);
        background: #F8F8F8;
        z-index: 3;
        top: 60px;
        height: 50px;
        left: 115px;
        padding: .5rem .75rem 0 .6rem;
    }

    .other-dashboard-contents {
        margin-top: 40px;
    }

    .bg-sticky {
        background: #F8F8F8;
        position: fixed;
        z-index: 2;
        height: 40px;
        width: calc(100% - 115px);
        left: 115px;
        padding: 0.5rem 0.75rem 0 0.6rem;
    }

    .sticky-header {
        position: sticky;
        width: 100%;
        background-color: #F8F8F8;
        z-index: 2;
        border-radius: 7px;
    }

    .bg-sticky,
    .sticky-header {
        top: 110px;
    }

    .table-custom .table-patient-tbody .table-patient-row-1 {
        border-radius: 7px 0 0 7px;
    }

    .table-custom .table-patient-tbody .table-patient-row-1 td:first-child {
        border-radius: 7px 0 0 0;
    }

    .table-patient-row-3,
    .table-patient-row-1 {
        background-color: transparent;
    }

    .table-patient-tbody {
        background: var(--bg-grey-gradient);
        border: 1px solid rgb(112, 112, 112, .5);
        margin-bottom: 0.4rem;
    }

    .table-comments.responsiveTable td .tdBefore {
        display: none;
    }

    .btn-assign-task,
    .btn-board-round,
    .btn-add-comment {
        margin-bottom: 0.25rem;
    }
}

@media (max-width:1025px) {
    .responsiveTable tbody tr {
        align-items: start;
    }

    .responsiveTable thead tr {
        top: 0;
        left: 0;
        border-bottom: none;
    }

    .pivoted span {
        font-weight: 400;
    }

    .table-patient-row-1 {
        background: #fff;
        width: 100%;
    }

    .table-patient-row-2,
    .table-patient-row-3 {
        width: 100%;
        background: var(--bg-grey-gradient);
    }

    .responsiveTable .table-patient-row-2 td.pivoted {
        width: 100%;
    }

    .name-header {
        margin-bottom: 0;
        border-radius: 7px 7px 0 0;
    }

    .custom-card {
        margin-top: 0;
    }

    .table-custom {
        margin-bottom: .5rem;
    }

    .header-comment {
        margin-bottom: .5rem;
    }

    .btn-assign-task,
    .btn-board-round,
    .btn-add-comment {
        margin-bottom: 0.25rem;
    }

    .assign-task .btn:last-child {
        margin-right: 0;
    }

    .responsiveTable tbody tr {
        margin-bottom: 0px;
        border-radius: 0;
    }

    .responsiveTable td.pivoted:nth-child(1),
    .responsiveTable td.pivoted:nth-child(2),
    .responsiveTable td.pivoted:nth-child(11),
    .responsiveTable td.pivoted:nth-child(12),
    .responsiveTable .table-patient-row-1 td.pivoted:nth-child(5) {
        border-radius: 0;
    }

    .table-custom td,
    .table-custom .table-patient-row-1 td {
        border-bottom: none;
    }

    .card-col-grp {
        min-width: 100%;
        padding: 0;
        height: 200px;
    }

    .card-col-grp .row .col-icons {
        justify-content: end;
    }

    .responsiveTable td.pivoted.spl-cell,
    .responsiveTable td.pivoted.buttons-grid {
        width: 100% !important;
    }

    .responsiveTable tbody tr:nth-child(2) {
        border-top: none;
    }

    .responsiveTable tbody tr:nth-child(3) {
        border-top: none;
    }

    .responsiveTable td.pivoted.spl-cell:nth-child(1) {
        border-radius: 0;
    }

    .responsiveTable td.pivoted.buttons-grid {
        align-items: center;
    }


    .table-custom .table-patient-tbody:last-child .table-patient-row-3 {
        border-radius: 0 0 7px 7px;
    }

    .responsiveTable .table-patient-row-1 td:first-child,
    .responsiveTable .table-patient-row-1 td:nth-child(4) {
        border-radius: 0;
    }

    .responsiveTable .table-patient-tbody:last-child .table-patient-row-3 td:first-child {
        border-radius: 0 0 7px 7px;
    }

    .table-custom .table-patient-row-1 .flags-table table tr {
        background-color: transparent;
        border: none;
    }

    .table-custom .table-patient-row-1 .flags-table table tr td {
        width: auto;
    }

    .responsiveTable .flags-table table tr td {
        min-height: 30px;
    }

    .flags-table table td img {
        width: 24px;
    }

    .table-comments.responsiveTable thead {
        display: none;
    }

    .table-comments.responsiveTable td.pivoted {
        width: 100%;
    }

    .table-comments.responsiveTable td {
        min-height: 35px;
    }

    .table-comments.responsiveTable td.pivoted:nth-child(2)>div {
        width: 100%;
    }

    .comments-all-offcanvas .table-comments tbody tr:first-child,
    .comments-all-offcanvas .table-comments tbody tr:first-child td:first-child {
        border-radius: 7px 7px 0 0;
    }

    .comments-all-offcanvas .table-comments tbody tr:last-child,
    .comments-all-offcanvas .table-comments tbody tr:last-child td:last-child {
        border-radius: 0 0 7px 7px;
    }

}

@media (max-width:991px) {

    .comments-all-offcanvas.offcanvas-end {
        width: 100%;
    }

    .table-custom td {
        min-width: auto;
    }

    .responsiveTable td.pivoted:nth-child(9) {
        border-radius: 0;
    }
}

@media (max-width:767px) {

    .header-comment,
    .header-tasks {
        flex-direction: column;
        width: 100%;
    }

    .header-comment .btn,
    .header-comment div,
    .header-tasks .btn,
    .header-tasks div {
        min-width: 100%;
    }

    .header-comment .btn,
    .header-tasks .btn {
        margin-right: 0;
    }

    .card-col-grp span {
        font-size: 10px;
    }

    .responsiveTable .table-patient-row-1 td {
        width: 50%;
    }

    .table-custom th,
    .name-header,
    .comments-all-offcanvas .table-comments tbody tr:first-child,
    .comments-all-offcanvas .table-comments tbody tr:first-child td:first-child {
        border-radius: 4px 4px 0 0;
    }

    .responsiveTable td.pivoted:nth-child(9),
    .responsiveTable .table-patient-row-1 td:nth-child(3),
    .responsiveTable .table-patient-row-1 td:nth-child(4) {
        border-radius: 0;
    }

    .responsiveTable .table-patient-row-3 td.pivoted {
        width: 100% !important;
    }

    .responsiveTable .table-patient-row-1 td:nth-child(2),
    .comments-all-offcanvas .table-comments thead tr th:last-child {
        border-radius: 0 4px 0 0;
    }

    .comments-all-offcanvas .table-comments thead tr th:first-child {
        border-radius: 4px 0 0 0;
    }

    .table-comments tbody tr:last-child td:first-child {
        border-radius: 0 0 0 4px;
    }

    .comments-all-offcanvas .table-comments tbody tr:last-child td:last-child {
        border-radius: 0 0 4px 0;
    }

    .responsiveTable .table-patient-row-3 td.assign-task {
        flex-direction: column;
    }

    .btn-assign-task,
    .btn-board-round,
    .btn-add-comment {
        margin-right: 0;
        margin-bottom: .25rem;
    }

    .table-custom .table-patient-tbody:last-child .table-patient-row-3,
    .responsiveTable .table-patient-tbody:last-child .table-patient-row-3 td:first-child,
    .comments-all-offcanvas .table-comments tbody tr:last-child {
        border-radius: 0 0 4px 4px;
    }

    .card-col-grp .row .col-comment,
    .table-patient-row-2 .card-col-grp .row .col-comment {
        width: 80%;
    }

    .card-col-grp .row .col-icons,
    .table-patient-row-2 .card-col-grp .row .col-icons {
        width: 20%;
    }

    .table-comments.responsiveTable td.pivoted {
        width: 100% !important;
    }
}

@media (max-width:375px) {
    .table-patient-row-2 .card-col-grp .row .col-comment {
        width: 75%;
    }

    .table-patient-row-2 .card-col-grp .row .col-icons {
        width: 25%;
    }
}