  .sidebar-menu .nav-item .nav-link,
  .sidebar-menu-2 .nav-item .nav-link {
      font-size: 12px;
      padding: 0 10px;
  }

  .sidebar-menu .icon-next .relative-svg {
      position: relative;
      rotate: 0deg;
      margin: 0;
  }

  .sidebar-menu .nav-item.icon-next .nav-link.active {
      padding: 0 6px;
  }

  .sidebar-menu .nav-item.icon-next .nav-link.active svg,
  #sidebar-custom .sidebar-menu .nav-link.active .icon-next svg {
      right: 3px;
      bottom: 3px;
  }

  .btn-trends {
      background: linear-gradient(180deg, rgba(253, 253, 254, 1) 50%, rgba(236, 236, 237, 1) 100%);
      border-radius: 8px;
      box-shadow: 0px 3px 6px #00000038;
      font-weight: 400;
      padding: 0.5rem 1.5rem;
  }

  .peformance-table {
      border-radius: 7px;
      box-shadow: 0px 3px 6px #00000038;
  }

  .table-performance {
      font-size: 12px;
      margin-bottom: 0.5rem;
  }

  .table-performance th {
      background: linear-gradient(180deg, rgba(253, 253, 254, 1) 30%, rgba(217, 217, 217, 1) 75%);
      font-weight: 500;
      box-shadow: 0px 3px 6px #00000038;
      padding: 8px 20px;
      text-align: center;
  }

  .table-performance tbody tr td {
      border-right: 1px solid rgba(112, 112, 112, 0.5);
      padding: 8px 20px;
  }

  .table-performance tbody tr td {
      text-align: center;
  }

  .table-performance tbody tr td:first-child {
      text-align: start;
  }

  .table-performance tbody tr td:last-child {
      border-right: none;
  }

  .table-performance th:first-child {
      border-radius: 7px 0 0px 0px;
  }

  .table-performance th:last-child {
      border-radius: 0 7px 0px 0px;
  }

  .table-performance tbody tr:nth-child(even) {
      background-color: rgb(255, 255, 255);
  }

  .table-performance tbody tr:last-child td:first-child {
      border-radius: 0 0 0 7px;
  }

  .table-performance tbody tr:last-child td:last-child {
      border-radius: 0 0 7px 0;
  }

  span.today-time {
      font-size: 14px;
      font-weight: 500;
  }

  .icon-cell {
      display: flex;
      align-items: center;
  }

  .icon-cell img {
      position: relative;
      top: -1px;
      margin-right: 10px;
  }

  .icon-cell span {
      width: 90%;
      text-align: center;
  }

  /* Media Query */

  @media (max-width:1025px) {
      .responsiveTable thead {
          display: none;
      }

      .responsiveTable td {
          min-height: 60px;
      }

      .peformance-table {
          box-shadow: none;
      }

      .table-performance tbody tr td:first-child {
          border-right: 1px solid rgba(112, 112, 112, 0.5);
      }

      .responsiveTable td.pivoted:nth-child(1),
      .table-performance tbody tr:last-child td:first-child {
          border-radius: 6px 0 0 6px;
      }

      .responsiveTable td.pivoted:nth-child(5),
      .table-performance tbody tr:last-child td:last-child {
          border-radius: 0 6px 6px 0;
      }
  }

  @media (max-width:991px) {
      .table-performance tbody tr td:last-child {
          border-right: 1px solid rgba(112, 112, 112, 0.5);
      }

      .table-performance tbody tr td:nth-child(4) {
          border-right: none;
      }

      .responsiveTable td.pivoted {
          padding: 5px 10px !important;
      }

      .responsiveTable td.pivoted:nth-child(1),
      .table-performance tbody tr:last-child td:first-child {
          border-radius: 6px 0 0 0;
      }

      .responsiveTable td.pivoted:nth-child(5),
      .table-performance tbody tr:last-child td:last-child {
          border-radius: 0 0 0 6px;
      }
  }

  @media (max-width:767px) {
      .btn-trends {
          border-radius: 4px;
      }

      .table-performance tbody tr td:nth-child(2) {
          border-right: none;
      }

      .responsiveTable td.pivoted:nth-child(1),
      .table-performance tbody tr:last-child td:first-child {
          border-radius: 4px 0 0 0;
      }

      .responsiveTable td.pivoted:nth-child(5),
      .table-performance tbody tr:last-child td:last-child {
          border-radius: 0 0 0 4px;
      }
  }