.timeline-status .modal-dialog {
    max-width: none;
}

.input-group.search-topbar input {
    border-right: none;
    height: 40px;
}

.search-topbar .input-group-text {
    background-color: #fff;
    border-left: none;
    border-radius: 7px;
    height: 40px;
}

.timeline-card {
    background: var(--bg-grey-gradient);
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 7px;
    padding: 0;
}

/* Timeline Styles */

.bg-timeline-header {
    background: linear-gradient(180deg, rgba(0, 109, 175, 1) 0%, rgba(0, 55, 88, 1) 100%);
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 7px 7px 0px 0px;
    padding: .5rem 1rem;
    color: #fff;
}

.bg-timeline-header h6 {
    margin-bottom: 0;
}

.btn-timeline {
    background: var(--bg-grey-gradient);
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 7px;
    padding: 0.5rem 1rem;
    font-size: 12px;
}

.timeline-body {
    padding: .5rem 0;
}

.table-timeline {
    font-size: 12px;
    border-radius: 7px 7px 0 0;
    box-shadow: 0px 3px 6px #00000038;
}

.timeline-contents {
    background: var(--bg-grey-gradient);
    box-shadow: 0px 20px 60px #00000014;
    border-radius: 7px;

}

.table-timeline tr.header {
    background: linear-gradient(180deg, rgba(21, 131, 225, 1) 50%, rgba(3, 128, 207, 1) 100%);
    box-shadow: 0px 3px 6px #00000038;
    color: #fff;
    border-radius: 7px;

}

.table-timeline tr.header th {
    font-weight: 400;
}

.table-timeline tr th,
.table-timeline tr td {
    padding: 8px;
    text-align: center;
    border-right: 1px solid #A7A7A7;
}

.table-timeline tr td {
    font-weight: 500;
}

.table-timeline tr.header th:nth-child(6),
.table-timeline tr.header th:last-child,
.table-timeline tbody tr td:last-child {
    border-right: none;
}

.table-timeline tr.header th:first-child {
    border-radius: 7px 0 0 0;
}

.table-timeline tr.header th:last-child {
    border-radius: 0 7px 0 0;
    position: relative;
}

th.cell-span {
    background: var(--bg-grey-gradient);
}

.timeline-contents .table-timeline .ews-wrapper {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -15%);
    font-size: 10px;
}

.timeline-contents .table-timeline .ews-wrapper {
    background-image: url(../icons/ews-triangle-red-dp.svg);
    background-repeat: no-repeat;
    background-size: 50px;
    height: 40px;
    width: 50px;
}

.timeline-contents .table-timeline .ews-low-value {
    background-image: url(../icons/ews-triangle-grey-dp.svg);
}

.timeline-contents .table-timeline .ews-text {
    font-size: 14px;
    transform: translate(-50%, -18%);
}

.timeline-contents .table-timeline span.ews-header {
    display: block;
    margin-top: 0;
    text-align: center;
    width: 50px;
    position: relative;
    top: 100%;
    color: #000;
}

.dp-comments-section {
    padding: .5rem 1rem;
}

.dp-comments-section h6 {
    font-size: 12px;
}

.dp-comments-section .comment-list {
    height: 130px;
    overflow-y: auto;
    overflow-x: hidden;
    border: .5px solid #A7A7A7;
    border-radius: 4px;
}

.dp-comments-section .comment-list::-webkit-scrollbar {
    width: 3px;
}

.cd-horizontal-timeline .dp-comments-section .comment-list p {
    font-size: 12px;
    margin: 0;
    padding: .2rem .5rem;
    min-height: 20px;
}

.cd-horizontal-timeline .dp-comments-section .comment-list p:nth-child(odd) {
    background-color: #F2F2F2;

}

.cd-horizontal-timeline .dp-comments-section .comment-list p:nth-child(even) {
    background-color: #FFFFFF;
}

.timeline-footer {
    padding: 0 .25rem;
    border-radius: 4px;
    border: .5px solid #A7A7A7;
    margin: 0 1rem;
}

.timeline-footer span {
    font-size: 12px;
}

.timeline-footer .row {
    min-height: 35px;
    border-bottom: .5px solid #A7A7A7;
    padding: 0 .5rem;
}

.timeline-footer .row:last-child {
    border-bottom: none;
}

.timeline-footer .completed-tasks-section .row:last-child {
    border-radius: 0 0 7px 7px;
}

.timeline-footer .row.sub-tasks-section:last-child {
    border-bottom: .5px solid #A7A7A7;
    border-radius: 0;
}

.timeline-footer .row:nth-child(odd) {
    background-color: #F2F2F2;
}

.timeline-footer .row:nth-child(even) {
    background-color: #FFFFFF;
}

hr.line {
    height: 2px;
    background-color: #A7A7A7;
    margin: .25rem 0 0 0;
}

.timeline-footer .sub-task-header {
    padding-top: .5rem;
    border-bottom: .5px solid #A7A7A7;
}

.timeline-footer .sub-task-header h6 {
    text-decoration: underline;
    padding-left: 1rem;
    font-size: 12px;
}

.timeline-footer span.sub-task {
    display: block;
    padding-left: 1rem;
}

.timeline-footer .bg-task-complete,
.timeline-footer .bg-task-not-complete {
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 7px;
    color: #fff;
    padding: .25rem .5rem;
    font-size: 11px;
    min-width: 80px;
    border: none;
    text-align: center;
}

.timeline-footer .bg-task-complete {
    background: linear-gradient(180deg, rgba(69, 190, 69, 1) 0%, rgba(52, 176, 52, 1) 100%);
}

.timeline-footer .bg-task-not-complete {
    background: linear-gradient(180deg, rgba(253, 19, 19, 1) 0%, rgba(228, 8, 8, 1) 100%);
}

.timeline-footer button {
    cursor: none;
}

.cd-horizontal-timeline ol,
.cd-horizontal-timeline ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: .5rem;
}

.cd-timeline-navigation a:hover,
.cd-timeline-navigation a:focus {
    border-color: #313740;

}

.cd-horizontal-timeline a,
.cd-horizontal-timeline a:hover,
.cd-horizontal-timeline a:focus {
    color: #313740;
}

.cd-horizontal-timeline blockquote,
.cd-horizontal-timeline q {
    quotes: none;
}

.cd-horizontal-timeline blockquote:before,
.cd-horizontal-timeline blockquote:after,
.cd-horizontal-timeline q:before,
.cd-horizontal-timeline q:after {
    content: '';
    content: none;
}

.cd-horizontal-timeline table {
    border-collapse: collapse;
    border-spacing: 0;
}

.cd-horizontal-timeline {
    opacity: 0;
    margin: 2em auto 0 auto;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.cd-horizontal-timeline::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'mobile';
    display: none;
}

.cd-horizontal-timeline.loaded {
    /* show the timeline after events position has been set (using JavaScript) */
    opacity: 1;
}

.cd-horizontal-timeline .timeline {
    position: relative;
    height: 100px;
    margin: 0 auto;
}

.cd-horizontal-timeline .events-wrapper {
    position: relative;
    height: 100%;
    margin: 0 40px;
    overflow: hidden;
}

.cd-horizontal-timeline .events {
    /* this is the grey line/timeline */
    position: absolute;
    z-index: 1;
    left: 0;
    top: 50px;
    height: 2px;
    /* width will be set using JavaScript */
    background: #dfdfdf;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
}

.cd-horizontal-timeline .filling-line {
    /* this is used to create the green line filling the timeline */
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #0E82DA;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}

.cd-horizontal-timeline .events a {
    position: absolute;
    bottom: 0;
    z-index: 2;
    text-align: center;
    font-size: 10px;
    padding-bottom: 30px;

    /* fix bug on Safari - text flickering while timeline translates */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}


.cd-horizontal-timeline .events a::after {
    /* this is used to create the event spot */
    content: '';
    position: absolute;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    background-image: url(../icons/timeline-hexgon.svg);
    background-position: center center;
    background-repeat: no-repeat;
    bottom: -25px;
    height: 50px;
    width: 50px;
    -webkit-transition: background-color 0.3s, border-color 0.3s;
    -moz-transition: background-color 0.3s, border-color 0.3s;
    transition: background-color 0.3s, border-color 0.3s;
}

.cd-horizontal-timeline .events a span.timeline-no {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    z-index: 4;
    transform: translate(-50%, 40%);
}

.cd-horizontal-timeline .events a.selected span.timeline-no {
    color: #fff;
}

.no-touch .cd-horizontal-timeline .events a:hover::after {
    background-color: #313740;
    border-color: #313740;
}

.cd-horizontal-timeline .events a.selected {
    pointer-events: none;
    color: #0A81D6;
}

.cd-horizontal-timeline .events a.selected::after {
    background-image: url(../icons/timeline-active.svg);
    background-position: center center;
    background-repeat: no-repeat;
    /* background-color: #313740;
      border-color: #313740; */
}

.cd-horizontal-timeline .events a.older-event::after {
    border-color: #313740;
}

@media only screen and (min-width: 1100px) {
    .cd-horizontal-timeline::before {
        /* never visible - this is used in jQuery to check the current MQ */
        content: 'desktop';
    }
}

.cd-timeline-navigation a {
    /* these are the left/right arrows to navigate the timeline */
    position: absolute;
    z-index: 1;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    background: linear-gradient(180deg, rgba(253, 253, 254, 1) 50%, rgba(236, 236, 237, 1) 100%);
    height: 40px;
    width: 40px;
    border-radius: 14px;
    box-shadow: 0px 3px 6px #00000038;
    /* replace text with an icon */
    overflow: hidden;
    color: transparent;
    text-indent: 100%;
    white-space: nowrap;
    -webkit-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    transition: border-color 0.3s;
}

.cd-timeline-navigation a::after {
    /* arrow icon */
    content: '';
    position: absolute;
    height: 16px;
    width: 16px;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.cd-timeline-navigation a.prev {
    left: 0;
}

.cd-timeline-navigation a.prev::after {
    background-image: url(../icons/timeline-previous.svg);
    background-position: center center;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
}

.cd-timeline-navigation a.next {
    right: 0;
}

.cd-timeline-navigation a.next::after {
    background-image: url(../icons/timeline-next.svg);
    background-position: center center;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
}

.no-touch .cd-timeline-navigation a:hover {
    border-color: #7b9d6f;
}

.cd-timeline-navigation a.inactive {
    cursor: not-allowed;
}

.no-touch .cd-timeline-navigation a.inactive:hover {
    border-color: #dfdfdf;
}

.cd-horizontal-timeline .events-content {
    position: relative;
    width: 100%;
    margin: 1rem 0 0 0;
    box-shadow: 0px 3px 6px #00000038;
    -webkit-transition: height 0.4s;
    -moz-transition: height 0.4s;
    transition: height 0.4s;
    border-radius: 7px;
    padding-bottom: .1rem;
}

.cd-horizontal-timeline .events-content li {
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 0;
    top: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    padding: 0;
    opacity: 0;
    -webkit-animation-duration: 0.4s;
    -moz-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

.cd-horizontal-timeline .events-content li.selected {
    /* visible event content */
    position: relative;
    z-index: 2;
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

.cd-horizontal-timeline .events-content li.enter-right,
.cd-horizontal-timeline .events-content li.leave-right {
    -webkit-animation-name: cd-enter-right;
    -moz-animation-name: cd-enter-right;
    animation-name: cd-enter-right;
}

.cd-horizontal-timeline .events-content li.enter-left,
.cd-horizontal-timeline .events-content li.leave-left {
    -webkit-animation-name: cd-enter-left;
    -moz-animation-name: cd-enter-left;
    animation-name: cd-enter-left;
}

.cd-horizontal-timeline .events-content li.leave-right,
.cd-horizontal-timeline .events-content li.leave-left {
    -webkit-animation-direction: reverse;
    -moz-animation-direction: reverse;
    animation-direction: reverse;
}

.cd-horizontal-timeline .events-content li>* {
    margin: 0 auto;
    padding-bottom: .5rem;
}

.cd-horizontal-timeline .events-content h4 {
    font-weight: 700;
    margin-bottom: 0px;
    line-height: 20px;
    margin-bottom: 15px;
}

.cd-horizontal-timeline .events-content h4 small {
    font-weight: 400;
    line-height: normal;
    font-size: 15px;
}

.cd-horizontal-timeline .events-content em {
    display: block;
    font-style: italic;
    margin: 10px auto;
}

.cd-horizontal-timeline .events-content em::before {
    content: '- ';
}

.cd-horizontal-timeline .events-content p {
    font-size: 16px;
    margin-top: 15px;

}

@media (min-width: 768px) {

    .cd-horizontal-timeline .events-content em {
        font-size: 1rem;
    }
}

@media (max-width: 767px) {

    .cd-horizontal-timeline.loaded {
        margin: 0;
    }

    .cd-horizontal-timeline .timeline {
        width: 100%;
    }

    .cd-horizontal-timeline ol,
    .cd-horizontal-timeline ul {
        padding: 0;
        margin: 0;
    }

    .cd-horizontal-timeline .events-content h4 {
        font-size: 16px;
    }

    .cd-horizontal-timeline .events-content {
        margin: 0;
    }

    .cd-timeline-navigation a {
        height: 35px;
        width: 35px;
    }
}

@-webkit-keyframes cd-enter-right {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
    }
}

@-moz-keyframes cd-enter-right {
    0% {
        opacity: 0;
        -moz-transform: translateX(100%);
    }

    100% {
        opacity: 1;
        -moz-transform: translateX(0%);
    }
}

@keyframes cd-enter-right {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@-webkit-keyframes cd-enter-left {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
    }
}

@-moz-keyframes cd-enter-left {
    0% {
        opacity: 0;
        -moz-transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        -moz-transform: translateX(0%);
    }
}

@keyframes cd-enter-left {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }
}

.timeline:before {
    content: " ";
    display: none;
    bottom: 0;
    left: 0%;
    width: 0px;
    margin-left: -1.5px;
    background-color: #eeeeee;
}

/* Media Query */

@media (max-width:1025px) {
    .responsiveTable thead {
        display: none;
    }

    .table-timeline tr.header {
        display: block;
        border-radius: 6px;
        box-shadow: none;
        background: var(--bg-grey-gradient);
    }

    .table-timeline tr.header th:nth-child(1),
    .table-timeline tr.header th:nth-child(2),
    .table-timeline tr.header th:nth-child(3),
    .table-timeline tr.header th:nth-child(4),
    .table-timeline tr.header th:nth-child(5),
    .table-timeline tr.header th:nth-child(6) {
        display: none;
    }

    .table-timeline tr.header th:last-child {
        border-radius: 6px;
        margin-bottom: .25rem;
    }

    .responsiveTable td .tdBefore {
        white-space: nowrap;
    }

    .table-timeline {
        box-shadow: none;
    }

    .table-timeline tr td {
        font-weight: 400;
    }

    .table-timeline tbody tr:last-child td:first-child {
        border-radius: 6px 0 0 0;
    }

    .table-timeline tbody tr:last-child td:last-child {
        border-radius: 0 0 0 6px;
    }

    .table-timeline tbody tr td {
        border-right: none;
    }
}

@media (max-width:991px) {

    .table-timeline .responsiveTable td.pivoted:nth-child(1) {
        border-radius: 6px 0 0 0;
    }

    .table-timeline .responsiveTable td.pivoted:nth-child(6),
    .table-timeline .responsiveTable td.pivoted:nth-child(9) {
        border-radius: 0;
    }

    .table-timeline td.pivoted:nth-child(5) {
        border-radius: 0 0 0 6px;
    }

    .timeline-status .table-timeline tbody tr:last-child td:last-child {
        border-radius: 0;
    }
}

@media (max-width:767px) {

    .timeline-footer,
    .dp-comments-section {
        padding: .5rem;
    }

    .timeline-footer {
        margin: 0 .5rem;
        padding: .5rem .25rem;
    }

    .timeline-body span,
    .timeline-body p {
        font-size: 12px;
    }

    .timeline-body {
        padding: .5rem 0;
    }

    .sub-tasks-section {
        width: auto;
    }

    .btn-timeline {
        margin-top: .5rem;
        width: 48%;
    }

    .table-timeline tr.header,
    .input-group-text,
    .bg-task-complete,
    .bg-task-not-complete,
    .timeline-footer,
    .btn-timeline,
    .timeline-contents {
        border-radius: 4px;
    }

    span.sub-task {
        padding-left: 0;
    }

    .bg-sub-task {
        margin-left: 0;
    }

    .table-timeline .responsiveTable td.pivoted:nth-child(9) {
        border-radius: 0;
    }

    .table-timeline .responsiveTable td.pivoted:nth-child(14),
    .table-timeline tbody tr:last-child td:last-child,
    .timeline-status .table-timeline tbody tr:last-child td:last-child {
        border-radius: 0 0 4px 0;
    }

    .table-timeline td.pivoted:nth-child(5) {
        border-radius: 0 0 0 4px;
    }
}