.card-summary {
    background: var(--bg-grey-gradient);
    padding: 0 0 1rem 0;
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 7px;
}

.header-tracker {
    background: linear-gradient(180deg, rgba(18, 129, 223, 1) 50%, rgba(6, 128, 210, 1) 100%);
    color: #fff;
    border-radius: 7px 7px 0px 0px;
    padding: .75rem 2rem;
}

.header-tracker h6 {
    margin-bottom: 0;
}

.container-count {
    padding: .5rem 4rem;
}

.blue-top-card {
    background: linear-gradient(180deg, rgba(6, 128, 210, 1) 50%, rgba(3, 49, 80, 1) 100%);
    color: #fff;
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 7px 7px 0px 0px;
    padding: .5rem 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bottom-card {
    background: var(--bg-grey-gradient);
    box-shadow: 0px 3px 30px #0000002E;
    border: 0.5px solid #707070;
    border-radius: 0 0 7px 7px;
    text-align: center;
}

.bottom-card h3 {
    margin: .5rem 0;
}

.red-text {
    color: #FF0000;
}

.orange-text {
    color: #FF8000;
}

.orange-light-text {
    color: #FFAA00;
}

.blue-text {
    color: #0C81D8;
}

.green-text {
    color: #62B21E;
}

.ash-text {
    color: #505050;
}

.header-general {
    background: linear-gradient(180deg, rgba(18, 129, 223, 1) 50%, rgba(6, 128, 210, 1) 100%);
    color: #fff;
    border-radius: 7px 7px 0px 0px;
    padding: .75rem;
    margin: 0 .75rem;
}

.header-general h6 {
    margin-bottom: 0;
}

.summary-list {
    margin: 0 0.75rem;
    box-shadow: 0px 3px 6px #0000002B;
    font-size: 12px;
}

.summary-list:nth-child(even) {
    background: var(--bg-grey-gradient);
}

.summary-list:nth-child(odd) {
    background: #FDFDFE;
}

.summary-list .summary-list-row {
    display: flex;
    align-items: center;
    width: 100%;
}

.summary-list .summary-list-row .summary-list-ward-column {
    width: 15%;
    padding: 8px 10px;
    display: flex;
    align-items: center;
}

.summary-list .summary-list-row .summary-list-ward-contents {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    border-left: 0.5px solid #707070;
}

.summary-list .summary-list-row .summary-list-column {
    width: 5%;
    padding: 8px 5px;
    text-align: center;
}

.summary-list:last-child {
    border-radius: 0 0 7px 7px;
}

.bg-blue-cell {
    background: linear-gradient(180deg, rgba(6, 128, 210, 1) 50%, rgba(3, 49, 80, 1) 100%);
    color: #fff;
}

.bg-red-cell {
    background: linear-gradient(180deg, rgba(255, 0, 0, 1) 50%, rgba(109, 6, 6, 1) 100%);
    color: #fff;
}


/* Media Query */

@media (min-width:1400px) {
    .blue-top-card {
        min-height: 60px;
        padding: 0.5rem 2.5rem;
    }

}

@media (max-width:1400px) {
    .blue-top-card {
        min-height: 60px;
        padding: .5rem;
    }
}


@media (min-width:992px) {
    .container-count {
        padding: 0.5rem 2.5rem;
    }
}

@media (max-width:1025px) {
    .summary-list {
        border: 0.5px solid #A7A7A7;
        margin-bottom: 5px;
    }

    .summary-list:nth-child(even) {
        background: #FDFDFE;
    }

    .summary-list:nth-child(odd) {
        background-color: #dff3f3;
    }

    .summary-list .summary-list-row {
        display: block;
    }

    .summary-list .summary-list-row .summary-list-ward-column {
        width: 100%;
        border-right: none;
        min-height: auto;
        padding: 5px 15px;
    }

    .summary-list .summary-list-row .summary-list-ward-contents {
        width: 100%;
        border-left: none;
    }

    .summary-list .summary-list-row .summary-list-column {
        width: 10%;
        text-align: start;
        padding: 5px 15px;
    }

}

@media (max-width:991px) {
    .header-general {
        border-radius: 6px 6px 0 0;
    }

    .summary-list .summary-list-row .summary-list-column {
        width: 20%;
    }

    .summary-list:last-child {
        border-radius: 0 0 6px 6px;
    }
}


@media (max-width:767px) {
    .container-count {
        padding: 0.5rem;
    }

    .blue-top-card {
        padding: .5rem 1rem;
    }

    .blue-top-card span {
        font-size: 12px;
    }

    .summary-list .summary-list-row .summary-list-column {
        width: 25%;
    }

    .header-tracker {
        padding: .5rem 1rem;
        text-align: center;
    }

    .header-general,
    .summary-list {
        margin: 0 .5rem;
    }

    .header-tracker,
    .blue-top-card,
    .header-general {
        border-radius: 4px 4px 0 0;
    }

    .bottom-card {
        border-radius: 0 0 4px 4px;
    }
}

@media (max-width:374px) {

    .blue-top-card {
        padding: .5rem 1rem;
        font-size: 12px;
    }
}