.details {
    display: flex;
    align-items: center;
}

.details h6.ward-name {
    margin-bottom: 0;
    font-size: 1.1rem;
}

.details h6.ward-name::before {
    content: "-";
    margin-right: .5rem;
}

.back-btn {
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 10px;
    height: 40px;
    padding: .5rem 1rem;
    min-width: 90px;
}

.card-leaflet-table {
    background: var(--bg-grey-gradient);
    box-shadow: 0px 3px 6px #00000030;
    border-radius: 7px;
    padding: 0;
    margin-bottom: 0.5rem;
}

table {
    font-size: 12px;
}

.table-weekly-discharges thead {
    background: var(--primary-blue-gradient);
}

.table-weekly-discharges thead th {
    color: #fff;
    font-weight: 400;
    text-align: center;
}

.table-weekly-discharges thead th,
.table-weekly-discharges tbody td {
    padding: .9rem .5rem;
}

.directorate-data .table-weekly-discharges thead th,
.directorate-data .table-weekly-discharges tbody td {
    padding: 13px 8px;
}

.table-weekly-discharges thead tr:first-child th:first-child {
    border-radius: 7px 0 0px 0px;
    text-align: left;
}

.table-weekly-discharges thead tr:first-child th:last-child {
    border-radius: 0 7px 0px 0px;
}

.table-weekly-discharges tbody tr:nth-child(odd) {
    background-color: #FFFFFF;
}

.table-weekly-discharges tbody tr:nth-child(even) {
    background-color: #F2F2F3;
}

.allebone-board-round .table-weekly-discharges thead tr:first-child {
    background: var(--primary-blue-gradient);
}

.bg-table-maroon {
    background: linear-gradient(180deg, rgba(225, 13, 109, 1) 0%, rgba(141, 28, 84, 1) 100%);
}

.directorate-data .bg-table-red {
    background: linear-gradient(180deg, rgba(255, 20, 20, 1) 50%, rgba(222, 6, 6, 1) 100%);
}

.directorate-data .bg-table-green {
    background: linear-gradient(180deg, rgba(75, 195, 75, 1) 50%, rgba(49, 174, 49, 1) 100%);
}

.directorate-data .bg-table-amber {
    background: linear-gradient(180deg, rgba(255, 201, 40, 1) 50%, rgba(238, 181, 12, 1) 100%);
    color: #000;
}

.allebone-weekly-discharge .table-weekly-discharges tbody tr:nth-child(4) {
    background-color: #535D67;
    color: #fff;
}

.table-weekly-discharges thead th,
.table-weekly-discharges tbody td {
    border-right: .5px solid #A7A7A7;
}

.table-weekly-discharges tbody tr td {
    text-align: center;
}

.table-weekly-discharges tbody tr td:first-child {
    text-align: left;
}

.table-weekly-discharges tbody tr:last-child td:first-child {
    border-radius: 0 0 0 7px;
}

.table-weekly-discharges tbody tr:last-child td:last-child {
    border-radius: 0 0 7px 0;
}

.allebone-board-round .table-weekly-discharges thead th:last-child {
    border-radius: 0 7px 0 0;
}

.column-1,
.column-2,
.column-3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.directorate-boardround-report .column-1,
.directorate-boardround-report .column-2,
.directorate-boardround-report .column-3 {
    justify-content: start;
}

.column-1 span:last-child,
.column-2 span:last-child,
.column-3 span:last-child {
    width: 85%;
    padding-left: 10px;
    text-align: start;
}

.dot-red,
.dot-green,
.dot-amber {
    width: 7px;
    height: 7px;
    border-radius: 50%;
}

.dot-red {
    background-color: #FF0000;
}

.dot-green {
    background-color: #00CF4C;
}

.dot-amber {
    background-color: #ffbf00;
}

.text-red,
.text-green,
.text-orange {
    font-weight: 500;
}

.text-red {
    color: #FF0000;
}

.text-green {
    color: #00CF4C;
}

.text-orange {
    color: #FFBF00;
}

.allebone-staff-details .table-weekly-discharges thead {
    background: linear-gradient(180deg, rgba(44, 62, 80, 1) 50%, rgba(0, 0, 0, 1) 100%);
}

.allebone-staff-details .table-weekly-discharges thead tr:last-child {
    background: var(--bg-grey-gradient);
    border-radius: 0;
}

.allebone-staff-details .table-weekly-discharges thead tr:last-child th {
    color: #000;
}

.allebone-patients-card {
    background: linear-gradient(180deg, rgba(253, 253, 254, 1) 50%, rgba(217, 217, 217, 1) 100%);
    padding: .5rem;
    box-shadow: 0px 3px 6px #00000030;
    border-radius: 7px;
    margin-bottom: .5rem;
}

.allebone-patients-card .box-1,
.allebone-patients-card .box-2 {
    box-shadow: 0px 3px 6px #00000038;
    border: 0.5px solid #B7B7B7;
    border-radius: 10px;
    min-height: 120px;
}

.allebone-patients-card .box-1 .header,
.allebone-patients-card .box-2 .header {
    border-radius: 6px 6px 0px 0px;
    box-shadow: 0px 3px 6px #00000038;
    padding: .5rem;
    color: #fff;
}

.allebone-patients-card .box-1 .header h6,
.allebone-patients-card .box-2 .header h6 {
    font-size: 10px;
    font-weight: 400;
}

.allebone-patients-card .box-1 .header {
    background-color: #3FA9F4;
}

.allebone-patients-card .box-2 .header {
    background-color: #3890D7;
}

.allebone-patients-card .box-1 .tasks ul,
.allebone-patients-card .box-2 .tasks ul {
    padding: 0;
    margin-bottom: 0;
}

.allebone-patients-card .box-1 .tasks ul li span,
.allebone-patients-card .box-2 .tasks ul li span {
    padding: 0 .75rem;
}

.allebone-patients-card .box-1 .tasks ul li:nth-child(odd),
.allebone-patients-card .box-2 .tasks ul li:nth-child(odd) {
    background-color: #fff;
}

.allebone-patients-card .box-1 .tasks ul li:nth-child(even),
.allebone-patients-card .box-2 .tasks ul li:nth-child(even) {
    background-color: #F2F2F3;
}

.allebone-patients-card .box-1 .tasks ul li,
.allebone-patients-card .box-2 .tasks ul li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    min-height: 30px;
}

.allebone-patients-card .box-1 .tasks ul li span,
.allebone-patients-card .box-2 .tasks ul li span {
    display: block;
    text-align: center;
    font-size: 12px;
    word-wrap: break-word;
}

.allebone-patients-card .box-1 .tasks ul li span,
.allebone-patients-card .box-2 .tasks ul li span {
    width: 70%;
    text-align: start;
}

.allebone-patients-card .box-1 .tasks ul li span:last-child,
.allebone-patients-card .box-2 .tasks ul li span:last-child {
    width: 30%;
    text-align: end;
}

.allebone-patients-card .box-1 .tasks ul li:last-child,
.allebone-patients-card .box-2 .tasks ul li:last-child {
    border-radius: 0 0 10px 10px;
}

.avg-los-box {
    background-color: #2C3E50;
    color: #fff;
    padding: .5rem;
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 10px;
    margin-bottom: 0.4rem;
}

.avg-los-box ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.avg-los-box ul li:first-child {
    font-size: 12px;
    padding-bottom: 3px;
}

.avg-los-box ul li:last-child {
    font-size: 15px;
    font-family: 500;
}

.avg-los-box .borderline {
    border: 1px solid #fff;
    margin: .75rem 0;
}

.content-wrapper {
    display: flex;
    width: 100%;
}

.content-wrapper .section-1,
.content-wrapper .section-3 {
    width: 42%;
}

.content-wrapper .section-2 {
    width: 16%;
}

.content-wrapper .section-1 ul,
.content-wrapper .section-2 ul,
.content-wrapper .section-3 ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.content-wrapper .main-header {
    background: var(--primary-blue-gradient);
    color: #fff;
    padding: .25rem 0;
    text-align: center;
    box-shadow: 0px 3px 6px #00000038;
    height: 30px;
}

.content-wrapper .section-1 .main-header {
    border-radius: 7px 0px 0px 0px;
}

.content-wrapper .section-2 .main-header {
    background: var(--bg-grey-gradient);
    color: #000;
    height: 90px;
    border-radius: 0;
    padding-top: 45px;
    box-shadow: 0px 3px 6px #00000038;
}

.content-wrapper .section-3 .main-header {
    border-radius: 0px 7px 0px 0px;
}

.content-wrapper .sub-header {
    background-color: #f9f9f9;
    font-size: 10px;
    width: 100%;
    display: flex;
    align-items: center;
}

.content-wrapper .sub-header .cell {
    width: 33.33%;
    border-right: 1px solid #ccc;
    padding: .5rem .2rem;
    height: 60px;
}

.content-wrapper .sub-header .cell:last-child {
    border-right: none;
}

.content-wrapper .row-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.content-wrapper .section-1 li:nth-child(3),
.content-wrapper .section-1 li:nth-child(5),
.content-wrapper .section-1 li:nth-child(7),
.content-wrapper .section-3 li:nth-child(3),
.content-wrapper .section-3 li:nth-child(5),
.content-wrapper .section-3 li:nth-child(7) {
    background-color: #F2F2F3;
}

.content-wrapper .section-1 li:nth-child(4),
.content-wrapper .section-1 li:nth-child(6),
.content-wrapper .section-3 li:nth-child(4),
.content-wrapper .section-3 li:nth-child(6) {
    background-color: #FFFFFF;
}

.content-wrapper .row-cell {
    display: block;
    width: 33.33%;
    border-right: 1px solid #ccc;
    padding: .32rem 0;
    font-size: 12px;
}

.directorate-data .content-wrapper .row-cell {
    padding: .47rem 0;
}

.content-wrapper .section-2 .row-list {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.content-wrapper .section-2 .row-cell {
    display: block;
    width: 100%;
}

.content-wrapper .row-cell:last-child,
.content-wrapper .section-2 .row-cell:last-child {
    border-right: none;
}

.content-wrapper .section-1 li:last-child {
    border-radius: 0 0 0 7px;
}

.content-wrapper .section-3 li:last-child {
    border-radius: 0 0 7px 0;
}

.bg-performance-green {
    background-color: #00CF4C;
}

.bg-performance-amber {
    background-color: #ffff04;
}

/* Media Query */

@media (min-width:1026px) {
    .sticky-tab {
        position: fixed;
        width: calc(100% - 115px);
        background: #F8F8F8;
        z-index: 3;
        top: 60px;
        height: 60px;
        left: 115px;
        padding: .5rem .75rem 0 .6rem;
    }

    .directorate-data {
        margin-top: 50px;
    }

    .table-weekly-discharges thead th:last-child,
    .table-weekly-discharges tbody td:last-child {
        border: none;
    }

    .allebone-staff-details .table-weekly-discharges tr td {
        border-bottom: 1px solid #B7B7B7;
    }

    .allebone-staff-details .table-weekly-discharges tbody tr:last-child td {
        border-bottom: none;
    }
}

@media (max-width:1025px) {

    .table-weekly-discharges tbody tr:nth-child(odd) {
        background-color: #fff;
    }

    .table-weekly-discharges tbody tr:nth-child(even) {
        background-color: #CEDDF5;
    }

    .table-weekly-discharges tbody td {
        border-right: none;
    }

    .responsiveTable td.pivoted {
        padding: 5px 8px !important;
    }

    .allebone-weekly-discharge .responsiveTable tr:nth-child(4) td.pivoted:nth-child(1),
    .allebone-weekly-discharge .responsiveTable tr:nth-child(4) td.pivoted:nth-child(2),
    .allebone-weekly-discharge .responsiveTable tr:nth-child(4) td.pivoted:nth-child(3),
    .allebone-weekly-discharge .responsiveTable tr:nth-child(4) td.pivoted:nth-child(4),
    .allebone-weekly-discharge .responsiveTable tr:nth-child(4) td.pivoted:nth-child(5),
    .allebone-weekly-discharge .responsiveTable tr:nth-child(4) td.pivoted:nth-child(6),
    .allebone-weekly-discharge .responsiveTable tr:nth-child(4) td.pivoted:nth-child(7),
    .allebone-weekly-discharge .responsiveTable tr:nth-child(4) td.pivoted:nth-child(8) {
        background-color: #535D67;
        color: #fff;
    }

    .allebone-board-round .responsiveTable tr td.pivoted:nth-child(2) {
        display: none;

    }

    .column-1,
    .column-2,
    .column-3 {
        justify-content: start;
    }

    .column-1::before {
        content: "AM";
        padding-right: 10px;
        width: 20%;
    }

    .column-2::before {
        content: "PM";
        padding-right: 10px;
        width: 20%;
    }

    .directorate-data .column-1::before,
    .directorate-data .column-2::before,
    .directorate-data .column-3::before,
    .directorate-boardround-report .column-1::before,
    .directorate-boardround-report .column-2::before,
    .directorate-boardround-report .column-3::before {
        content: "";
        padding-right: 0;
        width: 0;
    }

    .responsiveTable td .tdBefore span {
        display: block;
        font-size: 11px;
    }

    .allebone-weekly-discharge .responsiveTable td.pivoted:nth-child(1),
    .allebone-board-round .responsiveTable td.pivoted:nth-child(1),
    .allebone-staff-details .responsiveTable td.pivoted:nth-child(1) {
        width: 100%;
        border-bottom: 1px solid #ccc;
        border-radius: 6px 6px 0 0;
        border-right: none;
    }

    .card-leaflet-table {
        padding: 0;
        background: none;
        box-shadow: none;
        margin-bottom: 0;
    }

    .responsiveTable td.pivoted:nth-child(7),
    .allebone-board-round .responsiveTable td.pivoted:nth-child(8) {
        border-radius: 0 0 0 6px;
    }

    .responsiveTable td.pivoted:nth-child(5) {
        border-radius: 0;
    }

    .table-weekly-discharges tbody tr:last-child td:last-child {
        border-radius: 0 0 0 6px;
    }

    .allebone-board-round .responsiveTable td.pivoted div {
        width: 100%;
    }

    .table-weekly-discharges {
        font-size: 12px;
    }
}

@media (max-width:991px) and (min-width:768px) {

    .responsiveTable td.pivoted:nth-child(1),
    .responsiveTable td.pivoted:nth-child(5),
    .allebone-board-round .responsiveTable td.pivoted:nth-child(6),
    .allebone-board-round .responsiveTable td.pivoted:nth-child(10) {
        border: none;
    }

    .allebone-board-round .responsiveTable td.pivoted:nth-child(8),
    .responsiveTable td.pivoted:nth-child(4) {
        border-radius: 0;
    }

    .allebone-weekly-discharge .responsiveTable td.pivoted:nth-child(6),
    .allebone-staff-details .responsiveTable td.pivoted:nth-child(6) {
        border-radius: 0 0 0 6px;
    }

    .allebone-board-round .responsiveTable td.pivoted:nth-child(10) {
        border-radius: 0 0 6px 0;
    }

    .table-weekly-discharges tbody tr:last-child td:last-child {
        border-radius: 0;
    }
}

@media (max-width:767px) {
    .responsiveTable td.pivoted {
        position: inherit;
    }

    .sub-header .cell span {
        font-size: 7px;
        line-height: 10px;
    }

    .row-list span {
        font-size: 12px;
    }

    .allebone-patients-card .box-1,
    .allebone-patients-card .box-2 {
        min-height: 100px;
    }

    .allebone-patients-card .box-1 .header,
    .allebone-patients-card .box-2 .header {
        border-radius: 3px 3px 0 0;
    }

    .allebone-patients-card .box-1 .tasks ul li:last-child,
    .allebone-patients-card .box-2 .tasks ul li:last-child {
        border-radius: 0 0 4px 4px;
    }

    .allebone-patients-card,
    .allebone-patients-card .box-1,
    .allebone-patients-card .box-2,
    .avg-los-box {
        border-radius: 4px;
    }

    .content-wrapper .section-1 .main-header {
        border-radius: 4px 0 0 0;
    }

    .content-wrapper .section-3 .main-header {
        border-radius: 0 4px 0 0;
    }

    .content-wrapper .section-1 li:last-child {
        border-radius: 0 0 0 4px;
    }

    .content-wrapper .section-3 li:last-child {
        border-radius: 0 0 4px 0;
    }

    .allebone-weekly-discharge .responsiveTable td.pivoted:nth-child(1),
    .allebone-board-round .responsiveTable td.pivoted:nth-child(1),
    .allebone-staff-details .responsiveTable td.pivoted:nth-child(1) {
        width: 100% !important;
        border-bottom: 1px solid #ccc;
        border-radius: 4px 4px 0 0;
        border-right: none;
    }

    .responsiveTable td.pivoted:nth-child(2),
    .allebone-board-round .responsiveTable td.pivoted:nth-child(8) {
        border-radius: 0;
    }

    .allebone-weekly-discharge .responsiveTable td.pivoted:nth-child(6) {
        border-radius: 0 0 0 4px;
    }

    .allebone-weekly-discharge .responsiveTable td.pivoted:nth-child(7),
    .allebone-board-round .responsiveTable td.pivoted:nth-child(10) {
        border-radius: 0 0 4px 0;
    }

    .responsiveTable td.pivoted:nth-child(7) {
        border-radius: 0;
    }

    .table-weekly-discharges tbody tr:last-child td:last-child {
        border-radius: 0 0 4px 0;
    }

    .allebone-board-round .responsiveTable td.pivoted:nth-last-child(2),
    .allebone-staff-details .responsiveTable td.pivoted:nth-child(8) {
        border-radius: 0 0 0 4px;
    }

    .column-1 span:last-child,
    .column-2 span:last-child {
        width: 72%;
        justify-content: start;
    }
}