:root {
    --blue: linear-gradient(180deg, rgba(0, 142, 229, 1) 0%, rgba(0, 123, 199, 1) 100%);
}

h6 {
    font-size: 12px;
}

.sdec-patient-wrapper,
.los-header,
.edd-header {
    display: flex;
}

.los-header:before,
.edd-header:before,
.sdec-patient-wrapper:before {
    border-radius: 0 10px 10px 0;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 35px;
    height: 106px;
    writing-mode: vertical-rl;
    rotate: 180deg;
    font-size: 10px;
    font-weight: 500;
    padding: 1rem 0.5rem;
}

.los-header:before,
.edd-header:before,
.sdec-patient-wrapper:before {
    background: var(--primary-blue);
}

.los-header:before {
    content: "LOS";
}

.edd-header:before {
    content: "EDD";
}

.frailty-wrapper .edd-header:before,
.medical-discharge-lounge-wrapper .edd-header:before {
    content: "A&E";
}

.sdec-patient-wrapper:before {
    content: "EMPTY BED";
}

.bg-faculty-task {
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 10px;
    background: var(--bg-grey-gradient);
    padding: .75rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    min-height: 105px;
}

.bg-faculty-task h6,
.bg-faculty-task .task-role h6 {
    margin-bottom: 0;
}

.bg-faculty-task .task-role h6 {
    font-size: 11px;
    text-align: center;
}

.bg-faculty-task .task-count h6 {
    font-size: 14px;
}

.card-width .row {
    margin: 0;
}

.grey-tile-bottom {
    border-radius: 10px;
    background: #fff;
    padding: .25rem 0.5rem;
    justify-content: center;
    position: relative;
    z-index: 1;
    box-shadow: 0px 3px 6px #00000038;
    min-height: 105px;
    left: -5px;
    width: 100%;
}

.grey-tile-bottom h6 {
    margin-bottom: 0;
    font-size: 10px;
}

.edd-header .grey-tile-bottom .edd-data-box,
.los-header .grey-tile-bottom .edd-data-box {
    padding: .45rem 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dee2e6;
}

.edd-header .grey-tile-bottom .edd-data-box h6:first-child,
.los-header .grey-tile-bottom .edd-data-box h6:first-child {
    width: 80%;
    line-height: 9px;
}

.edd-header .grey-tile-bottom .edd-data-box h6:last-child,
.los-header .grey-tile-bottom .edd-data-box h6:last-child {
    width: 20%;
}

.edd-header .grey-tile-bottom .edd-data-box:last-child,
.los-header .grey-tile-bottom .edd-data-box:last-child {
    border-bottom: none;
}

.cdt-cell {
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 10px;
    background: var(--bg-green-gradient);
    color: #fff;
    padding: .5rem 0.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    min-height: 105px;
}

.frailty-wrapper .cdt-cell,
.medical-discharge-lounge-wrapper .cdt-cell {
    background: var(--bg-grey-gradient);
    color: #000;
    padding: .75rem 0.25rem;
}

.cdt-cell h6 {
    font-size: 12px;
    margin-bottom: 0;
    text-align: center;
}

.cdt-cell .cdt-count h6 {
    font-size: 18px;
}

.frailty-wrapper .cdt-cell .cdt-count h6,
.medical-discharge-lounge-wrapper .cdt-cell .cdt-count h6 {
    font-size: 16px;
}

.tile-shape-whitebottom {
    border-radius: 10px;
    background: #fff;
    padding: .3rem;
    box-shadow: 0px 3px 6px #00000038;
    position: relative;
    z-index: 2;
    vertical-align: middle;
    left: -5px;
    width: 100%;
}

h6.gender-count {
    font-size: 14px;
}

.rectangle-count,
.calender-box {
    background: var(--bg-grey-gradient);
    box-shadow: 0px 3px 6px #00000030;
    border-radius: 10px;
    padding: 0.5rem;
    margin: 2px;
    min-height: 91px;
}

.calender-box {
    margin: 0;
}

.rectangle-count h6 {
    font-size: 16px;
    margin-bottom: 1.25rem;
}

.calender-box {
    padding: .3rem 0.5rem;
    min-height: 106px;
}

.calender-box h6 {
    font-size: 12px;
}

h6.head-calender {
    font-size: 11px;
}

.calender-box .week-data {
    display: flex;
    justify-content: space-between;
}

.calender-box .week-data .day-data {
    margin-right: 1%;
    width: 13.42%;
    text-align: center;
}

.calender-box .week-data .day-data:last-child {
    margin-right: 0;
}

.calender-date-bg {
    background-color: #cce5fe;
    border-radius: 6px;
    padding: .4rem;
    margin-bottom: 0;
    font-size: 12px;
    margin-right: 2px;
    min-width: 30px;
}

.green-box-medical,
.maroon-box-medical {
    padding: .5rem .25rem;
    text-align: center;
    color: #fff;
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 10px 10px 0 0;
}

.green-box-medical {
    background: linear-gradient(180deg, rgba(120, 211, 135, 1) 0%, rgba(60, 106, 68, 1) 100%);
    margin-top: -13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.maroon-box-medical {
    background: linear-gradient(180deg, rgba(212, 5, 96, 1) 0%, rgba(106, 40, 80, 1) 100%);
    margin-top: -5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.maroon-circle,
.purple-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
}

.maroon-circle {
    background-color: #A41458;
}

.purple-circle {
    background-color: #5B347D;
}

.tile-movement .bg-move,
.tile-movement .bg-move-not {
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    min-height: 51px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    cursor: pointer;
}

.bg-move {
    background: linear-gradient(180deg, rgba(3, 69, 119, 1) 0%, rgba(2, 35, 60, 1) 100%);
}

.bg-move-not {
    background: linear-gradient(180deg, rgba(135, 31, 61, 1) 0%, rgba(68, 16, 31, 1) 100%);
}

.tile-movement .bg-move>h6,
.tile-movement .bg-move-not>h6 {
    width: 73%;
    font-size: 10px;
}

.tile-movement .bg-move h6:last-child,
.tile-movement .bg-move-not h6:last-child {
    text-align: center;
    width: 25%;
}

.tile-movement .bg-move .line,
.tile-movement .bg-move-not .line {
    border-left: 1px solid #dee2e6;
    height: 30px;
}

.tile-movement .bg-move h6.total,
.tile-movement .bg-move-not h6.total {
    font-size: 14px;
}

.sdec-patient-count {
    cursor: pointer;
}

.sdec-patient-count .header-box {
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 7px 7px 0 0;
    background: var(--primary-blue);
    padding: 0.75rem .5rem;
    margin-bottom: -10px;
    text-align: center;
    color: #fff;
    min-height: 40px;
}

.sdec-patient-count .count-box {
    border-radius: 7px;
    background: linear-gradient(180deg, rgba(253, 253, 254, 1) 50%, rgba(238, 238, 239, 1) 100%);
    padding: 0.25rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    box-shadow: 0px 3px 6px #00000038;
    height: 55px;
}

.sdec-patient-count .count-box h6 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 0;
}

.tile-left-medical {
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 10px;
    background: var(--bg-grey-gradient);
    padding: .25rem .5rem;
    position: relative;
    z-index: 1;
    min-height: 51px;
    display: flex;
    align-items: center;
}

.tile-left-medical h6 {
    font-size: 10px;
    margin-bottom: 0;
}

.tile-left-medical h6.total {
    font-size: 14px;
    margin-bottom: 0;
    text-align: end;
}

.tile-left-medical .dp-data {
    display: flex;
    align-items: center;
    width: 100%;
}

.tile-left-medical .dp-data div:nth-child(1) {
    width: 60%;
    padding-right: .5rem;
}

.tile-left-medical .dp-data div:nth-child(2) {
    width: 40%;
}

.tile-right-medical {
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 10px;
    padding: .5rem 1.5rem;
    z-index: 2;
    margin-left: -20px;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    min-width: 30px;
}

.tile-right-medical-maroon {
    background: linear-gradient(180deg, rgba(212, 5, 96, 1) 50%, rgba(106, 40, 80, 1) 100%);

}

.tile-right-medical-purple {
    background: linear-gradient(180deg, rgba(134, 106, 158, 1) 50%, rgba(83, 41, 119, 1) 100%);
}

.bg-wine-red {
    background: linear-gradient(180deg, rgba(135, 31, 61, 1) 50%, rgba(68, 16, 31, 1) 100%);
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 8px;
    color: #fff;
    padding: 0.25rem 0.5rem;
    min-height: 106px;
    cursor: pointer;
}

.next-icon {
    position: absolute;
    top: 5px;
    right: 15px;
}

.hand-click-icon {
    position: relative;
    top: 5px;
    left: 5px;
    z-index: 6;
}

.icon-carrier {
    margin-top: -15px;
}

.bg-opel-1,
.bg-opel-2,
.bg-opel-3,
.bg-opel-4,
.bg-opel-5,
.btn-add-attendance,
.bg-red-zone,
.bg-outbreak,
.bg-green-zone,
.bg-blue-zone,
.bg-yellow-zone {
    padding: 0.25rem;
    box-shadow: 0px 3px 6px #00000038;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-size: 12px;
    width: 100%;
    height: 40px;
    min-width: 70px;
}

.btn-add-attendance:hover {
    color: #fff;
}

.btn-add-attendance {
    background: linear-gradient(rgb(255, 6, 6) 0%, rgb(250, 9, 9) 50%, rgb(245, 5, 5) 100%);
}

.bg-opel-1 {
    background: linear-gradient(180deg, rgba(75, 195, 75, 1) 50%, rgba(49, 174, 49, 1) 100%);
}

.bg-opel-2 {
    background: linear-gradient(180deg, rgba(255, 201, 40, 1) 50%, rgba(238, 181, 12, 1) 100%);
    color: #000;
}

.bg-opel-3 {
    background: linear-gradient(180deg, rgba(255, 20, 20, 1) 50%, rgba(222, 6, 6, 1) 100%);
}

.bg-opel-4 {
    background: linear-gradient(180deg, rgba(83, 82, 82, 1) 50%, rgba(4, 4, 4, 1) 100%);
}

.bg-opel-5 {
    background: linear-gradient(180deg, rgb(255, 155, 40) 50%, rgb(238, 110, 12) 100%);
}

.bg-outbreak {
    color: #FE0000;
    font-weight: 500;
}

.bg-red-zone {
    background: var(--bg-red-gradient);
}

.bg-green-zone {
    background: var(--bg-green-gradient);
}

.bg-blue-zone {
    background: var(--primary-blue);
}

.bg-yellow-zone {
    background: var(--bg-amber-gradient);
    color: #000;
}

.topbar-menu li.bg-values {
    cursor: unset;
}

.emergency-count {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.emergency-count h6 {
    font-size: 14px;
}

/* Doctor's and Nurse's Work Plan Offcanvas Styles */

.doctor-work-plan.offcanvas-end,
.nurse-work-plan.offcanvas-end,
.priority-tasks.offcanvas-end {
    width: 60%;
}

.doctor-work-plan .work-plan .name-header,
.nurse-work-plan .work-plan .name-header,
.priority-tasks .work-plan .name-header {
    background: linear-gradient(180deg, rgba(0, 142, 229, 1) 50%, rgba(0, 123, 199, 1) 100%);
    color: #fff;
    padding: .5rem;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 3px 6px #00000038;
}

.doctor-work-plan .work-plan .name-header h6,
.nurse-work-plan .work-plan .name-header h6,
.priority-tasks .work-plan .name-header h6 {
    margin-bottom: 0;
    font-size: 12px;
}

.doctor-work-plan .work-plan .plan-details,
.nurse-work-plan .work-plan .plan-details,
.priority-tasks .work-plan .task-details {
    padding: .3rem .5rem .5rem .5rem;
    box-shadow: 0px 3px 6px #00000038;
}

.priority-tasks .work-plan .task-details {
    padding: 0;
    border-radius: 0 0 10px 10px;
}

.doctor-work-plan .work-plan .plan-details:nth-child(odd),
.nurse-work-plan .work-plan .plan-details:nth-child(odd),
.priority-tasks .work-plan .task-details table tbody tr:nth-child(odd) {
    background-color: #fff;
}

.doctor-work-plan .work-plan .plan-details:nth-child(even),
.nurse-work-plan .work-plan .plan-details:nth-child(even),
.priority-tasks .work-plan .task-details table tbody tr:nth-child(even) {
    background-color: #F2F2F2;
}

.priority-tasks .work-plan .task-details table tbody tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

.priority-tasks .work-plan .task-details table tbody tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

.doctor-work-plan .work-plan .plan-details:last-child,
.nurse-work-plan .work-plan .plan-details:last-child {
    border-radius: 0 0 10px 10px;
}

.doctor-work-plan .work-plan .plan-details ul,
.nurse-work-plan .work-plan .plan-details ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.doctor-work-plan .work-plan .plan-details ul li.plan-header,
.nurse-work-plan .work-plan .plan-details ul li.plan-header {
    font-size: 12px;
    font-weight: 500;
}

.doctor-work-plan .work-plan .plan-details ul li,
.nurse-work-plan .work-plan .plan-details ul li {
    padding: .25rem 0;
}

.patients-move-in.offcanvas-end,
.patients-move-out.offcanvas-end {
    width: 70%;
}

.sdec-patient-wrapper {
    display: flex;
}

.patients-area-details .waiting-area,
.patients-area-details .assesment-area {
    border: 1px solid #A7A7A7;
    padding: 0;
    border-radius: 4px;
    margin-bottom: .25rem;
    min-height: 605px;
}

.patients-area-details .waiting-area {
    border: 1px solid #808080;
}

.patients-area-details .assesment-area {
    border: 1px solid var(--primary-blue);
}

.bg-area-patient {
    background: var(--primary-blue);
    color: #fff;
    padding: .5rem;
    text-align: center;
    margin-bottom: .5rem;
    border-radius: 4px 4px 0 0;
}

.bg-area-grey {
    background-color: #808080;
}

.bg-area-green {
    background-color: #008000;
}

.bg-area-patient h6 {
    margin-bottom: 0;
}

.patients-area-details .medical-details-card {
    border-radius: 5px;
    box-shadow: 0px 3px 20px #00000029;
    user-select: none;
    margin: 0 .25rem;
    margin-bottom: .5rem;
}

.droppable {
    min-height: 90px;
}

.draggable.active {
    cursor: grabbing;
    padding: .1rem;
    border-radius: 5px;
    margin-bottom: .25rem;
    z-index: 10;
}

.draggable:hover {
    cursor: move;
}

.patients-area-details .waiting-area .row.ui-droppable {
    align-content: flex-start;
}

.patients-area-details .cubical-card .medical-details-card {
    margin: 0;
}

.patients-area-details .cubical-card .medical-details-card .ward-header-row {
    border-radius: 0;
}

.patients-area-details .cubical-card .ui-droppable {
    padding: 0;
}

.sortable-placeholder,
.empty-placeholder {
    border: 1px dashed #FF1493;
    background-image: url("../icons/bootstrap-icons/plus-lg.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    height: 60px;
    box-shadow: 0px 3px 20px #00000029;
    background-size: 25px 25px;
    border-radius: 5px;
    min-height: 98px;
}

.ui-draggable-dragging {
    position: relative;
    z-index: 9;
}

.draggable.active .medical-details-card {
    margin: 0;
}

.medical-details-card .row {
    margin: 0;
}

.ward-header-row {
    display: flex;
    align-items: center;
    min-height: 35px;
    position: relative;
    z-index: 2;
    margin: 0;
    background-color: #1383DC;
    border-radius: 5px 5px 0px 0px;
    padding: 0 4px;
}

.header-col-1 {
    margin: 2px 3px;
    width: 90%;
}

.header-col-2 {
    margin: 2px 3px;
    width: 10%;
}

.header-col-2 a {
    color: #fff;
}

.header-col-2 a img {
    width: 14px;
    height: 14px;
}

.card-medical {
    background-color: #fff;
    padding: 5px 8px 2px 8px;
    border-radius: 0 0 5px 5px;
}

.card-medical span,
.bg-yellow span,
.card-medical p,
.bg-blue span,
.bg-green span,
.bg-dark-blue span,
.bed_black_background span,
.bed_red_background span {
    font-size: 10px;
}

.bg-blue-bed-no,
.bg-dark-blue,
.bg-blue,
.bg-yellow,
.bg-green,
.bg-red,
.bg-bed-closed,
.bg-bed-empty,
.bed_black_background,
.bed_red_background {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 25px;
    padding: 0 3px;
    justify-content: center;
    border-radius: 5px;
}

.bg-blue-bed-no,
.bg-dark-blue,
.bed_black_background,
.bed_red_background {
    background-color: #024477;
    border-radius: 5px;
    z-index: 2;
    min-height: 25px;
    color: #fff;
    justify-content: center;
}

.bed_black_background {
    background-color: #000;
}

.bed_red_background {
    background-color: #FF2624;
}

.bg-blue-bed-no h6,
.bg-dark-blue h6,
.bed_black_background h6,
.bed_red_background h6 {
    padding-top: 0;
    font-size: 10px;
    font-weight: 400;
}

.bg-blue-bed-no h6 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bg-yellow {
    background-color: #FEBD2B;
}

.bg-green {
    background-color: #48AB3F;
    color: #fff;
}

.bg-red {
    background-color: #FF2624;
}

.bg-blue {
    background-color: #1383DC;
    border-radius: 0px 5px 0px 0px;
    color: #fff;
    min-height: 35px;
}

.bg-bed-closed,
.bg-bed-empty {
    background-color: #fa8072;
    color: #fff;
    min-height: 35px;
    border-radius: 5px 5px 0 0;
}

.bg-bed-empty {
    background: var(--bg-grey-gradient);
    color: #000;
}

.bg-col-grey {
    background: #fff;
    border-radius: 0 5px 5px 0;
}

.bg-bed-closed h6 {
    font-weight: 400;
}

.task-row {
    display: flex;
    align-items: center;
    width: 100%;
}

.task-col-1 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-medical .closed-message {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 62px;
    text-align: center;
}

.card-medical .closed-message span {
    font-size: 12px;
}

.bg-dark-blue-head {
    background-color: #000;
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
}

.ash-circle,
.green-circle,
.red-circle,
.white-round {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ash-circle span,
.green-circle span,
.red-circle span {
    font-size: 9px;
}

.ash-circle {
    background-color: #ACACAA;
    color: #fff;
}

.green-circle {
    background-color: #48AB3F;
}

.red-circle {
    background-color: #FC0000;
}

.white-round {
    background-color: #fff;
    color: #000;
}

.position-red {
    position: relative;
    top: 0;
    left: 5px;
}

.border-circle {
    width: 21px;
    height: 21px;
    border-radius: 50%;
    text-align: center;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.border-cyan {
    border: 1px solid #66B4A4;
    color: #66B4A4;
}

.border-purple {
    border: 1px solid #C9809D;
    color: #C9809D;
}

.border-blue {
    border: 1px solid #6AC6D3;
    color: #6AC6D3;
}

.border-grey {
    border: 1px solid #919191;
    color: #919191;
}

.task-icon-wrapper .ash-circle {
    width: 21px;
    height: 21px;
    position: relative;
    top: -2px;
}

.bg-box-black {
    background-color: #000;
    color: #fff;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.patient-data-table {
    min-height: 55px;
}

.patient-data-table .patient-data,
.patient-data-table .consultant-data,
.patient-data-table .speciality-data {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 18px;
    line-height: 10px;
}

.patient-data-table .consultant-data,
.patient-data-table .speciality-data {
    height: 14px;
}

.patient-data-table .patient-data .gender-icon {
    width: 10%;
    height: 18px;
}

.patient-data-table .patient-data .name {
    width: 90%;
    line-height: 10px;
}

.patient-data-table .patient-data .name div.pass-id {
    line-height: 6px;
    font-size: 9px;
}

.patient-data-table .consultant-data .label-consultant,
.patient-data-table .speciality-data .label-speciality {
    width: 33%;
}

.patient-data-table .consultant-data .consultant-name,
.patient-data-table .speciality-data .speciality-name {
    width: 67%;
}

.patient-data-table .consultant-data .consultant-name::before,
.patient-data-table .speciality-data .speciality-name::before {
    content: ":";
    color: #000;
    font-size: 12px;
}

.patient-data-table .patient-data {
    margin-bottom: 2px;
}

/* Media Query  */

@media (min-width:1400px) {

    .calender-box .maroon-box-medical h6,
    .calender-box .green-box-medical h6 {
        font-size: 9px;
    }

    .card-medical span,
    .bg-yellow span,
    .card-medical p,
    .bg-blue span,
    .bg-green span,
    .bg-dark-blue span,
    .bg-blue-bed-no h6,
    .bg-dark-blue h6,
    .bed_black_background span,
    .bed_red_background span {
        font-size: 10px;
    }

    .card-medical .dark-gradient-danger {
        font-size: 8px;
    }

    .sdec-patient-wrapper .grey-tile-bottom h6 {
        line-height: 10px;
    }

    .ward-summary-header .row .col-xxl-2:nth-child(1) {
        padding-right: .25rem;
    }

    .ward-summary-header .row .col-xxl-2:nth-child(3) {
        padding: 0 0 0 .5rem;
    }

    .ward-summary-header .row .col-xxl-4:nth-child(4) {
        padding: 0 .25rem;
    }
}

@media (max-width:1480px) and (min-width:1400px) {

    .card-medical span,
    .bg-yellow span,
    .card-medical p,
    .bg-blue span,
    .bg-green span,
    .bg-dark-blue span,
    .bg-blue-bed-no h6,
    .bg-dark-blue h6,
    .bed_black_background span,
    .bed_red_background span,
    .medical-details-card .bg-not-move,
    .medical-details-card .bg-outlier-wards,
    .medical-details-card .bg-blue-wards,
    .ambo-section .bg-green,
    .medical-details-card .dark-gradient-danger,
    .medical-details-card .bg-eds-yes,
    .medical-details-card .bg-tto-yes,
    .medical-details-card .bg-eds-no,
    .medical-details-card .bg-tto-no,
    .medical-details-card .bg-eds-na,
    .medical-details-card .bg-tto-na {
        font-size: 8px;
    }
}

@media (min-width:1200px) and (max-width:1399px) {

    .bg-yellow span,
    .bg-blue span,
    .bg-green span,
    .bg-dark-blue span,
    .bed_black_background span,
    .bed_red_background span {
        font-size: 9px;
    }
}

@media (min-width:1200px) {
    .ward-icons img {
        width: 25px;
    }
}

@media (min-width:1200px) and (max-width:1270px) {

    .bg-opel-1,
    .bg-opel-2,
    .bg-opel-3,
    .bg-opel-4,
    .bg-opel-5,
    .btn-add-attendance,
    .bg-blue-zone,
    .bg-red-zone,
    .bg-green-zone,
    .bg-outbreak,
    .bg-yellow-zone {
        font-size: 9px;
        min-width: 35px;
        padding: .2rem .5rem;
    }

    .board-round-time {
        font-size: 10px;
    }
}

@media (min-width:992px) {
    .task-icon-wrapper {
        position: relative;
        left: -4px;
        top: 2px;
    }
}

@media (max-width:1399px) {

    .ward-summary-header .row .col-lg-5:nth-child(2) {
        padding: 0 .2rem;
    }

    .ward-summary-header .row .col-lg-3:nth-child(3) {
        padding: 0 .5rem 0 .4rem;
    }

    .ward-summary-header .row .col-lg-12:nth-child(4) {
        padding: 0 .5rem 0 .75rem;
    }

    .bg-faculty-task .task-role h6 {
        font-size: 12px;
    }

    .emergency-count {
        padding-left: .5rem;
    }

    .mt-10 {
        line-height: 12px;
    }

    .bg-opel-1,
    .bg-opel-2,
    .bg-opel-3,
    .bg-opel-4,
    .bg-opel-5,
    .btn-add-attendance,
    .bg-blue-zone,
    .bg-red-zone,
    .bg-green-zone,
    .bg-outbreak,
    .bg-yellow-zone {
        font-size: 10px;
        min-width: 35px;
        padding: .2rem;
    }

    .emergency-count h6 {
        font-size: 12px;
    }

    .doctor-work-plan.offcanvas-end,
    .nurse-work-plan.offcanvas-end,
    .priority-tasks.offcanvas-end {
        width: 100%;
    }

    .mt-10 span.fs-12 {
        font-size: 10px;
    }

    .patients-area-details .waiting-area,
    .patients-area-details .assesment-area {
        min-height: 745px;
    }
}

@media (max-width:991px) {

    .mobile-header {
        background: #0066FF;
        color: #fff;
        padding: .5rem;
        border-radius: 4px;
        margin-bottom: .5rem;
        display: flex;
        align-items: center;
    }

    .mobile-header h6 {
        font-size: 14px;
    }

    .mobile-header span::before {
        content: "-";
        margin: 0 5px;
    }

    .task-icon-wrapper .task-icon-1,
    .task-icon-wrapper .task-icon-2,
    .task-icon-wrapper .task-icon-3 {
        position: relative;
        right: 0px;
    }

    .ward-summary-header .row .col-md-6:nth-child(1) {
        padding-right: 0;
    }

    .ward-summary-header .row .col-md-6:nth-child(2) {
        padding: 0 .8rem 0 .25rem;
    }

    .ward-summary-header .row .col-md-4:nth-child(3) {
        padding: 0 0 0 .75rem;
    }

    .ward-summary-header .row .col-md-8:nth-child(4) {
        padding: 0 .25rem;
    }

    .sm-count .emergency-count {
        margin-bottom: .5rem;
        padding-left: 0;
        justify-content: space-between;
    }

    .sm-count .emergency-count h6 {
        font-size: 12px;
    }

    .patients-area-details .waiting-area,
    .patients-area-details .assesment-area {
        margin-bottom: .25rem;
    }

    .frailty-wrapper .cdt-cell .cdt-count h6,
    .medical-discharge-lounge-wrapper .cdt-cell .cdt-count h6 {
        font-size: 14px;
    }
}

@media (max-width:767px) {
    .flags-row .levels-row-2 {
        padding: 2px 0 2px 0;
    }

    .icon-carrier {
        margin-top: 0;
    }

    .bg-wine-red h6 {
        font-size: 8px;
        margin-bottom: 0;
    }

    .card-medical span,
    .bg-yellow span,
    .card-medical p,
    .bg-blue span,
    .bg-green span,
    .bg-dark-blue span {
        font-size: 10px;
    }

    .calender-box .maroon-box-medical h6,
    .calender-box .green-box-medical h6 {
        font-size: 9px;
    }

    .rectangle-count h6 {
        font-size: 16px;
    }

    .los-header:before,
    .edd-header:before,
    .sdec-patient-wrapper:before {
        border-radius: 0 4px 4px 0;
    }

    .bg-col-grey {
        border-radius: 0 4px 4px 0;
    }

    .grey-tile-bottom,
    .bg-faculty-task,
    .tile-shape-whitebottom,
    .rectangle-count,
    .calender-box,
    .tile-left-medical,
    .bg-wine-red,
    .medical-details-card,
    .ambo-section .bg-green,
    .tile-movement .bg-move,
    .tile-movement .bg-move-not,
    .cdt-cell,
    .patients-area-details .medical-details-card,
    .sdec-patient-count .count-box {
        border-radius: 4px;
    }

    .sdec-patient-count .count-box {
        height: 50px;
    }

    .card-medical span,
    .bg-yellow span,
    .card-medical p,
    .bg-blue span,
    .bg-green span,
    .bg-dark-blue span {
        font-size: 10px;
    }

    .bg-col-grey {
        border-radius: 0 4px 4px 0;
    }

    .sdec-patient-wrapper .grey-tile-bottom,
    .edd-header .grey-tile-bottom {
        border-radius: 0 4px 4px 0;
    }

    .card-medical {
        border-radius: 0 0 4px 4px;
    }

    .green-box-medical,
    .maroon-box-medical,
    .priority-tasks .work-plan .name-header,
    .sdec-patient-count .header-box {
        border-radius: 4px 4px 0 0;
    }

    .tile-movement .bg-move,
    .tile-movement .bg-not-move {
        min-height: 40px;

    }

    .bg-wine-red {
        min-height: 101px;
    }

    .cdt-cell {
        min-height: 107px;
    }

    .ward-header-row {
        border-radius: 4px 4px 0 0;
    }

    .ward-icons table tbody tr td {
        padding: 1px 0;
        text-align: center;
    }

    .doctor-work-plan .work-plan .name-header,
    .nurse-work-plan .work-plan .name-header {
        border-radius: 4px 4px 0 0;
    }

    .patients-area-details .medical-details-card .card-medical,
    .doctor-work-plan .work-plan .plan-details:last-child,
    .nurse-work-plan .work-plan .plan-details:last-child {
        border-radius: 0 0 4px 4px;
    }

    .doctor-work-plan .work-plan .plan-details,
    .nurse-work-plan .work-plan .plan-details {
        padding: 0 .5rem .5rem .5rem;
    }

    .priority-tasks .work-plan .task-details table tbody tr:last-child td:first-child {
        border-radius: 0 0 0 4px;
    }

    .priority-tasks .work-plan .task-details table tbody tr:last-child td:last-child {
        border-radius: 0 0 4px 0;
    }

    .grey-tile-bottom,
    .tile-shape-whitebottom {
        left: 0;
    }

    .ward-summary-header .row .col-md-6:nth-child(1),
    .ward-summary-header .row .col-md-6:nth-child(2),
    .ward-summary-header .row .col-md-4:nth-child(3),
    .ward-summary-header .row .col-md-8:nth-child(4) {
        padding: 0 .75rem;
    }

    .ward-summary-header .row .inner-row .col-8:nth-child(5) {
        padding: 0 .5rem 0 .75rem;
    }

    .ward-summary-header .row .inner-row .col-4:nth-child(6) {
        padding: 0 .75rem 0 0;
    }

    .draggable.active {
        border-radius: 4px;
    }
}

@media(max-width:359px) {

    .maroon-circle,
    .purple-circle {
        width: 20px;
        height: 20px;
    }

    .tile-left-medical {
        padding: .25rem;
    }

    .bg-wine-red h6 {
        font-size: 6px;
    }
}